<%
	function formatReportPartStatus(part, isAddendum)
	{
		var statusText = part.Status + " as of " + part.StatusDateTime;
		var warningText = " *** THIS " + (isAddendum ? "ADDENDUM" : "REPORT") + " HAS NOT BEEN VERIFIED ***";
		if (part.Status.toUpperCase() !== 'FINAL')
			statusText = "<font color='red'>" + statusText + warningText + "</font>";

		return " (" + statusText + ")";
	}
%>
<html>
<head>
	<title>Report Template</title>
	<link href="report.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<form id="myForm">
		<div id="letterhead">
			<div id="letterheadLogo">
				<img src="totallyrad.jpg"/>
			</div>
			<div id="letterheadFacility">
				<div id="letterheadFacilityName">TotallyRAD</div>
				<div id="letterheadFacilityDescription">Radiology Clinic</div>
			</div>
			<div id="letterheadAddress">
				<div id="letterheadAddress1">123 Buttondown St. Unit 4050</div>
				<div id="letterheadAddress2">Metropolis, ON Canada</div>
				<div id="letterheadPhone">(777) 555-5555</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="recipient">
			<div id="recipientName"><%= Recipient.Name %></div>
			<div id="recipientAddress1"><%= (Recipient.Address.Unit ? Recipient.Address.Unit + "-" : "") + Recipient.Address.Street %></div>
			<div id="recipientAddress2"><%= [Recipient.Address.City, Recipient.Address.Province, Recipient.Address.PostalCode].join(" ") %></div>
			<div id="recipientAddress3"><%= Recipient.Address.Country %></div>
		</div>
		<div id="ordersummary">
			<div class="leftcolumn">
				<table>
					<tbody valign="top">
						<tr>
							<td class="propertyname">Patient:</td>
							<td><%= Patient.Name %></td>
						</tr>
						<tr>
							<td class="propertyname">A#:</td>
							<td><%= AccessionNumber %></td>
						</tr>
						<tr>
							<td class="propertyname">Ordering Practitioner:</td>
							<td><%= OrderingPractitioner.Name %></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="rightcolumn">
				<table>
					<tbody valign="top">
						<tr>
							<td class="propertyname">MRN:</td>
							<td><%= Patient.Mrn %></td>
						</tr>
						<tr>
							<td class="propertyname">Birth Date:</td>
							<td><%= Patient.DateOfBirth %></td>
						</tr>
					</tbody>
				</table>
				<table>
					<tbody valign="top">
						<tr>
							<td class="propertyname">Procedures:</td>
							<td><%= Procedures %></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="clear"></div>
		</div>
		<div id="reportSection">
		<% for (var i = ReportParts.Count - 1; i >= 0; i--) {
			var part = ReportParts[i]; %>
			<div class="reportPart">
				<b><%= i > 0 ? "Addendum" : "Report" %> <%= formatReportPartStatus(part, i > 0) %></b>
				<br><br>
				<%= part.Body %>
				<br>
				<% if(part.InterpretedBy) { %>
				<br> Interpreted By: <%= part.InterpretedBy %>
				<% } %>
				<% if(part.TranscribedBy) { %>
				<br> Transcribed By: <%= part.TranscribedBy %>
				<% } %>
				<% if(part.VerifiedBy) { %>
				<br> Verified By: <%= part.VerifiedBy %>
				<% } %>
				<% if(part.SupervisedBy) { %>
				<br> Supervised By: <%= part.SupervisedBy %>
				<% } %>
				<br><br>
			</div>
		<% } %>
		</div>
		<div id="endofreport">***** END OF REPORT *****</div>
		<div id="footer">(Medical Imaging Report for Patient: <span id="patientFooter"><%= Patient.Name %></span>; MRN: <span id="mrnFooter"><%= Patient.Mrn %></span>)</div>
	</form>
</body>
</html>