.CSSDefaultPopupDialogBackground
{
	background-color: #345;
	filter:alpha(opacity=50); opacity:0.5;
}

.CSSDefaultPopupDialogTitleBarLeft
{
	background-image: url(../../images/Dialog/DialogTitleBarBG-left.gif);
	background-repeat:no-repeat;
	width:5px;
}


.CSSDefaultPopupDialogTitleBarTitle
{
	cursor: move;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	font-weight:bold;
	padding:0px;
	height:25px;
	background-image: url(../../images/Dialog/DialogTitleBarBG.gif);
	background-repeat: repeat-x;
}

.CSSDefaultPopupDialogTitleBarControlBoxes
{
	cursor: move;
	vertical-align: middle;
	text-align: right;
	color: #ffffff;
	font-size: medium;
	font-weight:normal;
	padding:0px;
	height:25px;
	background-image: url(../../images/Dialog/DialogTitleBarBG.gif);
	background-repeat: repeat-x;
	width:25px;
}


.CSSDefaultPopupDialogTitleBarRight
{
	text-align:right;
	background-image: url(../../images/Dialog/DialogTitleBarBG-right.gif);
	background-repeat:no-repeat;
	width:5px;
}


.CSSDefaultPopupDialogContent
{
	vertical-align: top;
	padding: 15px;
	background-color: #f8f8ff;
	border-right: #ccccff 1px solid;
	border-top: #ccccff 1px solid;
	border-left: #ccccff 1px solid;
	border-bottom: #ccccff 1px solid;
}

/*************************************************************************************************
	
	AJAX Tabcontrol CSS for tabs used in popup dialog 

*************************************************************************************************/

/* .ajax__tab_header - A container element that wraps all of the tabs at the top of the TabContainer. Child CSS classes:.ajax__tab_outer. */
/* .ajax__tab_outer - An outer element of a tab, often used to set the left-side background image of the tab.Child CSS classes: .ajax__tab_inner. */
/* .ajax__tab_inner	 - An inner element of a tab, often used to set the right-side image of the tab. Child CSS classes:.ajax__tab_tab. */
/* .ajax__tab_tab - An element of the tab that contains the text content. Child CSS classes:none. */
/* .ajax__tab_body - A container element that wraps the area where a TabPanel is displayed. Child CSS classes: none. */
/* .ajax__tab_hover - This is applied to a tab when the mouse is hovering over. Child CSS classes:.ajax__tab_outer. */
/* .ajax__tab_active - This is applied to a tab when it is the currently selected tab. Child CSS classes:.ajax__tab_outer. */   


/*************************************************************************************************
	Background styles
*************************************************************************************************/

.CSSDialogTabControl .ajax__tab_header					
{
	background: url(../../images/Controls/Tabs/tab-line.gif) repeat-x bottom; 
	vertical-align:bottom;
}
.CSSDialogTabControl .ajax__tab_outer
{
	background: url(../../images/Controls/Tabs/tab-right.gif) no-repeat right;
}
.CSSDialogTabControl .ajax__tab_inner
{
	background: url(../../images/Controls/Tabs/tab-left.gif) no-repeat;
}
.CSSDialogTabControl .ajax__tab_tab
{
	background: url(../../images/Controls/Tabs/tab.gif) repeat-x;
}
.CSSDialogTabControl .ajax__tab_hover .ajax__tab_outer
{
	background: url(../../images/Controls/Tabs/tab-right.gif) no-repeat right;
}
.CSSDialogTabControl .ajax__tab_hover .ajax__tab_inner
{
	background: url(../../images/Controls/Tabs/tab-left.gif) no-repeat;
}
.CSSDialogTabControl .ajax__tab_hover .ajax__tab_tab
{
	background: url(../../images/Controls/Tabs/tab.gif) repeat-x;
}
.CSSDialogTabControl .ajax__tab_active .ajax__tab_outer
{
	background: url(../../images/Controls/Tabs/tab-active-right.gif) no-repeat right;
}
.CSSDialogTabControl .ajax__tab_active .ajax__tab_inner
{
	background: url(../../images/Controls/Tabs/tab-active-left.gif) no-repeat;
}
.CSSDialogTabControl .ajax__tab_active .ajax__tab_tab
{
	background: url(../../images/Controls/Tabs/tab-active.gif) repeat-x;
	
}


/*************************************************************************************************
	Other styles
*************************************************************************************************/
.CSSDialogTabControl .ajax__tab_header
{
	vertical-align:bottom;
}
	
.CSSDialogTabControl .ajax__tab_outer
{
	height: 29px;
}
.CSSDialogTabControl .ajax__tab_inner
{
	padding-left: 3px;
}
.CSSDialogTabControl .ajax__tab_tab
{
	padding: 6px 6px;
	margin: 0;
	font-size:100%;	
}

.CSSDialogTabControl .ajax__tab_active .ajax__tab_tab
{
	font-size:100%;
}

.CSSDialogTabControl .ajax__tab_body
{
	margin: 0px;
	padding: 5px;
	border-right: darkgray 1px solid;
	border-top: darkgray 1px solid;
	border-left: darkgray 1px solid;
	border-bottom: darkgray 1px solid;
}
