.GlobalGridView
{
    font-family: Sans-Serif;
    font-size: 12px;
    background-color: White;
    padding: 1px 1px 1px 1px;
    border: solid 1px #3d98d1; 
}

.GlobalGridViewHeader
{
	background-color: #eeeeee;
	text-align: left;
	color: #205F87;
}

.GlobalGridViewRow
{
    
}

.GlobalGridViewRow td
{
    border-bottom: solid 2px #eeeeee;
    border-top: solid 2px #eeeeee;
}

.GlobalGridViewSelectedRow
{
    background-color: #dddddd;
    border-bottom: solid 2px #dddddd;
    border-top: solid 2px #dddddd;
    color: Black;
}

.GlobalGridViewSelectedRow td
{
    background-color: #dddddd;
    border-bottom: solid 2px #dddddd;
    border-top: solid 2px #dddddd;
    color: Black;
}

/*==========================================
 * Grid Pager
 *==========================================*/

.GlobalGridPagerLabel
{
    font-family: Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    color: #D13D4D; 
    padding-left: 3px;
    vertical-align: middle;
}

.GlobalGridPagerLink
{
    font-family: Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #D13D4D; 
    vertical-align: middle;
}


/* Container for the gridview */
.CSSGridViewPanelContainer
{
    
}

/* gridview content panel */
.CSSGridViewPanelContent
{
    
}


/* gridview control styling */
.CSSGridView
{
	border-bottom: solid 1px #cccccc;
	border-left: solid 0px white;
	border-right: solid 0px white;
	border-top: solid 0px white;
	margin: 0px 0px 0px 0px;
}

/* gridview control header row */
.CSSGridHeader th
{	
	font-family: Sans-Serif;
	font-size: 14px;
	font-weight: bold;

	padding: 10px 1px 3px 3px;
	border-bottom: solid 2px black;
	border-left: solid 0px white;
	border-right: solid 0px white;
	border-top: solid 0px white;
}

/* gridview control row */
.CSSGridRowStyle
{
	border-bottom: solid 1px #cccccc;
	border-left: solid 0px white;
	border-right: solid 0px white;
	border-top: solid 0px white;
}

/* gridview control cell */
.CSSGridRowStyle td
{
    padding: 3px 5px 3px 7px;
    margin: 0px 0px 0px 0px;
}

/* Alternating row style */
.CSSGridAlternatingRowStyle
{
	background-color:#F7F6F3;
	border-bottom: solid 1px #cccccc;
	border-left: solid 0px white;
	border-right: solid 0px white;
	border-top: solid 0px white;
}

/* Alternating row cell style */
.CSSGridAlternatingRowStyle td
{	
    padding: 3px 5px 3px 7px;
	background-color:#F7F6F3;
}

/* gridview control selected row */
.CSSGridSelectedRowStyle
{
	background-color:#cccccc;
	color: black;
	border-bottom: solid 0px white;
	border-left: solid 0px white;
	border-right: solid 0px white;
	border-top: solid 0px white;
}

/* gridview cell of the selected row */
.CSSGridSelectedRowStyle td
{
    padding: 3px 5px 3px 7px;
    margin: 0px 0px 0px 0px;
}

