<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHeaderRetrievalService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65530006"
                    messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Certificate" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50221/HeaderRetrieval/HeaderRetrieval"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHeaderRetrievalService"
                contract="HeaderStressTest.services.IHeaderRetrievalService"
                name="WSHttpBinding_IHeaderRetrievalService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA8GIvT27ixmNxGZMBClQqeEkkPyYgAAAAAQAAALcBAAAwggGzMIIBYaADAgECAhDhSH9TITXDg0S2PVzwRkJaMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMDgwMjIxMTkxMTU0WhcNMzkxMjMxMjM1OTU5WjAWMRQwEgYDVQQDEwtJbWFnZVNlcnZlcjCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA0svt2BsM7RG5dWpGBojct4/brnIn89IHZ8d3gD+ZuX8hEeoFVDHky9xvHd0dl9mpuzxsHTWlChIPq2TUXcIPyQoofwY8daBx5556Oi+U0asoNWzuDl6iemyM/oYGn2ccnPND13dGVi8GRZqX45BgkyVprjaSxflida60y10hHE0CAwEAAaNLMEkwRwYDVR0BBEAwPoAQEuQJLQYdHU8AjWEh3BZkY6EYMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5ghAGN2wAqgBkihHPuNSqXDX0MAkGBSsOAwIdBQADQQB66U5tDtBVtCN8KNPM22/j4iD8Fn53NLwTcyGVS3AcORdAl3EBnNFvPzT8L+v0Eyg71udDaQ7cZEI6enSt2XzV" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>