<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageViewer.Common.StudyManagement.StorageSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.ImageViewer.Common.StudyManagement.StudyDeletionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.ImageViewer.Common.DicomServer.DicomServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.ImageViewer.Common.WorkItem.DicomSendSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.ImageViewer.Common.StorageMonitorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <ClearCanvas.ImageViewer.Common.StudyManagement.StorageSettings>
            <setting name="FileStoreDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimumFreeSpacePercent" serializeAs="String">
                <value>-1</value>
            </setting>
        </ClearCanvas.ImageViewer.Common.StudyManagement.StorageSettings>
        <ClearCanvas.ImageViewer.Common.StudyManagement.StudyDeletionSettings>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeUnit" serializeAs="String">
                <value>Weeks</value>
            </setting>
            <setting name="TimeValue" serializeAs="String">
                <value>1</value>
            </setting>
        </ClearCanvas.ImageViewer.Common.StudyManagement.StudyDeletionSettings>
        <ClearCanvas.ImageViewer.Common.DicomServer.DicomServerSettings>
            <setting name="HostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="AETitle" serializeAs="String">
                <value>CLEARCANVAS</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="AllowUnknownCaller" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QueryResponsesInUtf8" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.ImageViewer.Common.DicomServer.DicomServerSettings>
        <ClearCanvas.ImageViewer.Common.WorkItem.DicomSendSettings>
            <setting name="RetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RetryDelay" serializeAs="String">
                <value>10</value>
            </setting>
        </ClearCanvas.ImageViewer.Common.WorkItem.DicomSendSettings>
        <ClearCanvas.ImageViewer.Common.StorageMonitorSettings>
            <setting name="LowStorageWarningThresholdInMB" serializeAs="String">
                <value>1000</value>
            </setting>
        </ClearCanvas.ImageViewer.Common.StorageMonitorSettings>
    </applicationSettings>
</configuration>
