<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Shreds.Mwl.MwlSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />       
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Shreds.Mwl.MwlSettings>
            <setting name="Port" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="AeTitle" serializeAs="String">
                <value>CCMWL</value>
            </setting>
            <setting name="MwlShredName" serializeAs="String">
                <value>Modality Worklist Server Shred</value>
            </setting>
            <setting name="MwlShredDescription" serializeAs="String">
                <value>Modality Worklist Server Shred</value>
            </setting>
            <setting name="DefaultScheduledProcedureStepStartDateMin" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DefaultScheduledProcedureStepDateMax" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MaxQueryResults" serializeAs="String">
                <value>100</value>
            </setting>
        </ClearCanvas.Ris.Shreds.Mwl.MwlSettings>    
    </applicationSettings>
</configuration>