<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Desktop.Help.HelpSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Desktop.Help.UpdateTools.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.ImageViewer.StudyManagement.ValidationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Desktop.Actions.ActionModelSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ClearCanvas.Desktop.Help.HelpSettings>
      <setting name="UserGuidePath" serializeAs="String">
        <value>CCWorkstationUsersGuide.chm</value>
      </setting>
    </ClearCanvas.Desktop.Help.HelpSettings>
    <ClearCanvas.Desktop.Help.UpdateTools.Settings>
      <setting name="UpdateInformationServiceUrl" serializeAs="String">
        <value>http://apps.clearcanvas.ca/UpdateServices/UpdateInformationService.asmx</value>
      </setting>
    </ClearCanvas.Desktop.Help.UpdateTools.Settings>
    <ClearCanvas.ImageViewer.StudyManagement.ValidationSettings>
      <setting name="DisableSopValidation" serializeAs="String">
        <value>False</value>
      </setting>
    </ClearCanvas.ImageViewer.StudyManagement.ValidationSettings>
  </applicationSettings>
  <userSettings>
    <ClearCanvas.Desktop.Actions.ActionModelSettings>
      <setting name="ActionModelsXml" serializeAs="Xml">
        <value>
          <action-models>
            <action-model id="ClearCanvas.Desktop.DesktopWindow:global-menus">
              <action id="ClearCanvas.Desktop.View.WinForms.StockDesktopTools+CloseWorkspaceTool:closeWorkspace" path="global-menus/MenuFile/MenuCloseWorkspace" group-hint="Application.Workspace.Close" />
              <action id="ClearCanvas.Desktop.View.WinForms.StockDesktopTools+ExitAppTool:exit" path="global-menus/MenuFile/MenuExitApplication" group-hint="Application.Exit" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.EditHistoryTool:undo" path="global-menus/MenuEdit/MenuUndo" group-hint="Application.Edit.Undo" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.EditHistoryTool:redo" path="global-menus/MenuEdit/MenuRedo" group-hint="Application.Edit.Redo" />
              <action id="ClearCanvas.ImageViewer.Clipboard.ShowClipboardTool:show" path="global-menus/MenuView/MenuShowClipboard" group-hint="Application.View.Clipboard" />
              <action id="ClearCanvas.ImageViewer.Thumbnails.ShowThumbnailsTool:show" path="global-menus/MenuView/MenuShowThumbnails" group-hint="Application.View.Thumbnails" />
              <action id="ClearCanvas.ImageViewer.Layout.Basic.LayoutTool:show" path="global-menus/MenuTools/MenuStandard/MenuLayoutManager" group-hint="Application.Workspace.Layout.Basic" />
              <action id="ClearCanvas.ImageViewer.Layout.Basic.ExplodeImageBoxTool:explodeImageBox" path="global-menus/MenuTools/MenuStandard/MenuExplodeImageBox" group-hint="Tools.Layout.ImageBox.Explode" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.CineTool:activate" path="global-menus/MenuTools/MenuStandard/MenuCine" group-hint="Tools.Image.Manipulation.Stacking.Cine" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.StackTool:activate" path="global-menus/MenuTools/MenuStandard/MenuStack" group-hint="Tools.Image.Manipulation.Stacking.Standard" />
              <action id="ClearCanvas.ImageViewer.Tools.Synchronization.StackingSynchronizationTool:synchronize" path="global-menus/MenuTools/MenuSynchronization/MenuSynchronizeStacking" group-hint="Tools.Image.Manipulation.Stacking.Synchronize" />
              <action id="ClearCanvas.ImageViewer.Tools.Synchronization.StackingSynchronizationTool:linkStudies" path="global-menus/MenuTools/MenuSynchronization/MenuSynchronizeStackingLinkStudies" group-hint="Tools.Image.Manipulation.Stacking.LinkStudies" />
              <action id="ClearCanvas.ImageViewer.Tools.Synchronization.ReferenceLineTool:activate" path="global-menus/MenuTools/MenuSynchronization/MenuReferenceLines" group-hint="Tools.Image.Synchronization.ReferenceLines.Current" />
              <action id="ClearCanvas.ImageViewer.Tools.Synchronization.SpatialLocatorTool:activate" path="global-menus/MenuTools/MenuSynchronization/SpatialLocator" group-hint="Tools.Image.Synchronization.SpatialLocator" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.WindowLevelTool:activate" path="global-menus/MenuTools/MenuStandard/MenuWindowLevel" group-hint="Tools.Image.Manipulation.Lut.WindowLevel" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.PanTool:activate" path="global-menus/MenuTools/MenuStandard/MenuPan" group-hint="Tools.Image.Manipulation.Pan" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.ZoomTool:activate" path="global-menus/MenuTools/MenuStandard/MenuZoom" group-hint="Tools.Image.Manipulation.Zoom" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.ProbeTool:activate" path="global-menus/MenuTools/MenuStandard/MenuProbe" group-hint="Tools.Image.Interrogation.Probe" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.FlipVerticalTool:activate" path="global-menus/MenuTools/MenuStandard/MenuFlipVertical" group-hint="Tools.Image.Manipulation.Orientation.Flip.Vertical" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.FlipHorizontalTool:activate" path="global-menus/MenuTools/MenuStandard/MenuFlipHorizontal" group-hint="Tools.Image.Manipulation.Orientation.Flip.Horizontal" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.RotateLeftTool:activate" path="global-menus/MenuTools/MenuStandard/MenuRotateLeft" group-hint="Tools.Image.Manipulation.Orientation.Rotate.Left" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.RotateRightTool:activate" path="global-menus/MenuTools/MenuStandard/MenuRotateRight" group-hint="Tools.Image.Manipulation.Orientation.Rotate.Right" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.InvertTool:activate" path="global-menus/MenuTools/MenuStandard/MenuInvert" group-hint="Tools.Image.Manipulation.Invert" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.MatchFieldOfViewTool:activate" path="global-menus/MenuTools/MenuStandard/MenuMatchFieldOfView" group-hint="Tools.Image.Manipulation.MatchFieldOfView" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.ResetTool:activate" path="global-menus/MenuTools/MenuStandard/MenuReset" group-hint="Tools.Image.Manipulation.Reset" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.TextOverlayTool:showHide" path="global-menus/MenuTools/MenuStandard/MenuShowHideTextOverlay" group-hint="Tools.Image.Overlays.Text.ShowHide" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.ScaleOverlayTool:showHide" path="global-menus/MenuTools/MenuStandard/MenuShowHideScaleOverlay" group-hint="Tools.Image.Overlays.Scale.ShowHide" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.RulerTool:activate" path="global-menus/MenuTools/MenuMeasurement/MenuRuler" group-hint="Tools.Image.Measurement.Roi.Linear" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.EllipticalRoiTool:activate" path="global-menus/MenuTools/MenuMeasurement/MenuEllipticalRoi" group-hint="Tools.Image.Measurement.Roi.Elliptical" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.RectangularRoiTool:activate" path="global-menus/MenuTools/MenuMeasurement/MenuRectangularRoi" group-hint="Tools.Image.Measurement.Roi.Rectangular" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.PolygonalRoiTool:activate" path="global-menus/MenuTools/MenuMeasurement/MenuPolygonalRoi" group-hint="Tools.Image.Measurement.Roi.Polygonal" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.ProtractorTool:activate" path="global-menus/MenuTools/MenuMeasurement/MenuProtractor" group-hint="Tools.Image.Measurement.Angle" />
              <action id="ClearCanvas.ImageViewer.Layout.Basic.DisplaySetNavigationTool:previous" path="global-menus/MenuTools/MenuStandard/MenuPreviousDisplaySet" group-hint="Tools.Navigation.DisplaySets.Previous" />
              <action id="ClearCanvas.ImageViewer.Layout.Basic.DisplaySetNavigationTool:next" path="global-menus/MenuTools/MenuStandard/MenuNextDisplaySet" group-hint="Tools.Navigation.DisplaySets.Next" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.DicomSendReceiveActivityTool:activate" path="global-menus/MenuTools/MenuUtilities/MenuDicomSendReceiveActivity" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.DicomFileImportActivityTool:activate" path="global-menus/MenuTools/MenuUtilities/MenuDicomFileImportActivity" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.LocalDataStoreReindexTool:activate" path="global-menus/MenuTools/MenuUtilities/MenuLocalDataStoreReindex" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.DicomEditorTool:activate" path="global-menus/MenuTools/MenuUtilities/MenuDicomEditor" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.LocateOnDiskTool:activate" path="global-menus/MenuTools/MenuUtilities/MenuLocateOnDisk" group-hint="" />
              <action id="ClearCanvas.Desktop.Configuration.SettingsManagementLaunchTool:activate" path="global-menus/MenuTools/MenuUtilities/MenuConfigureSettings" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.MemoryUsageTool:apply" path="global-menus/MenuTools/MenuUtilities/MenuMemoryUsage" group-hint="" />
              <action id="ClearCanvas.Desktop.ExtensionBrowser.ExtensionBrowserTool:show" path="global-menus/MenuTools/MenuUtilities/MenuExtensionBrowser" group-hint="Application.Browsing.Extensions" />
              <separator />
              <action id="ClearCanvas.Desktop.Configuration.Tools.OptionsTool:show" path="global-menus/MenuTools/MenuOptions" group-hint="Application.Options" />
              <action id="ClearCanvas.Desktop.Help.HelpTool:showUsersGuide" path="global-menus/MenuHelp/MenuUsersGuide" group-hint="Application.Help.UsersGuide" />
              <action id="ClearCanvas.Desktop.Help.HelpTool:showWebsite" path="global-menus/MenuHelp/MenuWebsite" group-hint="Application.Help.Website" />
              <action id="ClearCanvas.Desktop.Help.HelpTool:showLicense" path="global-menus/MenuHelp/MenuLicense" group-hint="Application.Help.License" />
              <separator />
              <action id="ClearCanvas.Desktop.Help.HelpTool:checkForUpdates" path="global-menus/MenuHelp/MenuCheckForUpdates" group-hint="Application.Help.Updates" />
              <action id="ClearCanvas.Desktop.Help.HelpTool:showAbout" path="global-menus/MenuHelp/MenuAbout" group-hint="Application.Help.About" />
            </action-model>
            <action-model id="ClearCanvas.Desktop.DesktopWindow:global-toolbars">
              <action id="ClearCanvas.ImageViewer.Tools.Standard.EditHistoryTool:undo" path="global-toolbars/ToolbarStandard/ToolbarUndo" group-hint="Application.Edit.Undo" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.EditHistoryTool:redo" path="global-toolbars/ToolbarStandard/ToolbarRedo" group-hint="Application.Edit.Redo" />
              <action id="ClearCanvas.ImageViewer.Clipboard.ShowClipboardTool:show" path="global-toolbars/ToolbarStandard/ToolbarShowClipboard" group-hint="Application.View.Clipboard" />
              <action id="ClearCanvas.ImageViewer.Thumbnails.ShowThumbnailsTool:show" path="global-toolbars/ToolbarStandard/ToolbarShowThumbnails" group-hint="Application.View.Thumbails" />
              <action id="ClearCanvas.ImageViewer.Layout.Basic.LayoutTool:show" path="global-toolbars/ToolbarStandard/ToolbarLayoutManager" group-hint="Application.Workspace.Layout.Basic" />
              <action id="ClearCanvas.ImageViewer.Layout.Basic.ExplodeImageBoxTool:explodeImageBox" path="global-toolbars/ToolbarStandard/ToolbarExplodeImageBox" group-hint="Tools.Layout.ImageBox.Explode" />
              <action id="ClearCanvas.ImageViewer.Tools.Reporting.KeyImages.KeyImageTool:show" path="global-toolbars/ToolbarStandard/ToolbarShowKeyImages" group-hint="KeyImages" />
              <action id="ClearCanvas.ImageViewer.Tools.Reporting.KeyImages.KeyImageTool:create" path="global-toolbars/ToolbarStandard/ToolbarCreateKeyImage" group-hint="KeyImages" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.CineTool:activate" path="global-toolbars/ToolbarStandard/ToolbarCine" group-hint="Tools.Image.Manipulation.Stacking.Cine" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.StackTool:activate" path="global-toolbars/ToolbarStandard/ToolbarStack" group-hint="Tools.Image.Manipulation.Stacking.Standard" />
              <action id="ClearCanvas.ImageViewer.Tools.Synchronization.StackingSynchronizationTool:synchronize" path="global-toolbars/ToolbarSynchronization/ToolbarSynchronizeStacking" group-hint="Tools.Image.Manipulation.Stacking.Synchronize" />
              <action id="ClearCanvas.ImageViewer.Tools.Synchronization.StackingSynchronizationTool:linkStudies" path="global-toolbars/ToolbarSynchronization/ToolbarSynchronizeStackingLinkStudies" group-hint="Tools.Image.Manipulation.Stacking.LinkStudies" />
              <action id="ClearCanvas.ImageViewer.Tools.Synchronization.ReferenceLineTool:activate" path="global-toolbars/ToolbarSynchronization/ToolbarReferenceLines" group-hint="Tools.Image.Synchronization.ReferenceLines.Current" />
              <action id="ClearCanvas.ImageViewer.Tools.Synchronization.SpatialLocatorTool:activate" path="global-toolbars/ToolbarSynchronization/ToolbarSpatialLocator" group-hint="Tools.Image.Synchronization.SpatialLocator" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.WindowLevelTool:activate" path="global-toolbars/ToolbarStandard/ToolbarWindowLevel" group-hint="Tools.Image.Manipulation.Lut.WindowLevel" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.ZoomTool:activate" path="global-toolbars/ToolbarStandard/ToolbarZoom" group-hint="Tools.Image.Manipulation.Zoom" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.PanTool:activate" path="global-toolbars/ToolbarStandard/ToolbarPan" group-hint="Tools.Image.Manipulation.Pan" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.ProbeTool:activate" path="global-toolbars/ToolbarStandard/ToolbarProbe" group-hint="Tools.Image.Interrogation.Probe" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.FlipVerticalTool:activate" path="global-toolbars/ToolbarStandard/ToolbarFlipVertical" group-hint="Tools.Image.Manipulation.Orientation.Flip.Vertical" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.FlipHorizontalTool:activate" path="global-toolbars/ToolbarStandard/ToolbarFlipHorizontal" group-hint="Tools.Image.Manipulation.Orientation.Flip.Horizontal" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.RotateLeftTool:activate" path="global-toolbars/ToolbarStandard/ToolbarRotateLeft" group-hint="Tools.Image.Manipulation.Orientation.Rotate.Left" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.RotateRightTool:activate" path="global-toolbars/ToolbarStandard/ToolbarRotateRight" group-hint="Tools.Image.Manipulation.Orientation.Rotate.Right" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.InvertTool:activate" path="global-toolbars/ToolbarStandard/ToolbarInvert" group-hint="Tools.Image.Manipulation.Invert" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.MatchFieldOfViewTool:activate" path="global-toolbars/ToolbarStandard/MenuMatchFieldOfView" group-hint="Tools.Image.Manipulation.MatchFieldOfView" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.ResetTool:activate" path="global-toolbars/ToolbarStandard/ToolbarReset" group-hint="Tools.Image.Manipulation.Reset" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.TextOverlayTool:showHide" path="global-toolbars/ToolbarStandard/ToolbarShowHideTextOverlay" group-hint="Tools.Image.Overlays.Text.ShowHide" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.ScaleOverlayTool:showHide" path="global-toolbars/ToolbarStandard/ToolbarShowHideScaleOverlay" group-hint="Tools.Image.Overlays.Scale.ShowHide" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.RulerTool:activate" path="global-toolbars/ToolbarMeasurement/ToolbarRuler" group-hint="Tools.Image.Measurement.Roi.Linear" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.EllipticalRoiTool:activate" path="global-toolbars/ToolbarMeasurement/ToolbarEllipticalRoi" group-hint="Tools.Image.Measurement.Roi.Elliptical" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.RectangularRoiTool:activate" path="global-toolbars/ToolbarMeasurement/ToolbarRectangularRoi" group-hint="Tools.Image.Measurement.Roi.Rectangular" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.PolygonalRoiTool:activate" path="global-toolbars/ToolbarMeasurement/ToolbarPolygonalRoi" group-hint="Tools.Image.Measurement.Roi.Polygonal" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.ProtractorTool:activate" path="global-toolbars/ToolbarMeasurement/ToolbarProtractor" group-hint="Tools.Image.Measurement.Angle" />
              <action id="ClearCanvas.ImageViewer.Layout.Basic.DisplaySetNavigationTool:previous" path="global-toolbars/ToolbarStandard/ToolbarPreviousDisplaySet" group-hint="Tools.Navigation.DisplaySets.Previous" />
              <action id="ClearCanvas.ImageViewer.Layout.Basic.DisplaySetNavigationTool:next" path="global-toolbars/ToolbarStandard/ToolbarNextDisplaySet" group-hint="Tools.Navigation.DisplaySets.Next" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.ImageViewerComponent:imageviewer-contextmenu">
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.DeleteAllMeasurementsTool:deleteall" path="imageviewer-contextmenu/MenuDeleteAllMeasurements" group-hint="Tools.Image.Measurement.DeleteAll" />
              <action id="ClearCanvas.ImageViewer.Tools.Reporting.KeyImages.KeyImageTool:create" path="imageviewer-contextmenu/MenuCreateKeyImage" group-hint="KeyImages" />
              <action id="ClearCanvas.ImageViewer.Clipboard.CopyToClipboard.CopyToClipboardTool:copyImage" path="imageviewer-contextmenu/MenuClipboard/MenuCopyImageToClipboard" group-hint="Clipboard" />
              <action id="ClearCanvas.ImageViewer.Clipboard.CopyToClipboard.CopyToClipboardTool:copyDisplaySet" path="imageviewer-contextmenu/MenuClipboard/MenuCopyDisplaySetToClipboard" group-hint="Clipboard" />
              <action id="ClearCanvas.ImageViewer.Clipboard.CopyToClipboard.CopyToClipboardTool:copySubset" path="imageviewer-contextmenu/MenuClipboard/MenuCopySubsetToClipboard" group-hint="Clipboard" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.StackTool:activate" path="imageviewer-contextmenu/MenuStack" group-hint="Tools.Image.Manipulation.Stacking.Standard" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.WindowLevelTool:activate" path="imageviewer-contextmenu/MenuWindowLevel" group-hint="Tools.Image.Manipulation.Lut.WindowLevel" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.LutPresetTool:auto" path="imageviewer-contextmenu/MenuLutPresets/auto" group-hint="Tools.Image.Manipulation.Lut.Presets" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.ZoomTool:activate" path="imageviewer-contextmenu/MenuZoom" group-hint="Tools.Image.Manipulation.Zoom" />
              <action id="ClearCanvas.ImageViewer.Tools.Standard.PanTool:activate" path="imageviewer-contextmenu/MenuPan" group-hint="Tools.Image.Manipulation.Pan" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.RulerTool:activate" path="imageviewer-contextmenu/MenuRuler" group-hint="Tools.Image.Measurement.ROI.Linear" />
              <action id="ClearCanvas.ImageViewer.Volume.Mpr.OpenMprTool:openMpr" path="imageviewer-contextmenu/MenuVolume/MenuOpenMpr" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Volume.Mpr.DefineObliqueTool:activate" path="imageviewer-contextmenu/MenuVolume/Define Oblique" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Volume.Mpr.RotateObliqueTool:activate" path="imageviewer-contextmenu/MenuVolume/Rotate Oblique" group-hint="" />
              <separator />
              <action id="ClearCanvas.ImageViewer.Layout.Basic.ContextMenuLayoutTool:display0" path="imageviewer-contextmenu/DisplaySets" group-hint="DisplaySets" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Explorer.Dicom.StudyBrowserComponent:dicomstudybrowser-toolbar">
              <action id="ClearCanvas.ImageViewer.Explorer.Dicom.OpenStudyTool:activate" path="dicomstudybrowser-toolbar/ToolbarOpenStudy" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.RetrieveStudyTool:activate" path="dicomstudybrowser-toolbar/ToolbarRetrieveStudy" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.SendStudyTool:activate" path="dicomstudybrowser-toolbar/ToolbarSendStudy" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.DeleteStudyTool:activate" path="dicomstudybrowser-toolbar/ToolbarDeleteStudy" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Explorer.Dicom.StudyBrowserComponent:dicomstudybrowser-contextmenu">
              <action id="ClearCanvas.ImageViewer.Explorer.Dicom.OpenStudyTool:activate" path="dicomstudybrowser-contextmenu/MenuOpenStudy" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.RetrieveStudyTool:activate" path="dicomstudybrowser-contextmenu/MenuRetrieveStudy" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.SendStudyTool:activate" path="dicomstudybrowser-contextmenu/MenuSendStudy" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.DeleteStudyTool:activate" path="dicomstudybrowser-contextmenu/MenuDeleteStudy" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Explorer.Local.LocalImageExplorerComponent:explorerlocal-contextmenu">
              <action id="ClearCanvas.ImageViewer.Explorer.Local.DicomImageLoaderTool:Open" path="explorerlocal-contextmenu/MenuOpenFiles" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Volume.Mpr.OpenMprLocalImageExplorerTool:OpenMpr" path="explorerlocal-contextmenu/MenuOpenMpr" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.DicomFileImportTool:Import" path="explorerlocal-contextmenu/ImportDicomFiles" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.DicomEditorTool:activate" path="explorerlocal-contextmenu/MenuDumpFiles" group-hint="Tools.Dicom.Editor" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.ServerTreeComponent:servertree-toolbar">
              <action id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.AddServerTool:activate" path="servertree-toolbar/ToolbarAddServer" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.AddServerGroupTool:activate" path="servertree-toolbar/ToolbarAddServerGroup" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.EditServerTool:activate" path="servertree-toolbar/ToolbarEdit" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.DeleteServerTool:activate" path="servertree-toolbar/ToolbarDelete" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.VerifyServerTool:activate" path="servertree-toolbar/ToolbarVerify" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.ServerTreeComponent:servertree-contextmenu">
              <action id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.AddServerTool:activate" path="servertree-contextmenu/MenuAddServer" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.AddServerGroupTool:activate" path="servertree-contextmenu/MenuAddServerGroup" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.EditServerTool:activate" path="servertree-contextmenu/MenuEdit" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.DeleteServerTool:activate" path="servertree-contextmenu/MenuDelete" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Configuration.ServerTree.VerifyServerTool:activate" path="servertree-contextmenu/MenuVerify" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.Utilities.DicomEditor.DicomEditorComponent:dicomeditor-toolbar">
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.PreviousTool:activate" path="dicomeditor-toolbar/ToolbarPrevious" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.NextTool:activate" path="dicomeditor-toolbar/ToolbarNext" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.QuickAnonymizeTool:activate" path="dicomeditor-toolbar/ToolbarQuickAnonymize" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.CreateTool:activate" path="dicomeditor-toolbar/ToolbarCreate" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.DeleteTool:activate" path="dicomeditor-toolbar/ToolbarDelete" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.ReplicateTool:activate" path="dicomeditor-toolbar/ToolbarReplicate" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.RevertTool:activate" path="dicomeditor-toolbar/ToolbarRevert" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.SaveTool:activate" path="dicomeditor-toolbar/ToolbarSaveAll" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.Utilities.DicomEditor.DicomEditorComponent:dicomeditor-contextmenu">
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.QuickAnonymizeTool:activate" path="dicomeditor-contextmenu/MenuQuickAnonymize" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.CreateTool:activate" path="dicomeditor-contextmenu/MenuCreate" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.DeleteTool:activate" path="dicomeditor-contextmenu/MenuDelete" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.ReplicateTool:activate" path="dicomeditor-contextmenu/MenuReplicate" group-hint="" />
              <action id="ClearCanvas.Utilities.DicomEditor.Tools.RevertTool:activate" path="dicomeditor-contextmenu/MenuRevert" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Services.Tools.ReceiveQueueApplicationComponent:receive-queue-toolbar">
              <action id="ClearCanvas.ImageViewer.Services.Tools.ReceiveQueueTools:openStudies" path="receive-queue-toolbar/ToolbarOpenStudies" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.ReceiveQueueTools:clearSelected" path="receive-queue-toolbar/ClearSelected" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.ReceiveQueueTools:clearAll" path="receive-queue-toolbar/ClearAll" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Services.Tools.ReceiveQueueApplicationComponent:receive-queue-contextmenu">
              <action id="ClearCanvas.ImageViewer.Services.Tools.ReceiveQueueTools:openStudies" path="receive-queue-contextmenu/MenuOpenStudies" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.ReceiveQueueTools:clearSelected" path="receive-queue-contextmenu/Clear" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Services.Tools.SendQueueApplicationComponent:send-queue-toolbar">
              <action id="ClearCanvas.ImageViewer.Services.Tools.SendQueueTools:clearSelected" path="send-queue-toolbar/ClearSelected" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.SendQueueTools:clearAll" path="send-queue-toolbar/ClearAll" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.SendQueueTools:showBackground" path="send-queue-toolbar/ShowBackgroundSends" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Services.Tools.SendQueueApplicationComponent:send-queue-contextmenu">
              <action id="ClearCanvas.ImageViewer.Services.Tools.SendQueueTools:clearSelected" path="send-queue-contextmenu/Clear" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Services.Tools.DicomFileImportApplicationComponent:dicom-file-import-toolbar">
              <action id="ClearCanvas.ImageViewer.Services.Tools.DicomFileImportTools:clearInactive" path="dicom-file-import-toolbar/ClearInactive" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.DicomFileImportTools:showBackground" path="dicom-file-import-toolbar/ShowBackground" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Services.Tools.DicomFileImportApplicationComponent:dicom-file-import-contextmenu">
              <action id="ClearCanvas.ImageViewer.Services.Tools.DicomFileImportTools:cancel" path="dicom-file-import-contextmenu/Cancel" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Services.Tools.DicomFileImportTools:clear" path="dicom-file-import-contextmenu/Clear" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.InteractiveGraphics.RoiGraphic:basicgraphic-menu">
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.DeleteMeasurementsTool:closemenu" path="basicgraphic-menu/MenuClose" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.CalibrationTool:calibrate" path="basicgraphic-menu/MenuCalibrationTool" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.DeleteMeasurementsTool:delete" path="basicgraphic-menu/MenuDeleteMeasurement" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Tools.Measurement.DeleteMeasurementsTool:deleteall" path="basicgraphic-menu/MenuDeleteAllMeasurements" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:clipboard-toolbar">
              <action id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:delete" path="clipboard-toolbar/ToolbarDeleteClipboardItem" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:deleteAll" path="clipboard-toolbar/ToolbarDeleteAllClipboardItems" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Clipboard.ImageExport.ExportToImageTool:export" path="clipboard-toolbar/ToolbarExportToImage" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Clipboard.ImageExport.ExportToVideoTool:export" path="clipboard-toolbar/ToolbarExportToVideo" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:keyimageclipboard-toolbar">
              <action id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:delete" path="keyimageclipboard-toolbar/ToolbarDeleteClipboardItem" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:deleteAll" path="keyimageclipboard-toolbar/ToolbarDeleteAllClipboardItems" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Tools.Reporting.KeyImages.EditKeyImageInformationTool:edit" path="keyimageclipboard-toolbar/EditKeyImageInformationTool" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:clipboard-contextmenu">
              <action id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:delete" path="clipboard-contextmenu/MenuDeleteClipboardItem" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:deleteAll" path="clipboard-contextmenu/MenuDeleteAllClipboardItems" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Clipboard.ImageExport.ExportToImageTool:export" path="clipboard-contextmenu/MenuExportToImage" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Clipboard.ImageExport.ExportToVideoTool:export" path="clipboard-contextmenu/MenuExportToVideo" group-hint="" />
            </action-model>
            <action-model id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:keyimageclipboard-contextmenu">
              <action id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:delete" path="keyimageclipboard-contextmenu/MenuDeleteClipboardItem" group-hint="" />
              <action id="ClearCanvas.ImageViewer.Clipboard.ClipboardComponent:deleteAll" path="keyimageclipboard-contextmenu/MenuDeleteAllClipboardItems" group-hint="" />
            </action-model>
          </action-models>
        </value>
      </setting>
    </ClearCanvas.Desktop.Actions.ActionModelSettings>
  </userSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ViewerAutomationBehaviour" name="ViewerAutomation">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IViewerAutomation"
          name="ViewerAutomation" contract="IViewerAutomation" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IViewerAutomation"
          name="ViewerAutomation" contract="IViewerAutomation" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51124/ClearCanvas/ImageViewer/Automation" />
            <add baseAddress="net.pipe://localhost/ClearCanvas/ImageViewer/Automation" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="StudyLocatorBehaviour" name="StudyLocator">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudyRootQuery"
          name="StudyLocator" contract="IStudyRootQuery" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IStudyRootQuery"
          name="StudyLocator" contract="IStudyRootQuery" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51124/ClearCanvas/ImageViewer/StudyLocator" />
            <add baseAddress="net.pipe://localhost/ClearCanvas/ImageViewer/StudyLocator" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ViewerAutomationBehaviour">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="StudyLocatorBehaviour">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHeaderStreamingService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="655360000" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000"
          messageEncoding="Mtom" textEncoding="utf-8" transferMode="Streamed"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IViewerAutomation" />
        <binding name="BasicHttpBinding_IStudyRootQuery" maxBufferSize="26214400" maxReceivedMessageSize="26214400" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ILocalDataStoreActivityMonitorService"
          closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="Infinite"
          sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered"
          transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
          maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_ILocalDataStoreService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IDicomServerService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IDicomSendService" />
        <binding name="NetNamedPipeBinding_IDiskspaceManagerService"
          closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered"
          transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
          maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IStudyRootQuery" maxBufferSize="26214400" maxReceivedMessageSize="26214400" />
        <binding name="NetNamedPipeBinding_IViewerAutomation" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/LocalDataStoreActivityMonitor/LocalDataStoreActivityMonitor"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILocalDataStoreActivityMonitorService"
          contract="ILocalDataStoreActivityMonitorService" name="NetNamedPipeBinding_ILocalDataStoreActivityMonitorService">
      </endpoint>
      <endpoint address="net.pipe://localhost/LocalDataStore/LocalDataStore"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILocalDataStoreService"
          contract="ILocalDataStoreService" name="NetNamedPipeBinding_ILocalDataStoreService">
      </endpoint>
      <endpoint address="net.pipe://localhost/DicomServer/DicomServer"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDicomServerService"
          contract="IDicomServerService" name="NetNamedPipeBinding_IDicomServerService">
      </endpoint>
      <endpoint address="net.pipe://localhost/DicomSend/DicomSend"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDicomSendService"
          contract="IDicomSendService" name="NetNamedPipeBinding_IDicomSendService">
      </endpoint>
      <endpoint address="net.pipe://localhost/DiskspaceManager/DiskspaceManager"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDiskspaceManagerService"
          contract="IDiskspaceManagerService" name="NetNamedPipeBinding_IDiskspaceManagerService">
      </endpoint>
      <endpoint
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHeaderStreamingService"
          contract="ClearCanvas.Dicom.ServiceModel.Streaming.IHeaderStreamingService" name="BasicHttpBinding_IHeaderStreamingService">
      </endpoint>
      <endpoint address="net.pipe://localhost/ClearCanvas/ImageViewer/StudyLocator"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IStudyRootQuery"
          contract="IStudyRootQuery" name="NetNamedPipeBinding_IStudyRootQuery">
      </endpoint>
      <endpoint address="net.pipe://localhost/ClearCanvas/ImageViewer/Automation"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IViewerAutomation"
          contract="IViewerAutomation" name="NetNamedPipeBinding_IViewerAutomation">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
