<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DicomExplorerAutomationBehaviour" name="DicomExplorerAutomation">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDicomExplorerAutomation"
          name="DicomExplorerAutomation" contract="IDicomExplorerAutomation" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDicomExplorerAutomation"
          name="DicomExplorerAutomation" contract="IDicomExplorerAutomation" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51124/ClearCanvas/ImageViewer/DicomExplorer/Automation" />
            <add baseAddress="net.pipe://localhost/ClearCanvas/ImageViewer/DicomExplorer/Automation" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DicomExplorerAutomationBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDicomExplorerAutomation" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IDicomExplorerAutomation" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/ClearCanvas/ImageViewer/DicomExplorerAutomation"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDicomExplorerAutomation"
          contract="IDicomExplorerAutomation" name="NetNamedPipeBinding_IDicomExplorerAutomation">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
