<configuration>
  <configSections>
    <section name="DiskspaceManagerSettings" type="ClearCanvas.ImageViewer.Shreds.DiskspaceManager.DiskspaceManagerSettings, ClearCanvas.ImageViewer.Shreds, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
    <section name="ShredHostServiceSettings" type="ClearCanvas.Server.ShredHost.ShredHostServiceSettings, ClearCanvas.Server.ShredHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
    <section name="DicomServerSettings" type="ClearCanvas.ImageViewer.Shreds.DicomServer.DicomServerSettings, ClearCanvas.ImageViewer.Shreds, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
    <section name="LocalDataStoreServiceSettings" type="ClearCanvas.ImageViewer.Shreds.LocalDataStore.LocalDataStoreServiceSettings, ClearCanvas.ImageViewer.Shreds, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Dicom.Network.NetworkSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <DiskspaceManagerSettings LowWatermark="60" HighWatermark="80" CheckFrequency="10" EnforceStudyLimit="false" StudyLimit="500" MinStudyLimit="30" MaxStudyLimit="10000"/>
  <ShredHostServiceSettings ShredHostHttpPort="51121" SharedHttpPort="51122"
    SharedTcpPort="51123" />
  <LocalDataStoreServiceSettings StorageDirectory="!filestore!"
    BadFileDirectory=".\badfiles\" SendReceiveImportConcurrency="2"
    DatabaseUpdateFrequencyMilliseconds="5000" PurgeTimeMinutes="120" />
  <DicomServerSettings HostName="localhost" AETitle="AETITLE"
    Port="104" InterimStorageDirectory=".\dicom_interim">
    <ImageStorageSopClasses>
      <clear />
      <add Uid="1.2.840.10008.5.1.4.1.1.1" Description="Computed Radiography Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.2" Description="CT Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.1.3" Description="Digital Intra-oral X-Ray Image Storage – For Presentation" />
      <add Uid="1.2.840.10008.5.1.4.1.1.1.3.1" Description="Digital Intra-oral X-Ray Image Storage – For Processing" />
      <add Uid="1.2.840.10008.5.1.4.1.1.1.2" Description="Digital Mammography X-Ray Image Storage – For Presentation" />
      <add Uid="1.2.840.10008.5.1.4.1.1.1.2.1" Description="Digital Mammography X-Ray Image Storage – For Processing" />
      <add Uid="1.2.840.10008.5.1.4.1.1.1.1" Description="Digital X-Ray Image Storage – For Presentation" />
      <add Uid="1.2.840.10008.5.1.4.1.1.1.1.1" Description="Digital X-Ray Image Storage – For Processing" />
      <add Uid="1.2.840.10008.5.1.4.1.1.2.1" Description="Enhanced CT Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.4.1" Description="Enhanced MR Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.12.1.1" Description="Enhanced XA Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.12.2.1" Description="Enhanced XRF Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.4" Description="MR Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.7.2" Description="Multi-frame Grayscale Byte Secondary Capture Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.7.3" Description="Multi-frame Grayscale Word Secondary Capture Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.7.1" Description="Multi-frame Single Bit Secondary Capture Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.7.4" Description="Multi-frame True Color Secondary Capture Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.5" Description="Nuclear Medicine Image  Storage (Retired)" />
      <add Uid="1.2.840.10008.5.1.4.1.1.20" Description="Nuclear Medicine Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.77.1.5.2" Description="Ophthalmic Photography 16 Bit Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.77.1.5.1" Description="Ophthalmic Photography 8 Bit Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.77.1.5.4" Description="Ophthalmic Tomography Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.128" Description="Positron Emission Tomography Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.481.1" Description="RT Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.7" Description="Secondary Capture Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.6.1" Description="Ultrasound Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.6" Description="Ultrasound Image Storage (Retired)" />
      <add Uid="1.2.840.10008.5.1.4.1.1.3.1" Description="Ultrasound Multi-frame Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.3" Description="Ultrasound Multi-frame Image Storage (Retired)" />
      <add Uid="1.2.840.10008.5.1.4.1.1.77.1.1.1" Description="Video Endoscopic Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.77.1.2.1" Description="Video Microscopic Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.77.1.4.1" Description="Video Photographic Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.77.1.1" Description="VL Endoscopic Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.77.1.2" Description="VL Microscopic Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.77.1.4" Description="VL Photographic Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.77.1.3" Description="VL Slide-Coordinates Microscopic Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.13.1.1" Description="X-Ray 3D Angiographic Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.13.1.2" Description="X-Ray 3D Craniofacial Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.12.3" Description="X-Ray Angiographic Bi-Plane Image Storage (Retired)" />
      <add Uid="1.2.840.10008.5.1.4.1.1.12.1" Description="X-Ray Angiographic Image Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.12.2" Description="X-Ray Radiofluoroscopic Image Storage" />
    </ImageStorageSopClasses>
    <NonImageStorageSopClasses>
      <clear />
      <add Uid="1.2.840.10008.5.1.4.1.1.88.59" Description="Key Object Selection Document Storage" />
      <add Uid="1.2.840.10008.5.1.4.1.1.11.2" Description="Color Softcopy Presentation State Storage SOP Class" />
      <add Uid="1.2.840.10008.5.1.4.1.1.11.1" Description="Grayscale Softcopy Presentation State Storage SOP Class" />
    </NonImageStorageSopClasses>
    <StorageTransferSyntaxes>
      <clear />
      <add Uid="1.2.840.10008.1.2.1" Description="Explicit VR Little Endian" />
      <add Uid="1.2.840.10008.1.2" Description="Implicit VR Little Endian: Default Transfer Syntax for DICOM" />
      <add Uid="1.2.840.10008.1.2.4.90" Description="JPEG 2000 Image Compression (Lossless Only)" />
      <add Uid="1.2.840.10008.1.2.4.70" Description="JPEG Lossless, Non-Hierarchical, First-Order Prediction (Process 14 [Selection Value 1]): Default Transfer Syntax for Lossless JPEG Image Compression" />
      <add Uid="1.2.840.10008.1.2.4.57" Description="JPEG Lossless, Non-Hierarchical (Process 14)" />
      <add Uid="1.2.840.10008.1.2.5" Description="RLE Lossless" />
      <add Uid="1.2.840.10008.1.2.4.91" Description="JPEG 2000 Image Compression" />
      <add Uid="1.2.840.10008.1.2.4.50" Description="JPEG Baseline (Process 1): Default Transfer Syntax for Lossy JPEG 8 Bit Image Compression" />
      <add Uid="1.2.840.10008.1.2.4.51" Description="JPEG Extended (Process 2 &amp; 4): Default Transfer Syntax for Lossy JPEG 12 Bit Image Compression (Process 4 only)" />
    </StorageTransferSyntaxes>
  </DicomServerSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStudyLocator" maxBufferSize="26214400" maxReceivedMessageSize="26214400" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ILocalDataStoreActivityMonitorService"
            closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="Infinite"
            sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered"
            transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_ILocalDataStoreService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IDicomSendService" />
        <binding name="NetNamedPipeBinding_IDicomServerService"  closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IDiskspaceManagerService"  closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/LocalDataStoreActivityMonitor/LocalDataStoreActivityMonitor"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILocalDataStoreActivityMonitorService"
          contract="ILocalDataStoreActivityMonitorService" name="NetNamedPipeBinding_ILocalDataStoreActivityMonitorService">
      </endpoint>
      <endpoint address="net.pipe://localhost/LocalDataStore/LocalDataStore"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILocalDataStoreService"
          contract="ILocalDataStoreService" name="NetNamedPipeBinding_ILocalDataStoreService">
      </endpoint>
      <endpoint address="net.pipe://localhost/DicomServer/DicomServer"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDicomServerService"
          contract="IDicomServerService" name="NetNamedPipeBinding_IDicomServerService">
      </endpoint>
      <endpoint address="net.pipe://localhost/DicomSend/DicomSend"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDicomSendService"
          contract="IDicomSendService" name="NetNamedPipeBinding_IDicomSendService">
      </endpoint>
      <endpoint address="net.pipe://localhost/DiskspaceManager/DiskspaceManager"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDiskspaceManagerService"
          contract="IDiskspaceManagerService" name="NetNamedPipeBinding_IDiskspaceManagerService">
      </endpoint>
      <endpoint address="http://localhost:51122/StudyLocator/StudyLocator"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudyLocator"
          contract="IStudyLocator"
          name="BasicHttpBinding_IStudyLocator">
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ClearCanvas.Dicom.Network.NetworkSettings>
      <setting name="ReadTimeout" serializeAs="String">
        <value>36000000</value>
      </setting>
      <setting name="WriteTimeout" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="ConnectTimeout" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ReceiveBufferSize" serializeAs="String">
        <value>118341</value>
      </setting>
      <setting name="SendBufferSize" serializeAs="String">
        <value>118341</value>
      </setting>
      <setting name="LocalMaxPduLength" serializeAs="String">
        <value>116794</value>
      </setting>
      <setting name="RemoteMaxPduLength" serializeAs="String">
        <value>116794</value>
      </setting>
      <setting name="DisableNagle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CombineCommandDataPdu" serializeAs="String">
        <value>True</value>
      </setting>
    </ClearCanvas.Dicom.Network.NetworkSettings>
  </applicationSettings>
</configuration>