<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.Configuration.PublishingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClearCanvas.ImageViewer.Configuration.ToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.ImageViewer.Configuration.PublishingSettings>
            <setting name="PublishToDefaultServers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishLocalToSourceAE" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.ImageViewer.Configuration.PublishingSettings>
        <ClearCanvas.ImageViewer.Configuration.ToolSettings>
            <setting name="ActionFilterRulesXml" serializeAs="Xml">
                <value>
                    <action-filters>
                        <!--<action-filter name="context-menu">
              <applicability-tests>
                <action-test>
                  <regex test="$.Site" pattern="imageviewer-contextmenu" />
                </action-test>
              </applicability-tests>
              <test>
                  <regex test="$.GroupHint" pattern="DisplaySets" />
              </test>
            </action-filter>-->
                    </action-filters>
                </value>
            </setting>
            <setting name="ApplyActionFilterRules" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.ImageViewer.Configuration.ToolSettings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
