<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Ris.Client.WebServicesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ClearCanvas.Ris.Client.WebServicesSettings>
      <setting name="ApplicationServicesBaseUrl" serializeAs="String">
        <value>net.tcp://localhost:8000/</value>
      </setting>
      <setting name="ConfigurationClass" serializeAs="String">
        <value>ClearCanvas.Enterprise.Common.ServiceConfiguration.Client.NetTcpConfiguration, ClearCanvas.Enterprise.Common</value>
      </setting>
      <setting name="MaxReceivedMessageSize" serializeAs="String">
        <value>2000000</value>
      </setting>
      <setting name="CertificateValidationMode" serializeAs="String">
        <value>PeerOrChainTrust</value>
      </setting>
      <setting name="RevocationMode" serializeAs="String">
        <value>NoCheck</value>
      </setting>
      <setting name="UseJsmlShimService" serializeAs="String">
        <value>False</value>
      </setting>
    </ClearCanvas.Ris.Client.WebServicesSettings>
  </applicationSettings>
</configuration>