<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Shreds.MPPS.MPPSSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Shreds.MPPS.MPPSSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Shreds.MPPS.MPPSSettings>
            <setting name="Port" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="AeTitle" serializeAs="String">
                <value>CCMPPS</value>
            </setting>
            <setting name="MPPSShredName" serializeAs="String">
                <value>MPPS Shred</value>
            </setting>
        </ClearCanvas.Ris.Shreds.MPPS.MPPSSettings>
    </applicationSettings>
    <userSettings>
        <ClearCanvas.Ris.Shreds.MPPS.MPPSSettings>
            <setting name="MPPSShredDescription" serializeAs="String">
                <value>MPPS Shred</value>
            </setting>
        </ClearCanvas.Ris.Shreds.MPPS.MPPSSettings>
    </userSettings>
</configuration>