<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">

  <!-- an ISessionFactory instance -->
  <session-factory xmlns='urn:nhibernate-configuration-2.2'>
    <!-- common properties -->
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="hibernate.connection.isolation">ReadCommitted</property>
    <property name="hibernate.cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache</property>
    <property name="hibernate.cache.use_query_cache">true</property>
    <property name="expiration">180</property>

    <!--MS SQL-->
    <property name="hibernate.dialect">NHibernate.Dialect.MsSql2000Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">Data Source=172.16.10.167\SQLEXPRESS;Initial Catalog=Ris60;User Id=risuser;Password=rispass</property>
    <property name="hibernate.default_schema">Ris60.dbo</property>
    <property name="hibernate.use_proxy_validator">false</property>
    <property name="hibernate.connection.release_mode">on_close</property>
  </session-factory>

</hibernate-configuration>
