<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageViewer.StudyLoaders.Streaming.StreamingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.ImageViewer.StudyLoaders.Streaming.StreamingSettings>
            <setting name="FormatWadoUriPrefix" serializeAs="String">
                <value>http://{0}:{1}/WADO</value>
            </setting>
            <setting name="FormatHeaderServiceUri" serializeAs="String">
                <value>http://{0}:{1}/HeaderStreaming/HeaderStreaming</value>
            </setting>
            <setting name="PrefetchingConcurrency" serializeAs="String">
                <value>5</value>
            </setting>
        </ClearCanvas.ImageViewer.StudyLoaders.Streaming.StreamingSettings>
    </applicationSettings>
</configuration>