<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.Help.AboutSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.Help.HelpSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Desktop.Help.AboutSettings>
            <setting name="UseSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundImageAssemblyName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImageResourceName" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyrightLocation" serializeAs="String">
                <value>375, 340</value>
            </setting>
            <setting name="CopyrightSize" serializeAs="String">
                <value>286, 13</value>
            </setting>
            <setting name="CopyrightAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyrightForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CopyrightFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyrightTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="VersionLocation" serializeAs="String">
                <value>447, 292</value>
            </setting>
            <setting name="VersionSize" serializeAs="String">
                <value>214, 13</value>
            </setting>
            <setting name="VersionAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="VersionFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="VersionTextFormat" serializeAs="String">
                <value>Version {0}</value>
            </setting>
            <setting name="LicenseVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseLocation" serializeAs="String">
                <value>617, 33</value>
            </setting>
            <setting name="LicenseSize" serializeAs="String">
                <value>44, 13</value>
            </setting>
            <setting name="LicenseAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LicenseFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="CloseButtonLinkColor" serializeAs="String">
                <value>60, 150, 208</value>
            </setting>
        </ClearCanvas.Desktop.Help.AboutSettings>
        <ClearCanvas.Desktop.Help.HelpSettings>
            <setting name="UserGuidePath" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Desktop.Help.HelpSettings>
    </applicationSettings>
</configuration>