<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.Help.HelpSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Desktop.Help.HelpSettings>
            <setting name="UserGuidePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateServiceUrl" serializeAs="String">
                <value>http://localhost:4472/UpdateInformationService.asmx</value>
            </setting>
        </ClearCanvas.Desktop.Help.HelpSettings>
    </applicationSettings>
</configuration>