<html><head><title>AC3 - Revision 21: /Code/ImageViewer/Tools/Standard/View/WinForms</title></head>
<body>
 <h2>AC3 - Revision 21: /Code/ImageViewer/Tools/Standard/View/WinForms</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="CineApplicationComponentControl.Designer.cs">CineApplicationComponentControl.Designer.cs</a></li>
  <li><a href="CineApplicationComponentControl.cs">CineApplicationComponentControl.cs</a></li>
  <li><a href="CineApplicationComponentControl.resx">CineApplicationComponentControl.resx</a></li>
  <li><a href="CineApplicationComponentView.cs">CineApplicationComponentView.cs</a></li>
  <li><a href="ClearCanvas.ImageViewer.Tools.Standard.View.WinForms.csproj">ClearCanvas.ImageViewer.Tools.Standard.View.WinForms.csproj</a></li>
  <li><a href="Icons/">Icons/</a></li>
  <li><a href="ImagePropertiesApplicationComponentControl.Designer.cs">ImagePropertiesApplicationComponentControl.Designer.cs</a></li>
  <li><a href="ImagePropertiesApplicationComponentControl.cs">ImagePropertiesApplicationComponentControl.cs</a></li>
  <li><a href="ImagePropertiesApplicationComponentControl.resx">ImagePropertiesApplicationComponentControl.resx</a></li>
  <li><a href="ImagePropertiesApplicationComponentView.cs">ImagePropertiesApplicationComponentView.cs</a></li>
  <li><a href="ImagePropertyDetailControl.Designer.cs">ImagePropertyDetailControl.Designer.cs</a></li>
  <li><a href="ImagePropertyDetailControl.cs">ImagePropertyDetailControl.cs</a></li>
  <li><a href="ImagePropertyDetailControl.resx">ImagePropertyDetailControl.resx</a></li>
  <li><a href="LinearPresetVoiLutOperationComponentControl.Designer.cs">LinearPresetVoiLutOperationComponentControl.Designer.cs</a></li>
  <li><a href="LinearPresetVoiLutOperationComponentControl.cs">LinearPresetVoiLutOperationComponentControl.cs</a></li>
  <li><a href="LinearPresetVoiLutOperationComponentControl.resx">LinearPresetVoiLutOperationComponentControl.resx</a></li>
  <li><a href="LinearPresetVoiLutOperationComponentView.cs">LinearPresetVoiLutOperationComponentView.cs</a></li>
  <li><a href="MagnificationComponentView.cs">MagnificationComponentView.cs</a></li>
  <li><a href="MagnificationForm.Designer.cs">MagnificationForm.Designer.cs</a></li>
  <li><a href="MagnificationForm.cs">MagnificationForm.cs</a></li>
  <li><a href="MagnificationForm.resx">MagnificationForm.resx</a></li>
  <li><a href="PresetVoiLutConfigurationComponentControl.Designer.cs">PresetVoiLutConfigurationComponentControl.Designer.cs</a></li>
  <li><a href="PresetVoiLutConfigurationComponentControl.cs">PresetVoiLutConfigurationComponentControl.cs</a></li>
  <li><a href="PresetVoiLutConfigurationComponentControl.resx">PresetVoiLutConfigurationComponentControl.resx</a></li>
  <li><a href="PresetVoiLutConfigurationComponentView.cs">PresetVoiLutConfigurationComponentView.cs</a></li>
  <li><a href="PresetVoiLutOperationComponentContainerControl.Designer.cs">PresetVoiLutOperationComponentContainerControl.Designer.cs</a></li>
  <li><a href="PresetVoiLutOperationComponentContainerControl.cs">PresetVoiLutOperationComponentContainerControl.cs</a></li>
  <li><a href="PresetVoiLutOperationComponentContainerControl.resx">PresetVoiLutOperationComponentContainerControl.resx</a></li>
  <li><a href="PresetVoiLutOperationComponentContainerView.cs">PresetVoiLutOperationComponentContainerView.cs</a></li>
  <li><a href="Properties/">Properties/</a></li>
  <li><a href="SR.Designer.cs">SR.Designer.cs</a></li>
  <li><a href="SR.resx">SR.resx</a></li>
  <li><a href="ToolConfigurationComponentControl.Designer.cs">ToolConfigurationComponentControl.Designer.cs</a></li>
  <li><a href="ToolConfigurationComponentControl.cs">ToolConfigurationComponentControl.cs</a></li>
  <li><a href="ToolConfigurationComponentControl.resx">ToolConfigurationComponentControl.resx</a></li>
  <li><a href="ToolConfigurationComponentView.cs">ToolConfigurationComponentView.cs</a></li>
  <li><a href="bin/">bin/</a></li>
  <li><a href="obj/">obj/</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.apache.org/">Apache Subversion</a> version 1.7.1 (r1186859).</em>
</body></html>