/**************************************************************************************************
	This file contains the background CSS 
**************************************************************************************************/

/* background color for entire page */
body
{
	background-color: white;
}


/* Panel that holds the contents of the page - below the menubar*/
.CSSPageContentMainWindow
{
	background-color: white;
}

/* Title of the page */
.CSSPageTitle
{

}

/*************************************************************************************************
	Toolbar background styles 
*************************************************************************************************/


/* toolbar panel container */
.CSSToolbarPanelContainer
{
}

/* Toolbar panel */
.CSSToolbarPanelBorder
{	

}

/* The content panel in the toolbar panel */
.CSSToolbarContent
{
	
}


/*************************************************************************************************
	Filter panel background
*************************************************************************************************/


/* filter panel container */
.CSSFilterPanelContainer
{
	
}

/* filter panel content border */
.CSSFilterPanelBorder
{
}

/* filter panel content*/
.CSSFilterPanelContent
{

}


/*************************************************************************************************
	Menu bar background
*************************************************************************************************/



/* Menubar panel container */
.CSSMainMenuBarContainer
{
	background-color: #3D98D1;
	
}

/* Menubar */
.CSSMenuBarBorder
{
	
}

.CSSMenuBarContent
{
}

/* main menu */
.CSSMenu_TopLevel
{

}

/* main menu item*/
.CSSMenu_TopLevelItem
{

}

/* main menu (when hover over)*/
.CSSMenu_TopLevel_Hover
{
	background-color:#7CB1DD;
}


/* submenu container styles */
.CSSMenu_SubMenu
{
	background-color: #7CB1DD;

}

/* submenu item */
.CSSMenu_SubMenuItem
{

	background-color: #3D98D1;

}

/* submenu item when hover*/
.CSSMenu_SubMenu_Hover
{
	background-color:#7CB1DD;
	
}




/*************************************************************************************************
	Gridview control background 
*************************************************************************************************/


/* Container for the gridview */
.CSSGridViewPanelContainer
{
}

/* border of the gridview */
.CSSGridViewPanelBorder
{
}

/* gridview content panel */
.CSSGridViewPanelContent
{
}



/* gridview control styling */
.CSSGridView
{
}

/* gridview control header row */
.CSSGridHeader th
{	
	background-image: url(images/gridheaderbackground.png);
	background-repeat: repeat-x;
}

/* gridview control row */
.CSSGridRowStyle
{
	
}

/* gridview control cell */
.CSSGridRowStyle td
{
	
}

/* gridview control selected row */
.CSSGridSelectedRowStyle
{
	background-color:#316AC5;
	 
	
}

/* gridview cell of the selected row */
.CSSGridSelectedRowStyle td
{
	
}




/*************************************************************************************************
	Gridview Pager panel background
*************************************************************************************************/


/* Grid pager control panel container */
.CSSGridPagerPanelContainer
{
}

/* grid pager panel border */
.CSSGridPagerPanelBorder
{

}

/*grid pager panel content */
.CSSGridPagerPanelContent
{
	background-image: url(images/gridheaderbackground.png);
	background-repeat: repeat-x;
}



/*************************************************************************************************
	Popup Dialog
*************************************************************************************************/

.CSSPopupWindow
{
	background-color: white;
	
}


.CSSPopupWindowBody 
{ 
	
}

.CSSDialogTabPanelContent
{
	
}
        
.CSSPopupWindowTitleBar
{
	background-color: #3D98D1;
	
	
}

/*****************************************************************************************
	Invalid input indicator styles
*****************************************************************************************/
.CSSInvalidInputIndicatorContainer
{
}

.CSSInvalidIndicatorTooltipPanel
{
	background-color: #ffffcc;
}

.CSSInvalidIndicatorTooltip
{
}
