/**************************************************************************************************

	This file contains the font CSS  (this includes font size and colors. Text alignment is specified
	in	layout.css)

**************************************************************************************************/


/*************************************************************************************************
	Global font
*************************************************************************************************/
body
{
	font-family: verdana,tahoma,helvetica;
	font-size: 10pt;
	color:black;
}




/* Panel that holds the contents of the page - below the menubar*/
.CSSPageContentMainWindow
{
	font-size: 100%;
}

/* Title of the page */
.CSSPageTitle
{
	
	font-size:110%;
	font-weight:bold;
	color:White;
	
}

.CSSVersionLabel
{
	font-size:70%;
	color:Silver;
	font-weight:normal;
}


/*************************************************************************************************
	Toolbar font
*************************************************************************************************/


/* toolbar panel container */
.CSSToolbarPanelContainer
{
}

/* Toolbar panel */
.CSSToolbarPanelBorder
{	

}

/* The content panel in the toolbar panel */
.CSSToolbarContent
{

}



/*************************************************************************************************
	Filter panel font
*************************************************************************************************/


/* filter panel container */
.CSSFilterPanelContainer
{
	font-style: normal;
	font-weight: normal;
	
}

/* filter panel content border */
.CSSFilterPanelBorder
{
	
}

/* filter panel content*/
.CSSFilterPanelContent
{

}




/*************************************************************************************************
	Menubar font
*************************************************************************************************/


/* Menubar panel container */
.CSSMainMenuBarContainer
{
	font-size:110%;	
}


/* Menubar */
.CSSMenuBarBorder
{
	
}

/* Menu item color */
.CSSMainMenu a:link , .CSSMainMenu a:visited, .CSSMainMenu a:hover, .CSSMainMenu a:active
{
	color:white;
	font-weight:bold;
}


/* main menu */
.CSSMenu_TopLevel
{

}


/* main menu */
.CSSMenu_TopLevelItem
{
}



/* main menu (when hover over)*/
.CSSMenu_TopLevel_Hover
{

}


/* submenu container styles */
.CSSMenu_SubMenu
{

}


/* submenu item */
.CSSMenu_SubMenuItem
{
	font-size:100%;	
}

/* submenu item color */
.CSSMenu_SubMenuItem a:link , .CSSMenu_SubMenuItem a:visited, .CSSMenu_SubMenuItem a:hover, .CSSMenu_SubMenuItem a:active
{
	color:white;
}


/* submenu item when hover*/
.CSSMenu_SubMenu_Hover
{

	
}



/*************************************************************************************************
	Gridview control font
*************************************************************************************************/


/* Container for the gridview */
.CSSGridViewPanelContainer
{
}

/* border of the gridview */
.CSSGridViewPanelBorder
{
}

/* gridview content panel */
.CSSGridViewPanelContent
{
}



/* gridview control styling */
.CSSGridView
{
	
}

/* gridview control header row */
.CSSGridHeader th
{	
	font-weight: bold;
	
}

/* gridview control row */
.CSSGridRowStyle
{
	
}

/* gridview control cell */
.CSSGridRowStyle td
{
	
}

/* gridview control selected row */
.CSSGridSelectedRowStyle
{
	
}


/* Alternating row style */
.CSSGridAlternatingRowStyle
{
}

/* Alternating row cell style */
.CSSGridAlternatingRowStyle td
{
}



/* gridview cell of the selected row */
.CSSGridSelectedRowStyle td
{
	color: white;
	
}





/*************************************************************************************************
	Gridview pager panel font
*************************************************************************************************/


/* Grid pager control panel container */
.CSSGridPagerPanelContainer
{
}

/* grid pager panel border */
.CSSGridPagerPanelBorder
{
	font-style: normal;
	font-weight: normal;
	
}

/*grid pager panel content */
.CSSGridPagerPanelContent
{
	
}




/*************************************************************************************************
	Popup dialog font
*************************************************************************************************/

.CSSPopupWindow
{
	
}


.CSSPopupWindowBody 
{ 
	
}

.CSSDialogTabPanelContent
{
	
}
        
.CSSPopupWindowTitleBar
{
	font-weight: bold;
	font-size: larger;
	text-transform: capitalize;
	color:White;
}

/*****************************************************************************************
	Invalid input indicator styles
*****************************************************************************************/
.CSSInvalidInputIndicatorContainer
{
}

.CSSInvalidIndicatorTooltipPanel
{
	color: #ff6600;
	
}

.CSSInvalidIndicatorTooltip
{
}


/*****************************************************************************************
	Study Details view styles
*****************************************************************************************/
.CSSStudyDetailsView
{
}

.CSSStudyDetailsViewRowStyle
{

}

.CSSStudyDetailsViewRowStyle td
{

}


.CSSStudyDetailsViewAlternatingRowStyle
{

}


.CSSStudyDetailsViewAlternatingRowStyle td
{

}

/*****************************************************************************************
	Series grid view styles
*****************************************************************************************/
.CSSSeriesGridView
{
}


.CSSSeriesGridViewHeaderStyle
{
	
}

.CSSSeriesGridViewHeaderStyle th
{
	font-weight:normal;
	text-align:left;
}

/* gridview control selected row */
.CSSSeriesGridViewRowStyle
{

}

/* gridview control cell */
.CSSSeriesGridViewRowStyle td
{
	color:#333333;
}

/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle
{

}


/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle td
{
	color:#333333;
}

/* gridview control selected row */
.CSSSeriesGridSelectedRowStyle
{
	color:White;
}


/* gridview cell of the selected row */
.CSSSeriesGridSelectedRowStyle td
{
}


