/**************************************************************************************************

	This file contains the layout CSS. This includes margins, font alignment, panel sizes

**************************************************************************************************/


/*************************************************************************************************
	Global settings
*************************************************************************************************/

.CSSPageWindow
{
	width:100%;
}



/* Panel that holds the contents of the page - below the menubar*/
.CSSPageContentMainWindow
{
	margin-top: 15px;
	text-align:left;
}

/* Title of the page */
.CSSPageTitle
{
	padding-right:30px;
}



/*************************************************************************************************
	Logo Panel
*************************************************************************************************/

.CSSLogoImagePanel
{
	margin-bottom:5px;
}


/*************************************************************************************************
	Toolbar
*************************************************************************************************/


/* toolbar panel container */
.CSSToolbarPanelContainer
{
	margin: 5px 0px;
}

/* Toolbar panel */
.CSSToolbarPanelBorder
{
	margin:5px;
}

/* The content panel in the toolbar panel */
.CSSToolbarContent
{
}





/*************************************************************************************************
	Filter panel 
*************************************************************************************************/


/* filter panel container */
.CSSFilterPanelContainer
{
	margin: 5px 0px 5px 5px;
}



/* filter panel content border*/
.CSSFilterPanelBorder
{
	
}

/* filter panel content*/
.CSSFilterPanelContent
{
	margin:5px;	
}



/*************************************************************************************************
	Menubar 
*************************************************************************************************/


/* Menubar panel container */
.CSSMainMenuBarContainer
{
	text-align:left;
}

/* Menubar */
.CSSMenuBarBorder
{
	padding:5px;
}

/* menubar content */
.CSSMenuBarContent
{
	margin-left:15px;
}


/* main menu panel */
.CSSMenu_TopLevel
{

}

.CSSMenu_TopLevelItem
{
	/* spaces between menu */
	padding-right: 15px; 
	padding-left: 5px;
}

/* main menu (when hover over)*/
.CSSMenu_TopLevel_Hover
{
	
}


/* submenu container styles */
.CSSMenu_SubMenu
{

}

/* submenu item */
.CSSMenu_SubMenuItem
{	
	text-indent:30px;
	
	padding-right: 20px;
	padding-left: 0px;
	padding-bottom: 3px;
	padding-top: 3px;
}

/* submenu item when hover*/
.CSSMenu_SubMenu_Hover
{
	
}


/*************************************************************************************************
	About layout
*************************************************************************************************/


/* Container for the gridview */
.CSSAboutPanelContainer
{
	margin-top:3px;
}

/* border of the gridview */
.CSSAboutPanelBorder
{
}

/* gridview content panel */
.CSSAboutPanelContent
{
	height:600px;
	padding:1px;
}

/*************************************************************************************************
	Gridview control layout
*************************************************************************************************/


/* Container for the gridview */
.CSSGridViewPanelContainer
{
	margin-top:3px;
}

/* border of the gridview */
.CSSGridViewPanelBorder
{
}

/* gridview content panel */
.CSSGridViewPanelContent
{
	height:600px;
	padding:1px;
}



/* gridview control styling */
.CSSGridView
{
	
}

/* gridview control header row */
.CSSGridHeader th
{	
	height: 24px;
	padding-right: 5px;
	padding-left: 5px;
	
}

/* gridview control row */
.CSSGridRowStyle
{
	
	height: 24px; 
}

/* gridview control cell */
.CSSGridRowStyle td
{
	
	padding-right: 5px;
	padding-left: 5px;
}

/* gridview control selected row */
.CSSGridSelectedRowStyle
{
	height: 24px;
}

/* gridview cell of the selected row */
.CSSGridSelectedRowStyle td
{
	padding-right: 5px;
	padding-left: 5px;
}






/*************************************************************************************************
	Gridview pager panel layout
*************************************************************************************************/


/* Grid pager control panel container */
.CSSGridPagerPanelContainer
{
}

/* grid pager panel border */
.CSSGridPagerPanelBorder
{

}

/*grid pager panel content */
.CSSGridPagerPanelContent
{
	margin: 2px;

}





/*************************************************************************************************
	Popup dialog
*************************************************************************************************/


.CSSPopupWindow
{
	
}


.CSSPopupWindowBody 
{ 
	vertical-align: top;
	margin:15px;
}

.CSSDialogTabPanelContent
{
	
}
        
.CSSPopupWindowTitleBar
{
	cursor: move;
	width: 100%;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	
}

