/* Menubar panel container */
.CSSMainMenuBarContainer
{
	font-size:120%;
	text-align:left;
}

/* Menubar */
.CSSMenuBar
{
	border-right: 1px outset;
	border-top: 1px outset;
	border-left: 1px outset;
	border-bottom: 1px outset;
	vertical-align: middle;
	background-color: #3D98D1;
	width: 100%;
	color: White;
	
}

/* main menu */
.CSSMenu_TopLevel
{
	font-size:120%;
	padding-right: 15px;
	padding-left: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
}

/* main menu (when hover over)*/
.CSSMenu_TopLevel_Hover
{
	background-color:#7CB1DD;
}


/* submenu container styles */
.CSSMenu_SubMenu
{
	background-color: #7CB1DD;
	border-right: lightgrey 2px outset;
	border-top: lightgrey 2px outset;
	border-left: lightgrey 2px outset;
	border-bottom: lightgrey 2px outset;
}

/* submenu item */
.CSSMenu_SubMenuItem
{
	font-size:100%;
	background-color: #3D98D1;
	text-indent: 20pt;
	
	border-width: 0px;	
	padding-right: 20px;
	padding-left: 0px;
	padding-bottom: 3px;
	padding-top: 3px;
}

/* submenu item when hover*/
.CSSMenu_SubMenu_Hover
{
	background-color:#7CB1DD;
	
}


