/*************************************************************************

	General CSS 

**************************************************************************/

body
{

}


.InvalidInputHilight
{
	background-color:Yellow;
}


.FilterButtonContainer
{
	margin-left:10px;
	margin-right:5px;
}

.CSSTextBoxLabel
{
	width: 100px;
	margin-left: 3px;
	margin-right: 3px;
}

 
.CSSFilterTextBox
{
	width: 100px;
	margin-left: 3px;
	margin-right: 3px;
}

.CSSFilterDropDownList
{
	width: 120px;
	margin-left: 3px;
	margin-right: 3px;
}

.CSSCheckBox
{
	margin-left:10px;
	margin-right:10px;
}