<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Enterprise.Authentication.AuthenticationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Enterprise.Authentication.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Enterprise.Authentication.AuthenticationSettings>
            <setting name="PasswordExpiryDays" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DefaultTemporaryPassword" serializeAs="String">
                <value>clearcanvas</value>
            </setting>
            <setting name="UserSessionTimeoutMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UserSessionTimeoutEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ValidPasswordRegex" serializeAs="String">
                <value>^\w{8,16}$</value>
            </setting>
            <setting name="ValidPasswordMessage" serializeAs="String">
                <value>Password must contain only letters and numbers, and be 8-16 characters long</value>
            </setting>
            <setting name="ApplicationWhiteList" serializeAs="String">
                <value />
            </setting>
            <setting name="HostNameWhiteList" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Enterprise.Authentication.AuthenticationSettings>
        <ClearCanvas.Enterprise.Authentication.GlobalSettings>
            <setting name="PasswordExpiryDays" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DefaultTemporaryPassword" serializeAs="String">
                <value>clearcanvas</value>
            </setting>
            <setting name="UserSessionTimeoutMinutes" serializeAs="String">
                <value>15</value>
            </setting>
        </ClearCanvas.Enterprise.Authentication.GlobalSettings>
    </applicationSettings>
</configuration>