<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="common;plugins" />
    </assemblyBinding>
  </runtime>
  
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="SingleCall" type="ClearCanvas.Ris.Server.Remoting.EchoService, ClearCanvas.Ris.Server" objectUri="echo.rem" />
      </service>
      <channels>
        <channel ref="tcp" secure="true" port="8080" />
      </channels>
    </application>
  </system.runtime.remoting>
  
</configuration>