<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageViewer.Layout.Basic.LayoutConfigurationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageViewer.Layout.Basic.DefaultPatientReconciliationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.ImageViewer.Layout.Basic.LayoutConfigurationSettings>
            <setting name="LayoutConfigurationSettingsXml" serializeAs="String">
                <value>LayoutConfigurationSettingsDefaults.xml</value>
            </setting>
        </ClearCanvas.ImageViewer.Layout.Basic.LayoutConfigurationSettings>
    </userSettings>
    <applicationSettings>
        <ClearCanvas.ImageViewer.Layout.Basic.DefaultPatientReconciliationSettings>
            <setting name="PatientIdSearchAppendWildcard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RulesXml" serializeAs="Xml">
                <value>
                    <patient-reconciliation-rules />
                </value>
            </setting>
        </ClearCanvas.ImageViewer.Layout.Basic.DefaultPatientReconciliationSettings>
    </applicationSettings>
</configuration>