<html><head><title>AC3 - Revision 21: /Code/ImageViewer/Layout/Basic</title></head>
<body>
 <h2>AC3 - Revision 21: /Code/ImageViewer/Layout/Basic</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="AssemblyInfo.cs">AssemblyInfo.cs</a></li>
  <li><a href="BasicDicomPresentationState.cs">BasicDicomPresentationState.cs</a></li>
  <li><a href="ClearCanvas.ImageViewer.Layout.Basic.csproj">ClearCanvas.ImageViewer.Layout.Basic.csproj</a></li>
  <li><a href="ConfigurationPageProvider.cs">ConfigurationPageProvider.cs</a></li>
  <li><a href="ContextMenuActionFactory.cs">ContextMenuActionFactory.cs</a></li>
  <li><a href="ContextMenuLayoutTool.cs">ContextMenuLayoutTool.cs</a></li>
  <li><a href="DefaultContextMenuActionFactory.cs">DefaultContextMenuActionFactory.cs</a></li>
  <li><a href="DefaultPatientReconciliationSettings.Designer.cs">DefaultPatientReconciliationSettings.Designer.cs</a></li>
  <li><a href="DefaultPatientReconciliationSettings.cs">DefaultPatientReconciliationSettings.cs</a></li>
  <li><a href="DefaultPatientReconciliationSettings.settings">DefaultPatientReconciliationSettings.settings</a></li>
  <li><a href="DefaultPatientReconciliationStrategy.cs">DefaultPatientReconciliationStrategy.cs</a></li>
  <li><a href="DisplaySetCreationConfigurationComponent.cs">DisplaySetCreationConfigurationComponent.cs</a></li>
  <li><a href="DisplaySetCreationSettings.Designer.cs">DisplaySetCreationSettings.Designer.cs</a></li>
  <li><a href="DisplaySetCreationSettings.cs">DisplaySetCreationSettings.cs</a></li>
  <li><a href="DisplaySetCreationSettings.settings">DisplaySetCreationSettings.settings</a></li>
  <li><a href="DisplaySetCreationSettingsDefaults.xml">DisplaySetCreationSettingsDefaults.xml</a></li>
  <li><a href="DisplaySetFactoryExtensionPoint.cs">DisplaySetFactoryExtensionPoint.cs</a></li>
  <li><a href="DisplaySetNavigationTool.cs">DisplaySetNavigationTool.cs</a></li>
  <li><a href="ExplodeImageBoxTool.cs">ExplodeImageBoxTool.cs</a></li>
  <li><a href="ExplodeTileTool.cs">ExplodeTileTool.cs</a></li>
  <li><a href="Icons/">Icons/</a></li>
  <li><a href="LayoutChangerAction.cs">LayoutChangerAction.cs</a></li>
  <li><a href="LayoutComponent.cs">LayoutComponent.cs</a></li>
  <li><a href="LayoutConfigurationComponent.cs">LayoutConfigurationComponent.cs</a></li>
  <li><a href="LayoutDefaults.xml">LayoutDefaults.xml</a></li>
  <li><a href="LayoutManager.cs">LayoutManager.cs</a></li>
  <li><a href="LayoutSettings.Designer.cs">LayoutSettings.Designer.cs</a></li>
  <li><a href="LayoutSettings.cs">LayoutSettings.cs</a></li>
  <li><a href="LayoutSettings.settings">LayoutSettings.settings</a></li>
  <li><a href="LayoutTool.cs">LayoutTool.cs</a></li>
  <li><a href="ListObserver.cs">ListObserver.cs</a></li>
  <li><a href="PriorStudyFinder.cs">PriorStudyFinder.cs</a></li>
  <li><a href="SR.Designer.cs">SR.Designer.cs</a></li>
  <li><a href="SR.resx">SR.resx</a></li>
  <li><a href="StoredLayout.cs">StoredLayout.cs</a></li>
  <li><a href="Tests/">Tests/</a></li>
  <li><a href="UnavailableImageSetDescriptor.cs">UnavailableImageSetDescriptor.cs</a></li>
  <li><a href="View/">View/</a></li>
  <li><a href="XmlActionsApplicator.cs">XmlActionsApplicator.cs</a></li>
  <li><a href="app.config">app.config</a></li>
  <li><a href="bin/">bin/</a></li>
  <li><a href="obj/">obj/</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.apache.org/">Apache Subversion</a> version 1.7.1 (r1186859).</em>
</body></html>