body
{
	/*font-family: 'Arial Unicode MS' , 'Arial Rounded MT Bold';*/
	font-family:verdana,tahoma,helvetica;
	/*font-size:11px; */
}

.PopupWindow
{
	background-color: #ffffcc;
	border-right: 1px outset;
	border-top: 1px outset;
	border-left: 1px outset;
	border-bottom: 1px outset;
}
.PopupWindowBody 
{ 
	/*width: 100%;*/
	
padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px; 
}




        
.PopupWindowTitleBar
{
	cursor: move;
	width: 100%;
	color: white;
	height: 30px;
	background-color: #0099ff;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: larger;
	text-transform: capitalize;
}

.toolBarPanel
{
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
}
.WindowTitleBar
{
	font-size:larger;
	border-right: 1px outset;
	border-top: 1px outset;
	vertical-align: middle;
	text-transform: capitalize;
	border-left: 1px outset;
	width: 100%;
	color: white;
	border-bottom: 1px outset;
	height: 30px;
	background-color: #0099ff;
	text-align: left;
	text-indent: 10pt;
}
.WindowBody
{
	border-right: 1px outset;
	border-top: 1px outset;
	border-left: 1px outset;
	width: 100%;
	color: black;
	border-bottom: 1px outset;
	height: 50px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.Window
{
	border-right: #cccccc 0px outset;
	border-top: #cccccc 0px outset;
	border-left: #cccccc 0px outset;
	border-bottom: #cccccc 0px outset;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}



.ContentWindow
{
	Height:100%;
	
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	
}

/* So the overflow scrolls */
.GridViewContainer 
{
	/*overflow:scroll;*/
}

.GridHeader
{
	/*position: relative;*/
	top:0;
	background-color: #cccccc;
}
.HeaderColumn
{
	position: relative;
	top: 0;
	background-color: gray;
}

.modalBackground 
{
   background-color:#000;
   filter:alpha(opacity=60);
   opacity:0.6;
}

.PageMenuPanel
{
	height:700px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	border-right: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	height:800px;
	/*width: 800px;*/
	font-size:smaller;
}
	
.PageMainPanel
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	border-right: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	height:800px;
	/*
	width: 800px;*/
	font-size:smaller;
}
.ChildPanel
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.GridRowStyle
{
	 background-color:#EFF3FB; 
	 border-style: solid;
	 border-width: 1px;
	 border-color: #E0E0E0;
}

.GridSelectedRowStyle
{
	 background-color:Gray; 
	 font-weight:normal;
	 color: #333333;
	 border-color: #0FFFF8;
}
