/* .ajax__tab_header - A container element that wraps all of the tabs at the top of the TabContainer. Child CSS classes:.ajax__tab_outer. */
/* .ajax__tab_outer - An outer element of a tab, often used to set the left-side background image of the tab.Child CSS classes: .ajax__tab_inner. */
/* .ajax__tab_inner	 - An inner element of a tab, often used to set the right-side image of the tab. Child CSS classes:.ajax__tab_tab. */
/* .ajax__tab_tab - An element of the tab that contains the text content. Child CSS classes:none. */
/* .ajax__tab_body - A container element that wraps the area where a TabPanel is displayed. Child CSS classes: none. */
/* .ajax__tab_hover - This is applied to a tab when the mouse is hovering over. Child CSS classes:.ajax__tab_outer. */
/* .ajax__tab_active - This is applied to a tab when it is the currently selected tab. Child CSS classes:.ajax__tab_outer. */   

/* XP IE7 theme - Backgrounds */
.visoft__tab_xpie7 .ajax__tab_header					
{
	background: url(../Styles/images/tab-line.gif) repeat-x bottom; 
}
.visoft__tab_xpie7 .ajax__tab_outer						{ background: url(../Styles/images/tab-right.gif) no-repeat right; }
.visoft__tab_xpie7 .ajax__tab_inner
{
	background: url(../Styles/images/tab-left.gif) no-repeat;
	font-size: larger;
}
.visoft__tab_xpie7 .ajax__tab_tab						{ background: url(../Styles/images/tab.gif) repeat-x; }
.visoft__tab_xpie7 .ajax__tab_hover .ajax__tab_outer	{ background: url(../Styles/images/tab-hover-right.gif) no-repeat right; }
.visoft__tab_xpie7 .ajax__tab_hover .ajax__tab_inner	{ background: url(../Styles/images/tab-hover-left.gif) no-repeat; }
.visoft__tab_xpie7 .ajax__tab_hover .ajax__tab_tab		{ background: url(../Styles/images/tab-hover.gif) repeat-x; }
.visoft__tab_xpie7 .ajax__tab_active .ajax__tab_outer	{ background: url(../Styles/images/tab-active-right.gif) no-repeat right; }
.visoft__tab_xpie7 .ajax__tab_active .ajax__tab_inner	{ background: url(../Styles/images/tab-active-left.gif) no-repeat; }
.visoft__tab_xpie7 .ajax__tab_active .ajax__tab_tab		{ background: url(../Styles/images/tab-active.gif) repeat-x; }

/* XP IE7 theme - Other Styles */
.visoft__tab_xpie7 .ajax__tab_header 					{ font-family:verdana,tahoma,helvetica;font-size:11px; }
.visoft__tab_xpie7 .ajax__tab_outer						{ height:29px; }
.visoft__tab_xpie7 .ajax__tab_inner						{ padding-left:3px; }
.visoft__tab_xpie7 .ajax__tab_tab						{ padding:8px 40px;margin:0; }
.visoft__tab_xpie7 .ajax__tab_body						{ font-family:verdana,tahoma,helvetica;font-size:10pt;border:1px solid #999999;border-top:0;padding:8px;background-color:#ffffff; }


