<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Application.Services.WorkingFacilitySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Application.Services.OrderNoteSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Application.Services.WorklistSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.Ris.Application.Services.WorkingFacilitySettings>
            <setting name="WorkingFacilityCode" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Ris.Application.Services.WorkingFacilitySettings>
    </userSettings>
    <applicationSettings>
        <ClearCanvas.Ris.Application.Services.OrderNoteSettings>
            <setting name="ItemsPerPage" serializeAs="String">
                <value>100</value>
            </setting>
        </ClearCanvas.Ris.Application.Services.OrderNoteSettings>
        <ClearCanvas.Ris.Application.Services.WorklistSettings>
            <setting name="ItemsPerPage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxPersonalOwnedWorklists" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxGroupOwnedWorklists" serializeAs="String">
                <value>5</value>
            </setting>
        </ClearCanvas.Ris.Application.Services.WorklistSettings>
    </applicationSettings>
</configuration>