<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.Configuration.ConfigurationDialogSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.Configuration.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Desktop.Configuration.ConfigurationDialogSettings>
            <setting name="ShowApplyButton" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Desktop.Configuration.ConfigurationDialogSettings>
        <ClearCanvas.Desktop.Configuration.Settings>
            <setting name="ShowApplyButton" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Desktop.Configuration.Settings>
        <ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings>
            <setting name="AvailableCustomFormats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>M/d/yyyy</string>
                        <string>M/d/yy</string>
                        <string>MM/dd/yyyy</string>
                        <string>MM/dd/yy</string>
                        <string>yyyy-MM-dd</string>
                        <string>yy-MM-dd</string>
                        <string>yyyy/MM/dd</string>
                        <string>yy/MM/dd</string>
                        <string>dd-MMM-yy</string>
                        <string>dd-MMM-yyyy</string>
                        <string>dd-MM-yy</string>
                        <string>dd-MM-yyyy</string>
                        <string>yyyyMMdd</string>
                        <string>dddd, MMMM dd, yyyy</string>
                        <string>MMMM dd, yyyy</string>
                        <string>dddd, dd MMMM, yyyy</string>
                        <string>dd MMMM, yyyy</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings>
    </applicationSettings>
</configuration>