<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings>
            <setting name="AvailableCustomFormatsXml" serializeAs="String">
                <value>CustomDateFormatSettings.xml</value>
            </setting>
        </ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings>
    </applicationSettings>
</configuration>