<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Client.Adt.TechnologistDocumentationComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Adt.TechnologistPreviewComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Adt.RegistrationPreviewComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Adt.PerformedProcedureComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Adt.PatientProfileDetailsEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Adt.OrderEntryComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Client.Adt.TechnologistDocumentationComponentSettings>
            <setting name="OrderSummaryUrl" serializeAs="String">
                <value>http://localhost/RIS/technologistdocumentation-ordersummary.htm</value>
            </setting>
            <setting name="PreExamDetailsPageUrl" serializeAs="String">
                <value>http://localhost/RIS/forms/technologist/pre-exam.htm</value>
            </setting>
            <setting name="PostExamDetailsPageUrl" serializeAs="String">
                <value>http://localhost/RIS/forms/technologist/post-exam.htm</value>
            </setting>
            <setting name="ProtocolSummaryUrl" serializeAs="String">
                <value>http://localhost/RIS/protocolsummary.htm</value>
            </setting>
            <setting name="InitiallySelectedTabPageName" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Ris.Client.Adt.TechnologistDocumentationComponentSettings>
        <ClearCanvas.Ris.Client.Adt.TechnologistPreviewComponentSettings>
            <setting name="TechnologistFolderSystemUrl" serializeAs="String">
                <value>http://localhost/RIS/technologistpreview.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.Adt.TechnologistPreviewComponentSettings>
        <ClearCanvas.Ris.Client.Adt.RegistrationPreviewComponentSettings>
            <setting name="RegistrationFolderSystemUrl" serializeAs="String">
                <value>http://localhost/RIS/registrationpreview.htm</value>
            </setting>
            <setting name="BookingFolderSystemUrl" serializeAs="String">
                <value>http://localhost/RIS/bookingpreview.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.Adt.RegistrationPreviewComponentSettings>
        <ClearCanvas.Ris.Client.Adt.PerformedProcedureComponentSettings>
            <setting name="DetailsPageUrl" serializeAs="String">
                <value>http://localhost/RIS/forms/technologist/mpps.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.Adt.PerformedProcedureComponentSettings>
        <ClearCanvas.Ris.Client.Adt.PatientProfileDetailsEditorComponentSettings>
            <setting name="ValidationRules" serializeAs="String">
                <value>PatientProfileDetailsEditorComponent.val.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.Adt.PatientProfileDetailsEditorComponentSettings>
        <ClearCanvas.Ris.Client.Adt.OrderEntryComponentSettings>
            <setting name="ValidationRules" serializeAs="String">
                <value>OrderEntryComponent.val.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.Adt.OrderEntryComponentSettings>
    </applicationSettings>
</configuration>