<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Client.Adt.TechnologistDocumentationComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Adt.TechnologistPreviewComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Adt.RegistrationPreviewComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Adt.PerformedProcedureComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Adt.PatientProfileDetailsEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Adt.OrderEntryComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Client.Adt.PerformedProcedureComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Client.Adt.TechnologistDocumentationComponentSettings>
            <setting name="OrderSummaryUrl" serializeAs="String">
                <value>http://localhost/RIS/technologistdocumentation-ordersummary.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.Adt.TechnologistDocumentationComponentSettings>
        <ClearCanvas.Ris.Client.Adt.TechnologistPreviewComponentSettings>
            <setting name="DetailsPageUrl" serializeAs="String">
                <value>http://localhost/RIS/technologistpreview.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.Adt.TechnologistPreviewComponentSettings>
        <ClearCanvas.Ris.Client.Adt.RegistrationPreviewComponentSettings>
            <setting name="DetailsPageUrl" serializeAs="String">
                <value>http://localhost/RIS/registrationpreview.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.Adt.RegistrationPreviewComponentSettings>
        <ClearCanvas.Ris.Client.Adt.PerformedProcedureComponentSettings>
            <setting name="DetailsPageUrl" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Ris.Client.Adt.PerformedProcedureComponentSettings>
        <ClearCanvas.Ris.Client.Adt.PatientProfileDetailsEditorComponentSettings>
            <setting name="ValidationRules" serializeAs="String">
                <value>PatientProfileDetailsEditorComponent.val.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.Adt.PatientProfileDetailsEditorComponentSettings>
        <ClearCanvas.Ris.Client.Adt.OrderEntryComponentSettings>
            <setting name="ValidationRules" serializeAs="String">
                <value>OrderEntryComponent.val.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.Adt.OrderEntryComponentSettings>
    </applicationSettings>
    <userSettings>
        <ClearCanvas.Ris.Client.Adt.PerformedProcedureComponentSettings>
            <setting name="DetailsData" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Ris.Client.Adt.PerformedProcedureComponentSettings>
    </userSettings>
</configuration>