<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="http://172.16.10.167/RisTemplates/default.css" rel="stylesheet" type="text/css" />
</head>

<body>
<% 
var component = this.Component;
if(component.Subject != null)
{%>
<table width="640" border="0">
  <tr>
    <td width="422" class="pageheading"><%= component.Name %></td>
    <td rowspan="2" width="202"><img src="http://clearcanvas.ca/images/clearcanvas_logo.png" alt="ClearCanvas Inc." width="210" height="64" align="left" /></td>
  </tr>
  <tr>
    <td class="pageheading2"><%= component.MrnAuthority %> <%= component.MrnId %></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="640" border="0">
  <tr class="sectionheading">
    <td colspan="4">Basic Information </td>
  </tr>
  <tr>
    <td width="120" class="propertyname">Date of Birth </td>
    <td width="200"><%= component.DateOfBirth %></td>
    <td width="63" class="propertyname">Sex</td>
    <td width="229"><%= component.Sex %></td>
  </tr>
  <tr>
    <td class="propertyname">Healthcard # </td>
    <td><%= component.Healthcard %></td>
    <td class="propertyname">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="propertyname">Phone</td>
    <td colspan="3"><%= component.CurrentHomePhone %></td>
  </tr>
  <tr>
    <td class="propertyname">Address</td>
    <td colspan="3"><%= component.CurrentHomeAddress %></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="640" border="0">
  <tr class="sectionheading">
    <td colspan="4">Additional Phone Numbers</td>
  </tr>
  <tr class="tableheading">
    <% for(var column in component.PhoneNumbers.Columns) { %>
    <td width="<%= column.WidthPercent %>%"><%= column.Name %></td>
    <% } %>
  </tr>
    <% for(var phone in component.PhoneNumbers.Items) {%>
    <tr><% for(var column in component.PhoneNumbers.Columns) {%>
        <td><%= column.GetValue(phone) %></td>
        <% } %>
    </tr>
    <% } %>
</table>
<p>&nbsp;</p>
<table width="640" border="0">
  <tr class="sectionheading">
    <td colspan="4">Additional Addresses</td>
  </tr>
  <tr class="tableheading">
  <% for(var column in component.Addresses.Columns) { %>
  <td width="<%= column.WidthPercent %>%"><%= column.Name %></td>
  <% } %>
  </tr>
  <% for(var address in component.Addresses.Items) {%>
  <tr><% for(var column in component.Addresses.Columns) {%>
    <td><%= column.GetValue(address) %></td>
      <% } %>
  </tr>
  <% } %>
</table>
<%} // end-if "component != null"%>    
</body>
</html>
