<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
	<% 
    var component = this.Component;
    if(component.Subject != null)
    {%>
	    <table border="1">
	        <tr>
	            <td>
                    <strong>Name</strong>:</td>
	            <td><%= component.Name %></td>
	            <td>
                    <strong>Date Of Birth</strong>:</td>
	            <td><%= component.DateOfBirth %></td>
	        </tr>
	        <tr>
	            <td>
                    <strong>MRN</strong>:</td>
	            <td><%= component.Mrn %></td>
	            <td>
                    <strong>Sex</strong>:</td>
	            <td><%= component.Sex %></td>
	        </tr>
	        <tr>
	            <td>
                    <strong>Healthcard</strong>:</td>
	            <td><%= component.Healthcard %></td>
	            <td></td>
	            <td></td>
	        </tr>
	    </table>
        <br /><strong>Addresses</strong><br />
        <table border="1">
            <tr>
            <% for(var column in component.Addresses.GetItemProperties(null)) { %><td><strong><%= column.Name %></strong></td><% } %>
            </tr>
            <% for(var address in component.Addresses) {%>
            <tr><% for(var column in component.Addresses.GetItemProperties(null)) {%>
                <td><%= column.GetValue(address) %></td>
                <% } %>
            </tr>
            <% } %>
        </table>
        <br /><strong>Phone Numbers</strong><br />
        <table border="1">
            <tr>
            <% for(var column in component.PhoneNumbers.GetItemProperties(null)) { %><td><strong><%= column.Name %></strong></td><% } %>
            </tr>
            <% for(var phone in component.PhoneNumbers) {%>
            <tr><% for(var column in component.PhoneNumbers.GetItemProperties(null)) {%>
                <td><%= column.GetValue(phone) %></td>
                <% } %>
            </tr>
            <% } %>
        </table>

    <%} %>    
	</body>
</html>