<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<% 
var component = this.Component;
var amr = this.ActionModelRenderer;
%> 

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="<%= component.Server %>/Styles/default.css" rel="stylesheet" type="text/css" />
</head>

<body>
<%
if(component.WorklistPreview != null)
{%>
<table width="640" border="0">
  <tr>
    <td width="422" class="pageheading"><%= component.Name %></td>
    <td rowspan="2" width="202">
        <% if(component.HasAlert) { %>
              <% for(var alert in component.AlertNotifications) {%>
                  <img width="50" border="0" src="<%= component.GetAlertImageURI(alert) %>" alt="<%= component.GetAlertTooltip(alert) %>" align="right"/>
              <% } %>
        <% } %>
    </td>
  </tr>
  <tr>
    <td class="pageheading2"><%= component.Mrn %></td>
  </tr>
</table>

<p>&nbsp;</p>
<table width="640" border="0">
  <tr>
    <td width="120" class="propertyname">Name</td>
    <td width="200"><%= component.Name %></td>
    <td width="63" class="propertyname">MRN</td>
    <td width="229"><%= component.Mrn %></td>
  </tr>
  <tr>
    <td width="120" class="propertyname">Date of Birth</td>
    <td width="200"><%= component.DateOfBirth %></td>
    <td width="63" class="propertyname">Sex</td>
    <td width="229"><%= component.Sex %></td>
  </tr>
  <tr>
    <td class="propertyname">Healthcard # </td>
    <td><%= component.Healthcard %></td>
    <td class="propertyname">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="propertyname">Home Phone</td>
    <td colspan="3"><%= component.CurrentHomePhone %></td>
  </tr>
  <tr>
    <td class="propertyname">Home Address</td>
    <td colspan="3"><%= component.CurrentHomeAddress %></td>
  </tr>
  <tr class="additionalentriescount">
    <% if(component.HasMoreBasicInfo) { %>
    <td colspan="4"><%= amr.GetHTML(component.MenuModel, "Details", "more...") %></td>
    <% } %>
  </tr>
</table>
<% 
    var hasActiveRIC = component.ActiveRIC.Items.Count > 0;
    var hasPastRIC = component.PastRIC.Items.Count > 0;
    var showActiveTableHeading = hasActiveRIC;
    var showPastTableHeading = hasPastRIC && !showActiveTableHeading;
    if (hasActiveRIC || hasPastRIC) {    
%>
<p>&nbsp;</p>
<table width="640" border="0">
  <% if(component.ActiveRIC.Items.Count > 0) { %>
      <tr class="sectionheading">
        <td colspan="6">Active Request for Imaging Consultation</td>
      </tr>
      <% if (showActiveTableHeading) { %>
          <tr class="tableheading">
          <% for(var column in component.ActiveRIC.Columns) { %>
          <td width="<%= column.WidthPercent %>%"><%= column.Name %></td>
          <% } %>
          </tr>
      <% } %>
      <% var i = 0; %>
      <% for(var ric in component.ActiveRIC.Items) {%>
      <tr class="row<%= (i++) % 2 %>"><% for(var column in component.ActiveRIC.Columns) {%>
        <td><%= column.GetValue(ric) %></td>
          <% } %>
      </tr>
      <% } %>
  <% } %>

    <% if(component.PastRIC.Items.Count > 0) { %>
      <tr class="sectionheading">
        <td colspan="6">Past Request for Imaging Consultation</td>
      </tr>
      <% if (showPastTableHeading) { %>
          <tr class="tableheading">
          <% for(var column in component.PastRIC.Columns) { %>
          <td width="<%= column.WidthPercent %>%"><%= column.Name %></td>
          <% } %>
          </tr>
      <% } %>
      <% var i = 0; %>
      <% for(var ric in component.PastRIC.Items) {%>
      <tr class="row<%= (i++) % 2 %>"><% for(var column in component.PastRIC.Columns) {%>
        <td><%= column.GetValue(ric) %></td>
          <% } %>
      </tr>
      <% } %>
    <% } %>
  
    <% if(component.MoreRICCount > 0) { %>
    <tr class="additionalentriescount">
        <td colspan="6"><%= amr.GetHTML(component.MenuModel, "Details", "(" + component.MoreRICCount + " more...)") %></td>
    </tr>
    <% } %>
</table>
<% } %>
<%} // end-if(component.WorklistPreview != null)%>    
</body>
</html>
