<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
	  <section name="WorkQueueSettings" type="ClearCanvas.ImageServer.Services.WorkQueue.WorkQueueSettings, ClearCanvas.ImageServer.Services.WorkQueue, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
	</configSections>
  <WorkQueueSettings
        WorkQueueQueryDelay="10000"
        WorkQueueMaxFailureCount="3"
        WorkQueueFailureDelayMinutes="3"
        WorkQueueProcessDelayMedPrioritySeconds="15"
        WorkQueueExpireDelaySeconds="90"
        WorkQueueProcessDelayLowPrioritySeconds="45"
        WorkQueueProcessDelayHighPrioritySeconds="1"
		CompletedWorkQueueDelayDeleteSeconds="60"
        LowPriorityMaxBatchSize="100"
        MedPriorityMaxBatchSize="250"
		WorkQueueThreadCount="4"
		PriorityWorkQueueThreadCount ="2"
		MemoryLimitedWorkQueueThreadCount ="4"
		NonMemoryLimitedWorkQueueTypes="DeleteStudy,WebDeleteStudy,MigrateStudy,PurgeStudy" 
		WorkQueueMinimumFreeMemoryMB="512"
		EnableStudyIntegrityValidation="true"
		TierMigrationProgressUpdateInSeconds="30"
		/>
</configuration>