<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageServer.Services.WorkQueue.WorkQueueSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.ImageServer.Services.WorkQueue.WorkQueueSettings>
            <setting name="WorkQueueQueryDelay" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="WorkQueueMaxFailureCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WorkQueueFailureDelayMinutes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WorkQueueProcessDelaySeconds" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="WorkQueueExpireDelaySeconds" serializeAs="String">
                <value>180</value>
            </setting>
        </ClearCanvas.ImageServer.Services.WorkQueue.WorkQueueSettings>

    </applicationSettings>
</configuration>