<html><head><title>AC3 - Revision 21: /Code/ImageViewer/Layout/Basic/View/WinForms</title></head>
<body>
 <h2>AC3 - Revision 21: /Code/ImageViewer/Layout/Basic/View/WinForms</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="ClearCanvas.ImageViewer.Layout.Basic.View.WinForms.csproj">ClearCanvas.ImageViewer.Layout.Basic.View.WinForms.csproj</a></li>
  <li><a href="DisplaySetCreationConfigurationComponentControl.Designer.cs">DisplaySetCreationConfigurationComponentControl.Designer.cs</a></li>
  <li><a href="DisplaySetCreationConfigurationComponentControl.cs">DisplaySetCreationConfigurationComponentControl.cs</a></li>
  <li><a href="DisplaySetCreationConfigurationComponentControl.resx">DisplaySetCreationConfigurationComponentControl.resx</a></li>
  <li><a href="DisplaySetCreationConfigurationComponentView.cs">DisplaySetCreationConfigurationComponentView.cs</a></li>
  <li><a href="LayoutChangerActionView.cs">LayoutChangerActionView.cs</a></li>
  <li><a href="LayoutChangerToolStripItem.cs">LayoutChangerToolStripItem.cs</a></li>
  <li><a href="LayoutComponentView.cs">LayoutComponentView.cs</a></li>
  <li><a href="LayoutConfigurationComponentControl.Designer.cs">LayoutConfigurationComponentControl.Designer.cs</a></li>
  <li><a href="LayoutConfigurationComponentControl.cs">LayoutConfigurationComponentControl.cs</a></li>
  <li><a href="LayoutConfigurationComponentControl.resx">LayoutConfigurationComponentControl.resx</a></li>
  <li><a href="LayoutConfigurationComponentView.cs">LayoutConfigurationComponentView.cs</a></li>
  <li><a href="LayoutControl.cs">LayoutControl.cs</a></li>
  <li><a href="LayoutControl.resx">LayoutControl.resx</a></li>
  <li><a href="Properties/">Properties/</a></li>
  <li><a href="SR.Designer.cs">SR.Designer.cs</a></li>
  <li><a href="SR.resx">SR.resx</a></li>
  <li><a href="bin/">bin/</a></li>
  <li><a href="obj/">obj/</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.apache.org/">Apache Subversion</a> version 1.7.1 (r1186859).</em>
</body></html>