/**************************************************************************************************

	Accordian Styles
	
	Used to set the styles of the result panel in the study and workqueue search page.

	The content of the result (including the header columns, result list and the status bar 
	is contained within CSSAccordianResultPanelContent. The whole panel is wrapped 
	inside CSSAccordianResultPanelContainer, and its border style is specified in CSSAccordianResultPanelBorder.


	The CSS tree for the column headers is as follows:

		CSSAccordianHeaderPanelContainer
			CSSAccordianHeaderPanelBorder
				CSSAccordianHeaderPanelContent
					CSSAccordianHeaderText


	The CSS tree for the study result list is as follows:
		CSSAccordianResultListContainer
			CSSAccordianStudyHeader/CSSAccordianStudyHeaderSelected 
			CSSAccordianStudyDetailsContainer
				CSSAccordianStudyDetailsPanelContent


*************************************************************************************************/


/*	The result container 
	Child: 	CSSAccordianResultPanelBorder
*/
.CSSAccordianResultPanelContainer
{

}

/* Border inside the container
	Child:CSSAccordianResultPanelContent
*/
.CSSAccordianResultPanelBorder
{
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	border-left: #696969 1px solid;
	border-bottom: #696969 1px solid;
}

/*	Result panel. This include the column header. 
	Child: CSSAccordianHeaderPanelContainer, CSSAccordianResultListContainer
*/
.CSSAccordianResultPanelContent
{
	margin:1px;
}


/*	The header column panel
	Child: CSSAccordianHeaderPanelBorder
*/	
.CSSAccordianHeaderPanelContainer
{
	margin:0px;
	padding:0px;
	
	
}

/*	The border of the header column panel 
	Child: CSSAccordianHeaderPanelContent
*/
.CSSAccordianHeaderPanelBorder
{
	
}

/*	The content in the header column panel 
	Child: CSSAccordianHeaderText
*/
.CSSAccordianHeaderPanelContent
{
	height: 24px;
	padding-top:0px;
	padding-left:10px;
	font-weight: normal;
	background-image: url(images/gridheaderbackground.png);
	
}

/* The column header text  */
.CSSAccordianHeaderText
{
	text-wrap:none;
	font-weight: bold;
	padding-top:3px;
	padding-left:0px;
	color: darkgray;
}

/*	The result list panel container 
	Child: 
		CSSAccordianStudyHeader
		CSSAccordianStudyDetailsContainer
*/
.CSSAccordianResultListContainer
{
	height:580px;
}


/*	The study header (summary) panel */
.CSSAccordianStudyHeader
{
	cursor: pointer;
	padding-right: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: solid 1px darkgray;
}

/*	The study header (summary) panel when selected */
.CSSAccordianStudyHeaderSelected
{
	cursor: pointer;
	padding-right: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: solid 1px darkgray;
	
	
	background-color: #990000;
	color: white;
}


/*	The study details panel container 
	Child:
		CSSAccordianStudyDetailsPanelContent
*/
.CSSAccordianStudyDetailsContainer
{
	border-top: medium none;
	border-bottom: #696969 thick solid;
	padding-bottom: 30px;
}

/*	The study details content panel*/
.CSSAccordianStudyDetailsPanelContent
{

	padding-right: 5px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	border-left: dimgray 1px solid;
	border-bottom: dimgray 1px solid;
	
}

.CSSAccordianCell
{
	word-wrap: break-word;
	vertical-align: middle;
	font-weight: normal;
	margin-left: 3px;
	margin-right: 32px;
	background-color: #33cc33;
}


.CSSSectionLabel
{
		color:yellow;
}


