/**************************************************************************************************
	This file contains the border CSS 
**************************************************************************************************/



/* Panel that holds the contents of the page - below the menubar*/
.CSSPageContentMainWindow
{
}

/* Title of the page */
.CSSPageTitle
{
	
}


/*************************************************************************************************
	Toolbar styles 
*************************************************************************************************/

/* toolbar panel container */
.CSSToolbarPanelContainer
{
}

/* Toolbar panel border */
.CSSToolbarPanelBorder
{

}

/* The content panel in the toolbar panel */
.CSSToolbarContent
{
	
}


/*************************************************************************************************
	Filter panel
*************************************************************************************************/


/* filter panel */
.CSSFilterPanelContainer
{
	
}

/* filter panel content border */
.CSSFilterPanelBorder
{
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	border-left: #696969 1px solid;
	border-bottom: #696969 1px solid;
}

/* filter panel content*/
.CSSFilterPanelContent
{

}


/*************************************************************************************************
	Menu bar background
*************************************************************************************************/


/* Menubar panel container */
.CSSMainMenuBarContainer
{
	text-align:left;
}

/* Menubar */
.CSSMenuBarBorder
{
	border-right: 1px outset;
	border-top: 1px outset;
	border-left: 1px outset;
	border-bottom: 1px outset;
	
}

/* main menu */
.CSSMenu_TopLevel
{

}

/* main menu (when hover over)*/
.CSSMenu_TopLevel_Hover
{

}


/* submenu container styles */
.CSSMenu_SubMenu
{
	border-right: lightgrey 2px outset;
	border-top: lightgrey 2px outset;
	border-left: lightgrey 2px outset;
	border-bottom: lightgrey 2px outset;
}

/* submenu item */
.CSSMenu_SubMenuItem
{

}

/* submenu item when hover*/
.CSSMenu_SubMenu_Hover
{
	
	
}





/*************************************************************************************************
	Gridview control 
*************************************************************************************************/


/* Container for the gridview */
.CSSGridViewPanelContainer
{
	
}

/* border of the gridview */
.CSSGridViewPanelBorder
{
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	border-left: #696969 1px solid;
	border-bottom: #696969 1px solid;
}

/* gridview content panel */
.CSSGridViewPanelContent
{
	
}



/* gridview control styling */
.CSSGridView
{
	border-left-color: #696969;
	border-bottom-color: #696969;
	border-top-style: solid;
	border-top-color: #696969;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #696969;
	border-bottom-style: solid;
}

/* gridview control header row */
.CSSGridHeader th
{	
	border-left-color: #4b4b4c;
	border-bottom-color: #4b4b4c;
	border-top-style: solid;
	border-top-color: #4b4b4c;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #4b4b4c;
	border-bottom-style: solid;
}

/* gridview control row */
.CSSGridRowStyle
{
	border-style: solid;
	border-width: 1px;
}

/* gridview control cell */
.CSSGridRowStyle td
{
	border-left-color: #4b4b4c;
	border-bottom-color: #4b4b4c;
	border-top-style: solid;
	border-top-color: #4b4b4c;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #4b4b4c;
	border-bottom-style: solid;
}

/* gridview control selected row */
.CSSGridSelectedRowStyle
{
	
}

/* gridview cell of the selected row */
.CSSGridSelectedRowStyle td
{
	border-left-color: green;
	border-bottom-color: darkgray;
	border-top-style: solid;
	border-top-color: darkgray;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: darkgray;
	border-bottom-style: solid;
}




/*************************************************************************************************
	Gridview Pager panel background
*************************************************************************************************/


/* Grid pager control panel container */
.CSSGridPagerPanelContainer
{
}

/* grid pager panel border */
.CSSGridPagerPanelBorder
{
	border-right: #696969  1px solid;
	border-top: #696969  1px solid;
	border-left: #696969  1px solid;
	border-bottom:  #696969  1px solid;
}

/*grid pager panel content */
.CSSGridPagerPanelContent
{

}




/*************************************************************************************************
	Popup Dialog
*************************************************************************************************/


.CSSPopupWindow
{
	border-right: 1px outset;
	border-top: 1px outset;
	border-left: 1px outset;
	border-bottom: 1px outset;
}


.CSSPopupWindowBody 
{ 
	
}

.CSSDialogTabPanelContent
{
	
}
        
.CSSPopupWindowTitleBar
{
	border-bottom: gray 1px ridge;
	
}


