/*************************************************************************

	General CSS 

**************************************************************************/

body
{
	scrollbar-face-color:#3f3f3f;
	scrollbar-highlight-color:#696969;
	scrollbar-3dlight-color:#3f3f3f;
	scrollbar-darkshadow-color:#696969;
	scrollbar-shadow-color:gray;
	scrollbar-arrow-color:white;
	scrollbar-track-color:#1b1b1b;
}


.InvalidInputHilight
{
	background-color:Yellow;
}


.CSSTextBoxLabel
{
	width: 100px;
	margin-left: 3px;
	margin-right: 3px;
}

 
.CSSFilterTextBox
{
	width: 100px;
	margin-left: 3px;
	margin-right: 3px;
}

.CSSFilterDropDownList
{
	width: 120px;
	margin-left: 3px;
	margin-right: 3px;
}

.FilterButtonContainer
{
	margin-left:10px;
	margin-right:5px;
}

.CSSCheckBox
{
	margin-left:10px;
	margin-right:10px;
}



.CSSModalBackground
{
	background-color: black;
}



