.CSSAccordianResultPanelContainer
{

}

.CSSAccordianResultPanelBorder
{
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	border-left: #696969 1px solid;
	border-bottom: #696969 1px solid;
}

.CSSAccordianResultPanelContent
{
		margin:1px;
}


.CSSAccordianHeaderPanelContainer
{
}

.CSSAccordianHeaderPanelBorder
{
}

.CSSAccordianHeaderPanelContent
{
	height: 24px;
	padding-right: 5px;
	padding-left: 8px;
	background-image: url(images/gridheaderbackground.png);
	background-repeat: repeat-x;
	font-weight: normal;
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	border-left: #696969 1px solid;
	border-bottom: #696969 1px solid;
}

.CSSAccordianHeaderText
{
	font-weight: bold;
	color: darkgray;
	margin:2px;
}



.CSSAccordianResultListContainer
{
	height:580px;
}


.CSSAccordianStudyHeader
{
    cursor: pointer;
    padding: 5px;
    border-bottom: solid 1px darkgray;
    
}


.CSSAccordianStudyHeaderSelected
{
	cursor: pointer;
	padding: 5px;
	background-color:#316AC5;
	cursor: pointer;
    
}


.CSSAccordianStudyDetailsContainer
{
	background-color: black;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
    
}

.CSSDetailsPanel
{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	border-left: dimgray 1px solid;
	border-bottom: dimgray 1px solid;
	
}



.CSSAccordianCell
{
	word-wrap: break-word;
	vertical-align: middle;
	font-weight:normal;
	margin-left: 3px;
	
}


.CSSSectionLabel
{
		color:yellow;
}


