.Calendar .ajax__calendar_container
{
	padding: 1px;
	position: absolute;
	cursor: default;
	color: darkgray;
	width: 170px;
	font-size: 12px;
	text-align: center;
	font-family: tahoma,verdana,helvetica;
	background-color: #000000;
}
.Calendar .ajax__calendar_body
{
	height: 139px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: auto;
	
}
.Calendar .ajax__calendar_days, .Calendar .ajax__calendar_months, .Calendar .ajax__calendar_years 
{
	top:0px;left:0px;height:139px;width:170px;position:relative;text-align:center;margin:auto;}


.Calendar .ajax__calendar_header
{
	width: 100%;
	padding-bottom: 3px;
	padding-top: 3px;
	background-color: #990000;
}
.Calendar .ajax__calendar_prev
{
	cursor: pointer;
	width: 15px;
	height: 15px;
	float: left;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(/images/icons/calendar-arrow-left.png);
}
.Calendar .ajax__calendar_next
{
	cursor: pointer;
	width: 15px;
	height: 15px;
	float: right;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(/images/icons/calendar-arrow-right.png);
}
.Calendar .ajax__calendar_title {cursor:pointer;font-weight:bold;}
.Calendar .ajax__calendar_footer {height:15px;}
.Calendar .ajax__calendar_today {cursor:pointer;padding-top:3px;}
.Calendar .ajax__calendar_dayname
{
	height: 17px;
	width: 18px;
	text-align: right;
	cursor: pointer;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 0px;
	border-bottom: #0 1px solid;
	font-weight: bold;
}
.Calendar .ajax__calendar_day
{
	height: 17px;
	width: 18px;
	text-align: right;
	cursor: pointer;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
	background-color:Black;
}
.Calendar .ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.Calendar .ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.Calendar  .ajax__calendar_container {border:1px solid #646464; }
.Calendar  .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.Calendar  .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}

.Calendar  .ajax__calendar_month {border:1px solid #ffffff;}


.Calendar  .ajax__calendar_year {border:1px solid #ffffff;}

.Calendar .ajax__calendar_active .ajax__calendar_day
{
	background-color: #3f3f3f;
	color: white;
	border-right: #ffff00 1px solid;
	border-top: #ffff00 1px solid;
	border-left: #ffff00 1px solid;
	border-bottom: #ffff00 1px solid;
}
.Calendar .ajax__calendar_active .ajax__calendar_month
{
	
	border-color: #0066cc;
	color: #0066cc;
}
.Calendar .ajax__calendar_active .ajax__calendar_year
{
	
	border-color: #0066cc;
	color: #0066cc;
}

.Calendar .ajax__calendar_other .ajax__calendar_day
{
	border-color: #ffffff;
	color: #5b5b5b;
	background-color: #000000;
}
.Calendar  .ajax__calendar_other .ajax__calendar_year {border-color:#ffffff;color:#646464;}

.Calendar  .ajax__calendar_hover .ajax__calendar_day {border-color:#daf2fc;color:#0066cc;}
.Calendar  .ajax__calendar_hover .ajax__calendar_month {border-color:#daf2fc;color:#0066cc;}
.Calendar  .ajax__calendar_hover .ajax__calendar_year {border-color:#daf2fc;color:#0066cc;}

.Calendar  .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.Calendar  .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}

