body
{
	scrollbar-face-color:#3f3f3f;
	scrollbar-highlight-color:#696969;
	scrollbar-3dlight-color:#3f3f3f;
	scrollbar-darkshadow-color:#696969;
	scrollbar-shadow-color:gray;
	scrollbar-arrow-color:white;
	scrollbar-track-color:#1b1b1b;
}


.InvalidInputHilight
{
	background-color:Yellow;
}


a:link    { color: white }
a:visited { color: white}
a:hover   { color: white }
a:active  { color: white }


.CSSTextBoxLabel
{
	width: 100px;
	margin-left: 3px;
	margin-right: 3px;
}

 
.CSSFilterTextBox
{
	width: 100px;
	margin-left: 3px;
	margin-right: 3px;
}

.CSSCheckBox
{
	padding-left: 5px;
	padding-right: 20px;
}



.CSSModalBackground
{
	background-color: #696969;
}



