html {
	font-size: 75%;
	height: 100%;
}

body {
	font-family: Arial;
	margin: 0px;
	height: 100%;
	/* filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#BAD2EC', endColorstr='#7CB1DD', gradientType='0'); */
}

table {
	height: 100%;
	border-collapse:collapse; 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	display:inline;
}

table td {
	vertical-align: top;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.patientnameheading {
	font-family: Tahoma, Geneva, Arial;
	font-size: 170%;
	font-weight: bold;
	padding-top: 0.15em;
	padding-right: 1em;
	padding-bottom: 0.2em;
	padding-left: 10px;
}

.patientmrnheading {
	font-family: Tahoma, Geneva, Arial;
	font-size: 140%;
	font-weight: bold;
	padding-top: 0.15em;
	padding-right: 1em;
	padding-bottom: 0.2em;
	padding-left: 10px;
	white-space: nowrap;
}

.propertyname {
	font-weight: bold;
	padding-top: 0.25em;
	padding-right: 0.2em;
	padding-bottom: 0em;
	padding-left: 0.5em;
	white-space: nowrap;
}

.propertyvalue {
	padding-top: 0.25em;
	padding-right: 1em;
	padding-bottom: 0em;
	padding-left: 0.5em;
}

#myForm {
	overflow: scroll;
}

.alerticons {
	position: relative;
	right: 2px;
	top: 2px;
}

img.alert{
   width: 3em;
}
