body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	height: 100%;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#BAD2EC', endColorstr='#7CB1DD', gradientType='0');
}

table {
	height: 100%;
	border-collapse:collapse;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	display:inline;
}

table td {
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.tableheading {
	vertical-align: top;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #000000;
}

.tabledefault {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.pageheading {
	font-size: 1.0em;
	font-weight: bold;
	padding-top: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0em;
	padding-left: 0.2em;
	white-space: nowrap;
}

.pageheading2 {
	font-size: 0.9em;
	font-weight: bold;
	padding-top: 0em;
	padding-right: 0.2em;
	padding-bottom: 0em;
	padding-left: 0.2em;
	white-space: nowrap;
}

.propertyname {
	font-size: 0.7em;
	font-weight: bold;
	padding-top: 0.2em;
	padding-right: 0.75em;
	padding-bottom: 0em;
	padding-left: 0.75em;
	white-space: nowrap;
}

.propertyvalue {
	font-size: 0.7em;
	padding-top: 0.2em;
}

.alerticons {
	padding-top: 0.2em;
	padding-right: 0.25em;
	display: inline;
}

img.alert{
   width: 2.2em;
}