body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* font-size: 14px; */
}

p  {
   margin-top: 2px;
   margin-bottom: 2px;
}

table {
   border-collapse:collapse;
   margin-left:10px;
}

table td {
   padding-top: 1px;
   padding-bottom: 1px;
   padding-left: 0px;
   padding-right: 15px;
}

.tableheading {
   vertical-align: top;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #000000;
}

.propertyname {
	font-weight: bold;
}

.tabledefault {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.sectionheading {
	font-size: 1.2em;
	font-weight: bold;
	color: #3D98D1;
	padding-left: 0.15em;

	/* the combination of padding-top and border-bottom works
         * to create spacing uniformly when sections are stacked
         * on top of one another. Having a top border will not work
         * since the padding occurs betwen the text and the border
         */
	padding-top: 1em;
	border-bottom: thin solid #A8D8F4;
	/* border-top: thin solid #A8D8F4; */
	/* background-color: #3D98D1; */
	/* color: #FFFFFF; */
	/*background-color: #A8D8F4; */
}

input[type="text"] {
	font-size: 1em;
}

input[type="button"] {
	font-size: 1em;
}


.sectionheading a:visited{
   color: #3D98D1;
}

.pageheading {
	font-size: 2em;
	font-weight: bold;
}

.pageheading2 {

	font-size: 1.5em;
	font-weight: bold;
}

.discrepancy {
	text-decoration: underline;
	color: red;
}

tr.row0  {
	background-color: #EEEEEE;
}
tr.row1  {
	background-color: #FFFFFF;
}
tr.highlight  {
       background-color: #316ac5;
       color: #FFFFFF;
}

div.alert ul{
   border: 0;
   color: #FF0000;
   font-weight: bold;
   font-size: 3em;
   margin: 0;
   padding: 0;
   list-style-type: none;
   margin-left: 0.5em;
}

div.alert li
{
background-image: url(alert.gif);
background-repeat: no-repeat;
background-position: 0 .25em;
padding-left: 1em;
}

div.alert{
   border: medium solid #FF0000;
   padding-top: 3px;
   padding-bottom: 3px;
   margin-top: 10px;
   margin-bottom: 10px;
   /* width: 630px; */
   width: 70em;
}

.additionalentriescount {
   text-align: right;
   font-size: 1em; 
}

img.alert{
   text-align: right;
   /* width: 50px; */
   width: 4em;
}

a.collapsibleHeading
{
   text-decoration:none;
 }
a.collapsibleHeading:hover
{
   text-decoration:underline;
}
a.collapsibleHeading span.plusMinus
{
   font-family:monospace;
   font-weight:normal;
}
.collapsibleContent
{
   display:none;
}

.rowCheckCell
{
   width:1em;
}

.divCell, .checkedDivCell
{
   float: left;
   padding: 0;
   margin: 0;
   padding-right: 1.5em;
   margin-bottom: 5px;
   height:3.3em;
}

.divCell
{
   white-space: nowrap;
}

.checkedDivCell
{
   white-space: wrap;
}

.readonlyField
{
   font-style: italic;
   padding-top:0.3em;
}

#patientNotesTable .checkedDivCell
{
   padding:0;
   width: 33%;
   height: auto;
}

#medicationsTable .checkedDivCell
{
   padding:0;
   width: 33%;
   height: auto;
}

.errorProvider
{
   width:20px;
   height:20px;
   background-image:url(../images/errorprovider.gif);
   background-repeat:no-repeat;
   float:left;
}