html {
	font-size:80%;
}

body {
	font-family: Arial;
}

div#readOnlyHeader {
	border: thin solid red;
	color: red;
	font-size: 1.5em;
	text-align: center;
	width: 100%;
}

pre {
	font-family: Arial;
}

p {
	margin-top: 2px;
	margin-bottom: 2px;
}

table {
	border-collapse:collapse;
	width:98%;
	margin-top: 0.5em;
	margin-left:1em;
}

table td {
	padding: 0.2em 0.5em 0.2em 0.5em; 
}

div.addDeleteButtons {
	margin-left:1em;
	margin-top:1em;
	margin-bottom:-0.25em;
}

.tableheading {
	vertical-align: top;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #000000;
}

.propertyname {
	font-weight: bold;
}

.tabledefault {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.sectionheading , .subsectionheading {
	font-size: 100%;
	font-weight: bold;
	color: #3D98D1;
	padding-left: 0.15em;

	/* the combination of padding-top and border-bottom works
			* to create spacing uniformly when sections are stacked
			* on top of one another. Having a top border will not work
			* since the padding occurs betwen the text and the border
			*/
	margin-top: 1em;
	border-bottom: thin solid #A8D8F4;
	/* border-top: thin solid #A8D8F4; */
	/* background-color: #3D98D1; */
	/* color: #FFFFFF; */
	/*background-color: #A8D8F4; */
}

a.sectionheading  {
	color: #3D98D1;
	text-decoration: none;
}

.subsectionheading {
	margin-left:1em;
	border-bottom: 1px solid #A8D8F4;
}

.pageheading {
	font-size: 170%;
	font-weight: bold;
}

.pageheading2 {
	font-size: 130%;
	font-weight: bold;
}

.patientnameheading {
	font-family: Tahoma, Geneva, Arial;
	font-size: 170%;
	font-weight: bold;
	padding-left: 8px;
}

.patientmrnheading {
	font-family: Tahoma, Geneva, Arial;
	font-size: 130%;
	font-weight: bold;
	padding-left: 8px;
}

.performedprocedureheading {
	font-family: Tahoma, Geneva, Arial;
	font-size: 130%;
	font-weight: bold;
	color: #3D98D1;
}

.discrepancy {
	background-color: #000080;
	color: #FFFFFF;
}

tr.row0 {
	background-color: #EEEEEE;
}

tr.row1 {
	background-color: #FFFFFF;
}

tr.highlight {
	background-color: #316ac5;
	color: #FFFFFF;
}

tr.attention {
	background-color: #ffffb0;
}

tr.mouseover {
	background-color: #3d98d1;
	color: #FFFFFF;
}

div.alert ul {
	border: 0;
	color: #FF0000;
	font-weight: bold;
	font-size: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-left: 0.5em;
}

div.alert li {
	background-image: url(alert.gif);
	background-repeat: no-repeat;
	background-position: 0 .25em;
	padding-left: 1em;
}

div.alert {
	border: medium solid #FF0000;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	/* width: 630px; */
	width: 70em;
}

.additionalentriescount {
	text-align: right;
	font-size: 100%;
}

img.alert 
{
	margin-left: 5px;
}

a.collapsibleHeading {
	text-decoration:none;
}

 a.collapsibleHeading span.plusMinus {
	font-family:monospace;
	font-weight:normal;
}
.collapsibleContent {
	display:none;
}

.rowCheckCell {
	width:1em;
}

.divCell, .checkedDivCell {
	float: left;
	padding: 0;
	margin: 0;
	margin-bottom: 0.5em;
	padding-right: 1.5em;
}

.divCell {
	white-space: nowrap;
}

.divCell textarea {
	width: 100%;
}

.divCell input[type="text"] {
	vertical-align: top;
}

.checkedDivCell {
	white-space: wrap;
}

.readonlyField, .readonlyTextareaField, .readonlyFieldEmpty {
	font-style: italic;
	/*padding-top:0.3em;
    padding-bottom:0.18em;
	*/
	padding-top:4px;
	padding-bottom:4px;
	white-space: normal;
}

.readonlyFieldEmpty
{
	color: #cccccc;
}

.readonlyTextareaField {
	text-align: justify;
}

#patientNotesTable .checkedDivCell {
	padding:0;
	width: 32%;
}

#medicationsTable .checkedDivCell {
	padding:0;
	width: 32%;
}

.errorProvider {
	margin-left:0.5em;
	background-image:url(../images/errorprovider.gif);
	background-repeat:no-repeat;
	height:20px;
	width:20px;
}

.divCell .errorProvider {
	position:relative;
	top:-25%;
}

.lookupButton {
	margin-left:0.1em;
	font-size:19px;
	width:19px;
	height:19px;
	padding:0px 0px 0px 0px;
	cursor:pointer;
	background-image:url(../images/PractitionerDetail.png);
	background-repeat:no-repeat; 
}

.datePickerButton {
	margin-left:0.1em;
	font-size:19px;
	width:19px;
	height:19px;
	padding:0px 0px 0px 0px;
	cursor:pointer;
	background-image:url(../images/DatePicker.png);
	background-repeat:no-repeat; 
}

.timePickerButton {
	margin-left:0.1em;
	font-size:19px;
	width:19px;
	height:19px;
	padding:0px 0px 0px 0px;
	cursor:pointer;
	background-image:url(../images/DatePicker.png);
	background-repeat:no-repeat; 
}

img {
	background-image: expression(
		this.runtimeStyle.backgroundImage = "none",
		this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
		this.src = "../images/blank.gif"
	);
}

input.unresolved {
	background-color: #FFF5C3;
}

div.reportPreview {
	width: 93%;
	margin-left: 1em;
	padding: 0.0em 0.5em 0.0em 0.5em;
	text-align: justify;
}