#ObsrForm .TabPage table{
	width: 95%;
}

.ObsrSummary table 
{
	width: 95%;
}

.wellBeingDopplerColumn .divCell
{
	width:40%;
}

.wellBeingDopplerColumn .divCell *
{
	width:100%;
}


.bpsTable .divCell
{
	width:40%;
}

.bpsTable .divCell *
{
	width:100%;
}

.extremitiesTable .divCell
{
	width:40%;
}

.extremitiesTable .divCell *
{
	width:100%;
}

.placentaTable
{
	margin-top: 1em;
}

.placentaTable .divCell
{
	width:18%;
}

.placentaTable .divCell *
{
	width:100%;
}


#General.TabPage .divCell
{
	width:15%;
}
#General.TabPage .divCell *
{
	width:100%;
}

#commentsConclusionTable .divCell, #commentsConclusionPreviewTable .divCell
{
	width:95%;
	margin-bottom:1em;
}
