.MainMenuBar
{
	font-size:120%;
	
}

.MainMenu_TopLevel
{
	padding-right: 15px;
	padding-left: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
}

.MainMenu_Hover_TopLevel
{
	background-color:#7CB1DD;
}

.MainMenu_SubMenu
{ 
	background-color:#7CB1DD;
}

.MainMenu_SubMenuItem
{
	background-color: #3D98D1;
	font-size: 100%;
	border-width: 0px;
	
	text-indent: 15pt;
	
	padding-right: 20px;
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
}

.MainMenu_Hover_SubMenuItem
{
	background-color:#7CB1DD;
	
}