.MasterPageContentWindow
{
	text-align:left;
	width: 1000px;
}

.PageTitle
{
	color:White;
	padding-right:30px;
	font-size:100%;
	font-weight:bold;
}




.PageContentMainWindow
{
	width: 100%;
	
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 0px;	
	font-size:100%;
}


.Panel
{
	margin:0px;
}


.GridPanel
{
	margin:0px;
	border:1px;
}


.CSSFilterPanelContainer
{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: #e7e7e8 1px solid;
	border-top: #e7e7e8 1px solid;
	border-left: #e7e7e8 1px solid;
	border-bottom: #e7e7e8 1px solid;
	font-style: normal;
	font-weight: normal;
}

.PageToolbarPanel
{
	display: block;
	overflow: visible;
}

