
.CSSDetailsPanel
{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: #e7e7e8 1px solid;
	border-top: #e7e7e8 1px solid;
	border-left: #e7e7e8 1px solid;
	border-bottom: #e7e7e8 1px solid;
}

.InvalidInputHilight
{
	background-color:Yellow;
}

.CSSPopupWindow
{
	background-color: white;
	border-right: 1px outset;
	border-top: 1px outset;
	border-left: 1px outset;
	border-bottom: 1px outset;
}


.CSSPopupWindowBody 
{ 
	/*width: 100%;*/
	
	padding-right: 15px; 
	padding-left: 15px; 
	padding-bottom: 15px; 
	padding-top: 15px; 
}

.PopupPanel
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}
        
.CSSPopupWindowTitleBar
{
	cursor: move;
	width: 100%;
	color: white;
	height: 30px; /*background-color: #0099ff;*/
	background-color: #3D98D1;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3D98D1, endColorstr=#4486FF);*/
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: larger;
	text-transform: capitalize;
	border-bottom: gray 1px ridge;
	
}

.WatermarkedText
{
	background-color: transparent;
	color: #cccc99;
	font-style: italic;
}

.CSSAccordianHeaderPanelContent
{
	height: 24px;
	padding-right: 5px;
	padding-left: 8px;
	background-image: url(images/gridheaderbackground.png);
	background-repeat: repeat-x;
	font-weight: normal;
}
.CSSAccordianStudyHeader
{
    background-color: white;	
    cursor: pointer;
    padding: 5px;
    border-bottom: solid 1px #e7e7e8;
}
.CSSAccordianStudyHeaderSelected
{
    background-color: #3D98D1;
	cursor: pointer;
    padding: 5px;
}

.CSSAccordianStudyDetailsContainer
{
    background-color: #EFF3FB;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

.accordionLink
{
	background-color: #D3DEEF;
	cursor: pointer;
}

.CSSAccordianCell
{
	word-wrap: break-word;
	vertical-align: middle;
	font-weight:normal;
	margin-left: 3px;
}

.Calendar .ajax__calendar_container
{
	padding: 1px;
	position: absolute;
	cursor: default;
	width: 170px;
	font-size: 12px;
	text-align: center;
	font-family: tahoma,verdana,helvetica;
	border-right: #ffcc66 1px solid;
	border-top: #ffcc66 1px solid;
	border-left: #ffcc66 1px solid;
	border-bottom: #ffcc66 1px solid;
	
	
}
.Calendar .ajax__calendar_body
{
	height: 139px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: auto;
	border-bottom: #cccccc 1px solid;
}
.Calendar .ajax__calendar_days, .Calendar .ajax__calendar_months, .Calendar .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:relative;text-align:center;margin:auto;}
.Calendar .ajax__calendar_container TABLE {font-size:12px;}
.Calendar .ajax__calendar_header
{
	height: 20px;
	width: 100%;
	background-color: #003399;
	color: #ffffff;
	padding-bottom: 3px;
	padding-top: 3px;
}
.Calendar .ajax__calendar_prev
{
	cursor: pointer;
	width: 15px;
	height: 15px;
	float: left;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(/images/icons/calendar-arrow-left.png);
}
.Calendar .ajax__calendar_next
{
	cursor: pointer;
	width: 15px;
	height: 15px;
	float: right;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(/images/icons/calendar-arrow-right.png);
}
.Calendar .ajax__calendar_title {cursor:pointer;font-weight:bold;}
.Calendar .ajax__calendar_footer {height:15px;}
.Calendar .ajax__calendar_today {cursor:pointer;padding-top:3px;}
.Calendar .ajax__calendar_dayname
{
	height: 17px;
	width: 18px;
	text-align: right;
	cursor: pointer;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 0px;
	border-bottom: #0 1px solid;
	font-weight: bold;
}
.Calendar .ajax__calendar_day
{
	height: 17px;
	width: 18px;
	text-align: right;
	cursor: pointer;
	background-color: #ffffcc;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.Calendar .ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.Calendar .ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.Calendar  .ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.Calendar  .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.Calendar  .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}

.Calendar  .ajax__calendar_month {border:1px solid #ffffff;}
.CSSSectionLabel
{
}

.Calendar  .ajax__calendar_year {border:1px solid #ffffff;}

.Calendar .ajax__calendar_active .ajax__calendar_day
{
	background-color: #edf9ff;
	color: #0066cc;
	border-right: #0066cc 1px solid;
	border-top: #0066cc 1px solid;
	border-left: #0066cc 1px solid;
	border-bottom: #0066cc 1px solid;
}
.Calendar .ajax__calendar_active .ajax__calendar_month
{
	background-color: #edf9ff;
	border-color: #0066cc;
	color: #0066cc;
}
.Calendar .ajax__calendar_active .ajax__calendar_year
{
	background-color: #edf9ff;
	border-color: #0066cc;
	color: #0066cc;
}

.Calendar  .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.Calendar  .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}

.Calendar  .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.Calendar  .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.Calendar  .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.Calendar  .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.Calendar  .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}


body
{
	font-family:verdana,tahoma,helvetica;
	font-size:10pt;
}

a:link    { color: white }
a:visited { color: white}
a:hover   { color: white }
a:active  { color: white }


.MasterPageSize
{
	width: 1000px;
	height: 650px;
}

.MasterTitleBar
{
	border-right: 1px outset;
	border-top: 1px outset;
	border-left: 1px outset;
	border-bottom: 1px outset;
	vertical-align: middle;
	background-color: #3D98D1;
	width: 100%;
	color: White;
	
}


.CSSFilterTextBox
{
	width:100px;
}

.FilterTextBox_Filesystems
{
	width:120px;
}




.GridPanel
{
	border-color: darkgray;
	border-width: 1px;
	border-style: solid;
	height: 500px;
	width: 100%;
}


.GridHeader th /* heading row */
{
	height: 24px;
	padding-right: 5px;
	padding-left: 5px;
	background-image: url(images/gridheaderbackground.png);
	background-repeat: repeat-x;
	
	font-weight:normal;
}


.GridRowStyle
{
	/*background-color:#EFF3FB; */
	border-style: solid;
	border-width: 1px;
	border-color: #E0E0E0;
	padding-right: 3px;
	padding-left: 3px;
	height: 24px; 
}

.GridPanel
{
	
}




.GridSelectedRowStyle
{
	 background-color:#316AC5;
	 font-weight:normal;
	 color: white;
	 border-color: #0FFFF8;
	 padding-right: 3px;
	 padding-left: 3px;
	 height: 24px;
}

.GridPagerStyle
{
	height: 24px;
	width: 100%;
	border-color: darkgray;
	border-style: solid;
	border-width: 1px;
}



.CSSModalBackground 
{
   background-color:#000;
   /*filter:alpha(opacity=60);*/
  /* opacity:0.6;*/
}

.MainMenuBar
{
	font-size:120%;
	
}

.MainMenu_TopLevel
{
	padding-right: 15px;
	padding-left: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
}

.MainMenu_Hover_TopLevel
{
	background-color:#7CB1DD;
}

.MainMenu_SubMenu
{ 
	background-color:#7CB1DD;
}

.MainMenu_SubMenuItem
{
	background-color: #3D98D1;
	font-size: 100%;
	border-width: 0px;
	
	text-indent: 15pt;
	
	padding-right: 20px;
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
}

.MainMenu_Hover_SubMenuItem
{
	background-color:#7CB1DD;
	
}

.MasterPageContentWindow
{
	text-align:left;
	width: 1000px;
}

.PageTitle
{
	color:White;
	padding-right:30px;
	font-size:100%;
	font-weight:bold;
}




.PageContentMainWindow
{
	width: 100%;
	
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 0px;	
	font-size:100%;
}


.Panel
{
	margin:0px;
}


.GridPanel
{
	margin:0px;
	border:1px;
}

.PageContentMainWindow
{
	width: 100%;
	
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 0px;	
	font-size:100%;
}


.CSSFilterPanelContainer
{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: #e7e7e8 1px solid;
	border-top: #e7e7e8 1px solid;
	border-left: #e7e7e8 1px solid;
	border-bottom: #e7e7e8 1px solid;
	font-style: normal;
	font-weight: normal;
}

.PageToolbarPanel
{
	display: block;
	overflow: visible;
}



/* .ajax__tab_header - A container element that wraps all of the tabs at the top of the TabContainer. Child CSS classes:.ajax__tab_outer. */
/* .ajax__tab_outer - An outer element of a tab, often used to set the left-side background image of the tab.Child CSS classes: .ajax__tab_inner. */
/* .ajax__tab_inner	 - An inner element of a tab, often used to set the right-side image of the tab. Child CSS classes:.ajax__tab_tab. */
/* .ajax__tab_tab - An element of the tab that contains the text content. Child CSS classes:none. */
/* .ajax__tab_body - A container element that wraps the area where a TabPanel is displayed. Child CSS classes: none. */
/* .ajax__tab_hover - This is applied to a tab when the mouse is hovering over. Child CSS classes:.ajax__tab_outer. */
/* .ajax__tab_active - This is applied to a tab when it is the currently selected tab. Child CSS classes:.ajax__tab_outer. */   

/* XP IE7 theme - Backgrounds */
.TabControl .ajax__tab_header					
{
	/* background: url(./images/tab-line.gif) repeat-x bottom;  */
}
.TabControl .ajax__tab_outer						{ background: url(./images/tab-right.gif) no-repeat right; }
.TabControl .ajax__tab_inner
{
	background: url(./images/tab-left.gif) no-repeat;
}
.TabControl .ajax__tab_tab						{ background: url(./images/tab.gif) repeat-x; }
.TabControl .ajax__tab_hover .ajax__tab_outer	{ background: url(./images/tab-hover-right.gif) no-repeat right; }
.TabControl .ajax__tab_hover .ajax__tab_inner	{ background: url(./images/tab-hover-left.gif) no-repeat; }
.TabControl .ajax__tab_hover .ajax__tab_tab		{ background: url(./images/tab-hover.gif) repeat-x; }
.TabControl .ajax__tab_active .ajax__tab_outer	{ background: url(./images/tab-active-right.gif) no-repeat right; }
.TabControl .ajax__tab_active .ajax__tab_inner	{ background: url(./images/tab-active-left.gif) no-repeat; }
.TabControl .ajax__tab_active .ajax__tab_tab
{
	background: url(./images/tab-active.gif) repeat-x;
	font-weight: bold;
}

/* XP IE7 theme - Other Styles */
.TabControl .ajax__tab_header 					
{
	}
	
.TabControl .ajax__tab_outer						{ height:29px;}
.TabControl .ajax__tab_inner						{ padding-left:3px; }
.TabControl .ajax__tab_tab						{ padding:8px 40px;margin:0; border-style:none;}
.TabControl .ajax__tab_body
{
	border: 1px solid darkgray;
	
	padding: 4px; /* gap between the tab border and the content in the tab  */
	
}


.TabContentWindow
{
	background-color:Black;
	
}
