<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ShredHostServiceSettings" type="ClearCanvas.Server.ShredHost.ShredHostServiceSettings, ClearCanvas.Server.ShredHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ClearCanvas.ImageServer.Services.Shreds.ImageServerServicesShredSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.ImageServer.Services.WorkQueue.WorkQueueSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.ImageServer.Services.WorkQueue.StudyProcess.StudyProcessSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.ImageServer.Services.Streaming.HeaderRetrieval.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.ImageServer.Services.Shreds.StreamingServer.StreamingServer" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.ImageServer.Services.ServiceLock.ServiceLockSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.ImageServer.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<ShredHostServiceSettings ShredHostHttpPort="50220" SharedHttpPort="50221" SharedTcpPort="50222" />
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHeaderRetrievalService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536" transferMode="Streamed"
                    messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					
				</binding>
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IHeaderRetrievalService" closeTimeout="00:01:00" 
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536" 
                    messageEncoding="Text"  textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
					<security mode="Message">
						<message clientCredentialType="Certificate"/>
					</security>
				</binding>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBinding_IHeaderRetrievalService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
                    maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Certificate" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
		</client>
		<services>
			<service
				name="ClearCanvas.ImageServer.Services.Streaming.HeaderRetrieval.HeaderRetrievalService"
				behaviorConfiguration="HeaderStreamServiceBehavior"/>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="HeaderStreamServiceBehavior">
					<serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
					<serviceCredentials>
						<!-- ImageServer is the self-signed certificate created by InstallServerCert.bat 
										  
							 If you would like to use a different certificate, change this setting.
												  
								findValue = the subject used in your certificate (do not include "CN = " in the setting)
								storeLocation = where you installed the certificate (possible values: LocalMachine or CurrentUser)
								storeName = where you installed the certificate. Possible values: My(Personal), TrustedPeople, Root, TrustedPublisher
						-->						
						<serviceCertificate findValue="ImageServer" storeLocation="LocalMachine" storeName="My"  x509FindType="FindBySubjectName" />

						<clientCertificate>
								<!-- 
								Setting the certificateValidationMode to PeerOrChainTrust means that if the certificate 
								is in the server's Trusted People store, then it will be trusted without performing a
								validation of the certificate's issuer chain. This setting is used here for convenience so that the 
								sample can be run without having to have certificates issued by a certificate authority (CA).
								This setting is less secure than the default, ChainTrust. The security implications of this 
								setting should be carefully considered before using PeerOrChainTrust in production code. 
								
								Rules of thumbs:
									use None to always accept the client certificate
									use PeerOrChainTrust to validate the client certificate. 
											The client certificte must be issued by a CA or imported into the server LocalMachine Trusted People store. Otherwise, the client will receive "caller is not authenticated to call this service"
									use ChainTrust (most secure) to check if the client certificate is issued by a CA. If not, the client will receive "caller is not authenticated to call this service" 
															   
								-->
								<authentication certificateValidationMode="None"  />
						</clientCertificate>
					</serviceCredentials>								
				</behavior>
				
				<behavior name="serviceBehavior">
					<serviceAuthorization impersonateCallerForAllOperations="false"/>
					<serviceCredentials>
						<windowsAuthentication allowAnonymousLogons="false" includeWindowsGroups="true" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<connectionStrings>
		<clear/>
		<add name="ImageServerConnectString"
		  connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=ImageServer"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>

	<applicationSettings>
		<ClearCanvas.ImageServer.Common.Settings>
			<!-- These settings control what goes in the study header xml -->
			<setting name="StudyHeaderIncludePrivateTags" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="StudyHeaderIncludeUNTags" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="StudyHeaderMaxValueLength" serializeAs="String">
				<value>102400</value>
			</setting>
		</ClearCanvas.ImageServer.Common.Settings>
		
		<ClearCanvas.ImageServer.Services.Shreds.ImageServerServicesShredSettings>
			<setting name="WorkQueueThreadCount" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="ListenIPV6" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ListenIPV4" serializeAs="String">
				<value>True</value>
			</setting>
		</ClearCanvas.ImageServer.Services.Shreds.ImageServerServicesShredSettings>
		<ClearCanvas.ImageServer.Services.WorkQueue.WorkQueueSettings>
			<setting name="WorkQueueQueryDelay" serializeAs="String">
				<value>10000</value>
			</setting>
			<setting name="WorkQueueMaxFailureCount" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="WorkQueueFailureDelayMinutes" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="WorkQueueProcessDelaySeconds" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="WorkQueueExpireDelaySeconds" serializeAs="String">
				<value>90</value>
			</setting>
			<setting name="WorkQueueProcessDelayMedPrioritySeconds" serializeAs="String">
				<value>15</value>
			</setting>
			<setting name="WorkQueueProcessDelayLowPrioritySeconds" serializeAs="String">
			   <value>45</value>
			</setting>
			<setting name="WorkQueueProcessDelayHighPrioritySeconds" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="LowPriorityMaxBatchSize" serializeAs="String">
				<value>100</value>
			</setting>
			<setting name="MedPriorityMaxBatchSize" serializeAs="String">
				<value>250</value>
			</setting>
			<setting name="HighPriorityMaxBatchSize" serializeAs="String">
				<value>500</value>
			</setting>
		</ClearCanvas.ImageServer.Services.WorkQueue.WorkQueueSettings>
		<ClearCanvas.ImageServer.Services.WorkQueue.StudyProcess.StudyProcessSettings>
			<setting name="LogStatistics" serializeAs="bool">
				<value>True</value>
			</setting>
		</ClearCanvas.ImageServer.Services.WorkQueue.StudyProcess.StudyProcessSettings>

		<ClearCanvas.ImageServer.Services.Shreds.StreamingServer.StreamingServer>
			<setting name="BindingType" serializeAs="String">
				<!-- if http binding is used, check the settings in BasicHttpBinding_IHeaderRetrievalService -->
				<!-- if wshttp binding is used, check the settings in WSHttpBinding_IHeaderRetrievalService -->
				<!-- if tcp binding is used, check the settings in NetTcpBinding_IHeaderRetrievalService -->
				<value>http</value>
			</setting>
		</ClearCanvas.ImageServer.Services.Shreds.StreamingServer.StreamingServer>
		
		<ClearCanvas.ImageServer.Services.Streaming.HeaderRetrieval.Settings>
			<setting name="LogStatistics" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ReadBufferSize" serializeAs="String">
				<value>65555</value>
			</setting>
		</ClearCanvas.ImageServer.Services.Streaming.HeaderRetrieval.Settings>

		<ClearCanvas.ImageServer.Services.ServiceLock.ServiceLockSettings>
			<setting name="FilesystemQueueResultCount" serializeAs="String">
				<value>500</value>
			</setting>
			<setting name="FilesystemDeleteRecheckDelay" serializeAs="String">
				<value>4</value>
			</setting>
			<setting name="FilesystemDeleteCheckInterval" serializeAs="String">
				<value>2</value>
			</setting>
		</ClearCanvas.ImageServer.Services.ServiceLock.ServiceLockSettings>
	</applicationSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="common;plugins" />
		</assemblyBinding>
	</runtime>
	
</configuration>

