<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ShredHostServiceSettings" type="ClearCanvas.Server.ShredHost.ShredHostServiceSettings, ClearCanvas.Server.ShredHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
	</configSections>

	<ShredHostServiceSettings ShredHostHttpPort="50220" SharedHttpPort="50221" SharedTcpPort="50222" />

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHeaderStreamingService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536" transferMode="Streamed"
                    messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />					
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
		</client>
		<services>
			<service
				name="ClearCanvas.ImageServer.Services.Streaming.HeaderStreaming.HeaderStreamingService"
				behaviorConfiguration="HeaderStreamServiceBehavior"/>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="HeaderStreamServiceBehavior">
					<serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="10" maxConcurrentInstances="26"/>							
				</behavior>	
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="common;plugins" />
		</assemblyBinding>
	</runtime>
	
</configuration>

