<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ShredHostServiceSettings" type="ClearCanvas.Server.ShredHost.ShredHostServiceSettings, ClearCanvas.Server.ShredHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
	</configSections>
	
	<connectionStrings>
		<clear/>
		<add name="ImageServerConnectString"
		  connectionString="Data Source=127.0.0.1;User ID=sa;Password=swsoftware;Initial Catalog=ImageServer"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	
<ShredHostServiceSettings ShredHostHttpPort="50220" SharedHttpPort="50221"
  SharedTcpPort="50222" />
<runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<probing privatePath="common;plugins" />
	</assemblyBinding>
</runtime>
<system.serviceModel>
	<bindings>
		<netNamedPipeBinding>

		</netNamedPipeBinding>
	</bindings>
	<client>

	</client>
</system.serviceModel>
</configuration>