<html><head><title>AC3 - Revision 21: /Code/Ris/Client/View/WinForms</title></head>
<body>
 <h2>AC3 - Revision 21: /Code/Ris/Client/View/WinForms</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="AcquisitionWorkflowPreviewComponentControl.Designer.cs">AcquisitionWorkflowPreviewComponentControl.Designer.cs</a></li>
  <li><a href="AcquisitionWorkflowPreviewComponentControl.cs">AcquisitionWorkflowPreviewComponentControl.cs</a></li>
  <li><a href="AcquisitionWorkflowPreviewComponentView.cs">AcquisitionWorkflowPreviewComponentView.cs</a></li>
  <li><a href="AddressEditorComponentView.cs">AddressEditorComponentView.cs</a></li>
  <li><a href="AddressEditorControl.Designer.cs">AddressEditorControl.Designer.cs</a></li>
  <li><a href="AddressEditorControl.cs">AddressEditorControl.cs</a></li>
  <li><a href="AddressEditorControl.resx">AddressEditorControl.resx</a></li>
  <li><a href="AddressesSummaryControl.Designer.cs">AddressesSummaryControl.Designer.cs</a></li>
  <li><a href="AttachedDocumentPreviewComponentControl.Designer.cs">AttachedDocumentPreviewComponentControl.Designer.cs</a></li>
  <li><a href="AttachedDocumentPreviewComponentControl.cs">AttachedDocumentPreviewComponentControl.cs</a></li>
  <li><a href="AttachedDocumentPreviewComponentControl.resx">AttachedDocumentPreviewComponentControl.resx</a></li>
  <li><a href="AttachedDocumentPreviewComponentView.cs">AttachedDocumentPreviewComponentView.cs</a></li>
  <li><a href="BiographyDemographicComponentControl.Designer.cs">BiographyDemographicComponentControl.Designer.cs</a></li>
  <li><a href="BiographyDemographicComponentControl.cs">BiographyDemographicComponentControl.cs</a></li>
  <li><a href="BiographyDemographicComponentControl.resx">BiographyDemographicComponentControl.resx</a></li>
  <li><a href="BiographyDemographicComponentView.cs">BiographyDemographicComponentView.cs</a></li>
  <li><a href="BiographyDocumentComponentControl.Designer.cs">BiographyDocumentComponentControl.Designer.cs</a></li>
  <li><a href="BiographyNoteComponentControl.Designer.cs">BiographyNoteComponentControl.Designer.cs</a></li>
  <li><a href="BiographyNoteComponentControl.cs">BiographyNoteComponentControl.cs</a></li>
  <li><a href="BiographyNoteComponentControl.resx">BiographyNoteComponentControl.resx</a></li>
  <li><a href="BiographyNoteComponentView.cs">BiographyNoteComponentView.cs</a></li>
  <li><a href="BiographyOrderHistoryComponentControl.Designer.cs">BiographyOrderHistoryComponentControl.Designer.cs</a></li>
  <li><a href="BiographyOrderHistoryComponentControl.cs">BiographyOrderHistoryComponentControl.cs</a></li>
  <li><a href="BiographyOrderHistoryComponentControl.resx">BiographyOrderHistoryComponentControl.resx</a></li>
  <li><a href="BiographyOrderHistoryComponentView.cs">BiographyOrderHistoryComponentView.cs</a></li>
  <li><a href="BiographyOrderReportsComponentControl.Designer.cs">BiographyOrderReportsComponentControl.Designer.cs</a></li>
  <li><a href="BiographyOrderReportsComponentControl.cs">BiographyOrderReportsComponentControl.cs</a></li>
  <li><a href="BiographyOrderReportsComponentControl.resx">BiographyOrderReportsComponentControl.resx</a></li>
  <li><a href="BiographyOrderReportsComponentView.cs">BiographyOrderReportsComponentView.cs</a></li>
  <li><a href="BiographyOverviewComponentControl.Designer.cs">BiographyOverviewComponentControl.Designer.cs</a></li>
  <li><a href="BiographyOverviewComponentControl.cs">BiographyOverviewComponentControl.cs</a></li>
  <li><a href="BiographyOverviewComponentControl.resx">BiographyOverviewComponentControl.resx</a></li>
  <li><a href="BiographyOverviewComponentView.cs">BiographyOverviewComponentView.cs</a></li>
  <li><a href="BiographyVisitHistoryComponentControl.Designer.cs">BiographyVisitHistoryComponentControl.Designer.cs</a></li>
  <li><a href="BiographyVisitHistoryComponentControl.cs">BiographyVisitHistoryComponentControl.cs</a></li>
  <li><a href="BiographyVisitHistoryComponentControl.resx">BiographyVisitHistoryComponentControl.resx</a></li>
  <li><a href="BiographyVisitHistoryComponentView.cs">BiographyVisitHistoryComponentView.cs</a></li>
  <li><a href="CannedTextCategoryEditorComponentControl.Designer.cs">CannedTextCategoryEditorComponentControl.Designer.cs</a></li>
  <li><a href="CannedTextCategoryEditorComponentControl.cs">CannedTextCategoryEditorComponentControl.cs</a></li>
  <li><a href="CannedTextCategoryEditorComponentControl.resx">CannedTextCategoryEditorComponentControl.resx</a></li>
  <li><a href="CannedTextCategoryEditorComponentView.cs">CannedTextCategoryEditorComponentView.cs</a></li>
  <li><a href="CannedTextEditorComponentControl.Designer.cs">CannedTextEditorComponentControl.Designer.cs</a></li>
  <li><a href="CannedTextEditorComponentControl.cs">CannedTextEditorComponentControl.cs</a></li>
  <li><a href="CannedTextEditorComponentControl.resx">CannedTextEditorComponentControl.resx</a></li>
  <li><a href="CannedTextEditorComponentView.cs">CannedTextEditorComponentView.cs</a></li>
  <li><a href="CannedTextInplaceLookupControl.Designer.cs">CannedTextInplaceLookupControl.Designer.cs</a></li>
  <li><a href="CannedTextInplaceLookupControl.cs">CannedTextInplaceLookupControl.cs</a></li>
  <li><a href="CannedTextInplaceLookupControl.resx">CannedTextInplaceLookupControl.resx</a></li>
  <li><a href="CannedTextSummaryComponentControl.Designer.cs">CannedTextSummaryComponentControl.Designer.cs</a></li>
  <li><a href="CannedTextSummaryComponentControl.cs">CannedTextSummaryComponentControl.cs</a></li>
  <li><a href="CannedTextSummaryComponentControl.resx">CannedTextSummaryComponentControl.resx</a></li>
  <li><a href="CannedTextSummaryComponentView.cs">CannedTextSummaryComponentView.cs</a></li>
  <li><a href="CannedTextSupport.cs">CannedTextSupport.cs</a></li>
  <li><a href="ChangePasswordDialog.cs">ChangePasswordDialog.cs</a></li>
  <li><a href="ChangePasswordForm.Designer.cs">ChangePasswordForm.Designer.cs</a></li>
  <li><a href="ChangePasswordForm.cs">ChangePasswordForm.cs</a></li>
  <li><a href="ChangePasswordForm.resx">ChangePasswordForm.resx</a></li>
  <li><a href="ClearCanvas.Ris.Client.View.WinForms.csproj">ClearCanvas.Ris.Client.View.WinForms.csproj</a></li>
  <li><a href="ComboBoxCellEditorControl.Designer.cs">ComboBoxCellEditorControl.Designer.cs</a></li>
  <li><a href="ComboBoxCellEditorControl.cs">ComboBoxCellEditorControl.cs</a></li>
  <li><a href="ComboBoxCellEditorControl.resx">ComboBoxCellEditorControl.resx</a></li>
  <li><a href="ComboBoxCellEditorView.cs">ComboBoxCellEditorView.cs</a></li>
  <li><a href="ContactPersonEditorComponentControl.Designer.cs">ContactPersonEditorComponentControl.Designer.cs</a></li>
  <li><a href="ContactPersonEditorComponentControl.cs">ContactPersonEditorComponentControl.cs</a></li>
  <li><a href="ContactPersonEditorComponentControl.resx">ContactPersonEditorComponentControl.resx</a></li>
  <li><a href="ContactPersonEditorComponentView.cs">ContactPersonEditorComponentView.cs</a></li>
  <li><a href="DHtmlComponentControl.Designer.cs">DHtmlComponentControl.Designer.cs</a></li>
  <li><a href="DHtmlComponentControl.cs">DHtmlComponentControl.cs</a></li>
  <li><a href="DHtmlComponentControl.resx">DHtmlComponentControl.resx</a></li>
  <li><a href="DHtmlComponentView.cs">DHtmlComponentView.cs</a></li>
  <li><a href="DateTimeEntryComponentControl.Designer.cs">DateTimeEntryComponentControl.Designer.cs</a></li>
  <li><a href="DateTimeEntryComponentControl.cs">DateTimeEntryComponentControl.cs</a></li>
  <li><a href="DateTimeEntryComponentControl.resx">DateTimeEntryComponentControl.resx</a></li>
  <li><a href="DateTimeEntryComponentView.cs">DateTimeEntryComponentView.cs</a></li>
  <li><a href="DescriptiveSpinControl.Designer.cs">DescriptiveSpinControl.Designer.cs</a></li>
  <li><a href="DescriptiveSpinControl.cs">DescriptiveSpinControl.cs</a></li>
  <li><a href="DescriptiveSpinControl.resx">DescriptiveSpinControl.resx</a></li>
  <li><a href="DiagnosticServiceEditorComponentControl.Designer.cs">DiagnosticServiceEditorComponentControl.Designer.cs</a></li>
  <li><a href="DiagnosticServiceEditorComponentControl.cs">DiagnosticServiceEditorComponentControl.cs</a></li>
  <li><a href="DiagnosticServiceEditorComponentControl.resx">DiagnosticServiceEditorComponentControl.resx</a></li>
  <li><a href="DiagnosticServiceEditorComponentView.cs">DiagnosticServiceEditorComponentView.cs</a></li>
  <li><a href="DiagnosticServiceSummaryComponentControl.Designer.cs">DiagnosticServiceSummaryComponentControl.Designer.cs</a></li>
  <li><a href="DiagnosticServiceSummaryComponentControl.cs">DiagnosticServiceSummaryComponentControl.cs</a></li>
  <li><a href="DiagnosticServiceSummaryComponentControl.resx">DiagnosticServiceSummaryComponentControl.resx</a></li>
  <li><a href="DiagnosticServiceSummaryComponentView.cs">DiagnosticServiceSummaryComponentView.cs</a></li>
  <li><a href="DynamicCustomControlTable.cs">DynamicCustomControlTable.cs</a></li>
  <li><a href="DynamicTableCommonControlFactory.cs">DynamicTableCommonControlFactory.cs</a></li>
  <li><a href="EmailAddressEditorComponentControl.Designer.cs">EmailAddressEditorComponentControl.Designer.cs</a></li>
  <li><a href="EmailAddressEditorComponentControl.cs">EmailAddressEditorComponentControl.cs</a></li>
  <li><a href="EmailAddressEditorComponentControl.resx">EmailAddressEditorComponentControl.resx</a></li>
  <li><a href="EmailAddressEditorComponentView.cs">EmailAddressEditorComponentView.cs</a></li>
  <li><a href="ExtendedPropertyChoicesTable.cs">ExtendedPropertyChoicesTable.cs</a></li>
  <li><a href="ExternalPractitionerContactPointDetailsEditorComponentControl.Designer.cs">ExternalPractitionerContactPointDetailsEditorComponentControl.Designer.cs</a></li>
  <li><a href="ExternalPractitionerContactPointDetailsEditorComponentControl.cs">ExternalPractitionerContactPointDetailsEditorComponentControl.cs</a></li>
  <li><a href="ExternalPractitionerContactPointDetailsEditorComponentControl.resx">ExternalPractitionerContactPointDetailsEditorComponentControl.resx</a></li>
  <li><a href="ExternalPractitionerContactPointDetailsEditorComponentView.cs">ExternalPractitionerContactPointDetailsEditorComponentView.cs</a></li>
  <li><a href="ExternalPractitionerContactPointSummaryComponentControl.Designer.cs">ExternalPractitionerContactPointSummaryComponentControl.Designer.cs</a></li>
  <li><a href="ExternalPractitionerContactPointSummaryComponentControl.cs">ExternalPractitionerContactPointSummaryComponentControl.cs</a></li>
  <li><a href="ExternalPractitionerContactPointSummaryComponentControl.resx">ExternalPractitionerContactPointSummaryComponentControl.resx</a></li>
  <li><a href="ExternalPractitionerContactPointSummaryComponentView.cs">ExternalPractitionerContactPointSummaryComponentView.cs</a></li>
  <li><a href="ExternalPractitionerDetailsEditorComponentControl.cs">ExternalPractitionerDetailsEditorComponentControl.cs</a></li>
  <li><a href="ExternalPractitionerDetailsEditorComponentControl.designer.cs">ExternalPractitionerDetailsEditorComponentControl.designer.cs</a></li>
  <li><a href="ExternalPractitionerDetailsEditorComponentControl.resx">ExternalPractitionerDetailsEditorComponentControl.resx</a></li>
  <li><a href="ExternalPractitionerDetailsEditorComponentView.cs">ExternalPractitionerDetailsEditorComponentView.cs</a></li>
  <li><a href="ExternalPractitionerMergeAffectedOrderCustomControl.Designer.cs">ExternalPractitionerMergeAffectedOrderCustomControl.Designer.cs</a></li>
  <li><a href="ExternalPractitionerMergeAffectedOrderCustomControl.cs">ExternalPractitionerMergeAffectedOrderCustomControl.cs</a></li>
  <li><a href="ExternalPractitionerMergeAffectedOrderCustomControl.resx">ExternalPractitionerMergeAffectedOrderCustomControl.resx</a></li>
  <li><a href="ExternalPractitionerMergeAffectedOrdersComponentControl.Designer.cs">ExternalPractitionerMergeAffectedOrdersComponentControl.Designer.cs</a></li>
  <li><a href="ExternalPractitionerMergeAffectedOrdersComponentControl.cs">ExternalPractitionerMergeAffectedOrdersComponentControl.cs</a></li>
  <li><a href="ExternalPractitionerMergeAffectedOrdersComponentControl.resx">ExternalPractitionerMergeAffectedOrdersComponentControl.resx</a></li>
  <li><a href="ExternalPractitionerMergeAffectedOrdersComponentView.cs">ExternalPractitionerMergeAffectedOrdersComponentView.cs</a></li>
  <li><a href="ExternalPractitionerMergePropertiesComponentControl.Designer.cs">ExternalPractitionerMergePropertiesComponentControl.Designer.cs</a></li>
  <li><a href="ExternalPractitionerMergePropertiesComponentControl.cs">ExternalPractitionerMergePropertiesComponentControl.cs</a></li>
  <li><a href="ExternalPractitionerMergePropertiesComponentControl.resx">ExternalPractitionerMergePropertiesComponentControl.resx</a></li>
  <li><a href="ExternalPractitionerMergePropertiesComponentView.cs">ExternalPractitionerMergePropertiesComponentView.cs</a></li>
  <li><a href="ExternalPractitionerMergeSelectedContactPointsComponentControl.Designer.cs">ExternalPractitionerMergeSelectedContactPointsComponentControl.Designer.cs</a></li>
  <li><a href="ExternalPractitionerMergeSelectedContactPointsComponentControl.cs">ExternalPractitionerMergeSelectedContactPointsComponentControl.cs</a></li>
  <li><a href="ExternalPractitionerMergeSelectedContactPointsComponentControl.resx">ExternalPractitionerMergeSelectedContactPointsComponentControl.resx</a></li>
  <li><a href="ExternalPractitionerMergeSelectedContactPointsComponentView.cs">ExternalPractitionerMergeSelectedContactPointsComponentView.cs</a></li>
  <li><a href="ExternalPractitionerMergeSelectedDuplicateComponentControl.Designer.cs">ExternalPractitionerMergeSelectedDuplicateComponentControl.Designer.cs</a></li>
  <li><a href="ExternalPractitionerMergeSelectedDuplicateComponentControl.cs">ExternalPractitionerMergeSelectedDuplicateComponentControl.cs</a></li>
  <li><a href="ExternalPractitionerMergeSelectedDuplicateComponentControl.resx">ExternalPractitionerMergeSelectedDuplicateComponentControl.resx</a></li>
  <li><a href="ExternalPractitionerMergeSelectedDuplicateComponentView.cs">ExternalPractitionerMergeSelectedDuplicateComponentView.cs</a></li>
  <li><a href="ExternalPractitionerSummaryComponentControl.cs">ExternalPractitionerSummaryComponentControl.cs</a></li>
  <li><a href="ExternalPractitionerSummaryComponentControl.designer.cs">ExternalPractitionerSummaryComponentControl.designer.cs</a></li>
  <li><a href="ExternalPractitionerSummaryComponentControl.resx">ExternalPractitionerSummaryComponentControl.resx</a></li>
  <li><a href="ExternalPractitionerSummaryComponentView.cs">ExternalPractitionerSummaryComponentView.cs</a></li>
  <li><a href="FolderContentsComponentControl.Designer.cs">FolderContentsComponentControl.Designer.cs</a></li>
  <li><a href="FolderContentsComponentControl.cs">FolderContentsComponentControl.cs</a></li>
  <li><a href="FolderContentsComponentControl.resx">FolderContentsComponentControl.resx</a></li>
  <li><a href="FolderContentsComponentView.cs">FolderContentsComponentView.cs</a></li>
  <li><a href="FolderExplorerComponentControl.Designer.cs">FolderExplorerComponentControl.Designer.cs</a></li>
  <li><a href="FolderExplorerComponentControl.cs">FolderExplorerComponentControl.cs</a></li>
  <li><a href="FolderExplorerComponentControl.resx">FolderExplorerComponentControl.resx</a></li>
  <li><a href="FolderExplorerComponentView.cs">FolderExplorerComponentView.cs</a></li>
  <li><a href="FolderExplorerConfigurationComponentControl.Designer.cs">FolderExplorerConfigurationComponentControl.Designer.cs</a></li>
  <li><a href="FolderExplorerConfigurationComponentControl.cs">FolderExplorerConfigurationComponentControl.cs</a></li>
  <li><a href="FolderExplorerConfigurationComponentControl.resx">FolderExplorerConfigurationComponentControl.resx</a></li>
  <li><a href="FolderExplorerConfigurationComponentView.cs">FolderExplorerConfigurationComponentView.cs</a></li>
  <li><a href="FolderExplorerGroupComponentControl.Designer.cs">FolderExplorerGroupComponentControl.Designer.cs</a></li>
  <li><a href="FolderExplorerGroupComponentControl.cs">FolderExplorerGroupComponentControl.cs</a></li>
  <li><a href="FolderExplorerGroupComponentControl.resx">FolderExplorerGroupComponentControl.resx</a></li>
  <li><a href="FolderExplorerGroupComponentView.cs">FolderExplorerGroupComponentView.cs</a></li>
  <li><a href="HomepageConfigurationComponentControl.Designer.cs">HomepageConfigurationComponentControl.Designer.cs</a></li>
  <li><a href="HomepageConfigurationComponentControl.cs">HomepageConfigurationComponentControl.cs</a></li>
  <li><a href="HomepageConfigurationComponentControl.resx">HomepageConfigurationComponentControl.resx</a></li>
  <li><a href="HomepageConfigurationComponentView.cs">HomepageConfigurationComponentView.cs</a></li>
  <li><a href="ListBoxView.Designer.cs">ListBoxView.Designer.cs</a></li>
  <li><a href="ListBoxView.cs">ListBoxView.cs</a></li>
  <li><a href="ListBoxView.resx">ListBoxView.resx</a></li>
  <li><a href="ListBoxWithDragSupport.cs">ListBoxWithDragSupport.cs</a></li>
  <li><a href="LoginDialog.cs">LoginDialog.cs</a></li>
  <li><a href="LoginForm.Designer.cs">LoginForm.Designer.cs</a></li>
  <li><a href="LoginForm.cs">LoginForm.cs</a></li>
  <li><a href="LoginForm.resx">LoginForm.resx</a></li>
  <li><a href="LookupField.Designer.cs">LookupField.Designer.cs</a></li>
  <li><a href="LookupField.cs">LookupField.cs</a></li>
  <li><a href="LookupField.resx">LookupField.resx</a></li>
  <li><a href="LookupHandlerCellEditorControl.Designer.cs">LookupHandlerCellEditorControl.Designer.cs</a></li>
  <li><a href="LookupHandlerCellEditorControl.cs">LookupHandlerCellEditorControl.cs</a></li>
  <li><a href="LookupHandlerCellEditorControl.resx">LookupHandlerCellEditorControl.resx</a></li>
  <li><a href="LookupHandlerCellEditorView.cs">LookupHandlerCellEditorView.cs</a></li>
  <li><a href="MergeComponentBaseControl.Designer.cs">MergeComponentBaseControl.Designer.cs</a></li>
  <li><a href="MergeComponentBaseControl.cs">MergeComponentBaseControl.cs</a></li>
  <li><a href="MergeComponentBaseControl.resx">MergeComponentBaseControl.resx</a></li>
  <li><a href="MergeComponentBaseView.cs">MergeComponentBaseView.cs</a></li>
  <li><a href="MultipleProceduresEditorComponentControl.Designer.cs">MultipleProceduresEditorComponentControl.Designer.cs</a></li>
  <li><a href="MultipleProceduresEditorComponentControl.cs">MultipleProceduresEditorComponentControl.cs</a></li>
  <li><a href="MultipleProceduresEditorComponentControl.resx">MultipleProceduresEditorComponentControl.resx</a></li>
  <li><a href="MultipleProceduresEditorComponentView.cs">MultipleProceduresEditorComponentView.cs</a></li>
  <li><a href="OrderNoteConversationComponentControl.Designer.cs">OrderNoteConversationComponentControl.Designer.cs</a></li>
  <li><a href="OrderNoteConversationComponentControl.cs">OrderNoteConversationComponentControl.cs</a></li>
  <li><a href="OrderNoteConversationComponentControl.resx">OrderNoteConversationComponentControl.resx</a></li>
  <li><a href="OrderNoteConversationComponentView.cs">OrderNoteConversationComponentView.cs</a></li>
  <li><a href="OrderNoteEditorComponentControl.Designer.cs">OrderNoteEditorComponentControl.Designer.cs</a></li>
  <li><a href="OrderNoteEditorComponentControl.cs">OrderNoteEditorComponentControl.cs</a></li>
  <li><a href="OrderNoteEditorComponentControl.resx">OrderNoteEditorComponentControl.resx</a></li>
  <li><a href="OrderNoteEditorComponentView.cs">OrderNoteEditorComponentView.cs</a></li>
  <li><a href="OrderNoteboxConfigurationComponentControl.Designer.cs">OrderNoteboxConfigurationComponentControl.Designer.cs</a></li>
  <li><a href="OrderNoteboxConfigurationComponentControl.cs">OrderNoteboxConfigurationComponentControl.cs</a></li>
  <li><a href="OrderNoteboxConfigurationComponentControl.resx">OrderNoteboxConfigurationComponentControl.resx</a></li>
  <li><a href="OrderNoteboxConfigurationComponentView.cs">OrderNoteboxConfigurationComponentView.cs</a></li>
  <li><a href="PatientNoteEditorComponentControl.Designer.cs">PatientNoteEditorComponentControl.Designer.cs</a></li>
  <li><a href="PatientNoteEditorComponentControl.cs">PatientNoteEditorComponentControl.cs</a></li>
  <li><a href="PatientNoteEditorComponentControl.resx">PatientNoteEditorComponentControl.resx</a></li>
  <li><a href="PatientNoteEditorComponentView.cs">PatientNoteEditorComponentView.cs</a></li>
  <li><a href="PatientProfileAdditionalInfoEditorComponentControl.Designer.cs">PatientProfileAdditionalInfoEditorComponentControl.Designer.cs</a></li>
  <li><a href="PatientProfileAdditionalInfoEditorComponentControl.cs">PatientProfileAdditionalInfoEditorComponentControl.cs</a></li>
  <li><a href="PatientProfileAdditionalInfoEditorComponentControl.resx">PatientProfileAdditionalInfoEditorComponentControl.resx</a></li>
  <li><a href="PatientProfileAdditionalInfoEditorComponentView.cs">PatientProfileAdditionalInfoEditorComponentView.cs</a></li>
  <li><a href="PatientProfileDetailsEditorComponentView.cs">PatientProfileDetailsEditorComponentView.cs</a></li>
  <li><a href="PatientProfileDetailsEditorControl.Designer.cs">PatientProfileDetailsEditorControl.Designer.cs</a></li>
  <li><a href="PatientProfileDetailsEditorControl.cs">PatientProfileDetailsEditorControl.cs</a></li>
  <li><a href="PatientProfileDetailsEditorControl.resx">PatientProfileDetailsEditorControl.resx</a></li>
  <li><a href="PatientSearchComponentControl.Designer.cs">PatientSearchComponentControl.Designer.cs</a></li>
  <li><a href="PatientSearchComponentControl.cs">PatientSearchComponentControl.cs</a></li>
  <li><a href="PatientSearchComponentControl.resx">PatientSearchComponentControl.resx</a></li>
  <li><a href="PatientSearchComponentView.cs">PatientSearchComponentView.cs</a></li>
  <li><a href="PhoneNumberEditorComponentView.cs">PhoneNumberEditorComponentView.cs</a></li>
  <li><a href="PhoneNumberEditorControl.Designer.cs">PhoneNumberEditorControl.Designer.cs</a></li>
  <li><a href="PhoneNumberEditorControl.cs">PhoneNumberEditorControl.cs</a></li>
  <li><a href="PhoneNumberEditorControl.resx">PhoneNumberEditorControl.resx</a></li>
  <li><a href="ProcedureEditorComponentControl.Designer.cs">ProcedureEditorComponentControl.Designer.cs</a></li>
  <li><a href="ProcedureEditorComponentControl.cs">ProcedureEditorComponentControl.cs</a></li>
  <li><a href="ProcedureEditorComponentControl.resx">ProcedureEditorComponentControl.resx</a></li>
  <li><a href="ProcedureEditorComponentView.cs">ProcedureEditorComponentView.cs</a></li>
  <li><a href="ProcedureTypeEditorComponentControl.Designer.cs">ProcedureTypeEditorComponentControl.Designer.cs</a></li>
  <li><a href="ProcedureTypeEditorComponentControl.cs">ProcedureTypeEditorComponentControl.cs</a></li>
  <li><a href="ProcedureTypeEditorComponentControl.resx">ProcedureTypeEditorComponentControl.resx</a></li>
  <li><a href="ProcedureTypeEditorComponentView.cs">ProcedureTypeEditorComponentView.cs</a></li>
  <li><a href="Properties/">Properties/</a></li>
  <li><a href="PublishReportComponentControl.Designer.cs">PublishReportComponentControl.Designer.cs</a></li>
  <li><a href="PublishReportComponentControl.cs">PublishReportComponentControl.cs</a></li>
  <li><a href="PublishReportComponentControl.resx">PublishReportComponentControl.resx</a></li>
  <li><a href="PublishReportComponentView.cs">PublishReportComponentView.cs</a></li>
  <li><a href="Resources/">Resources/</a></li>
  <li><a href="SR.Designer.cs">SR.Designer.cs</a></li>
  <li><a href="SR.resx">SR.resx</a></li>
  <li><a href="SearchComponentControl.cs">SearchComponentControl.cs</a></li>
  <li><a href="SearchComponentControl.designer.cs">SearchComponentControl.designer.cs</a></li>
  <li><a href="SearchComponentControl.resx">SearchComponentControl.resx</a></li>
  <li><a href="SearchComponentView.cs">SearchComponentView.cs</a></li>
  <li><a href="SelectorEditorComponentControl.Designer.cs">SelectorEditorComponentControl.Designer.cs</a></li>
  <li><a href="SelectorEditorComponentControl.cs">SelectorEditorComponentControl.cs</a></li>
  <li><a href="SelectorEditorComponentControl.resx">SelectorEditorComponentControl.resx</a></li>
  <li><a href="SelectorEditorComponentView.cs">SelectorEditorComponentView.cs</a></li>
  <li><a href="SmartTimeField.Designer.cs">SmartTimeField.Designer.cs</a></li>
  <li><a href="SmartTimeField.cs">SmartTimeField.cs</a></li>
  <li><a href="SmartTimeField.resx">SmartTimeField.resx</a></li>
  <li><a href="StaffDetailsEditorComponentControl.cs">StaffDetailsEditorComponentControl.cs</a></li>
  <li><a href="StaffDetailsEditorComponentControl.designer.cs">StaffDetailsEditorComponentControl.designer.cs</a></li>
  <li><a href="StaffDetailsEditorComponentControl.resx">StaffDetailsEditorComponentControl.resx</a></li>
  <li><a href="StaffDetailsEditorComponentView.cs">StaffDetailsEditorComponentView.cs</a></li>
  <li><a href="StaffGroupDetailsEditorComponentControl.Designer.cs">StaffGroupDetailsEditorComponentControl.Designer.cs</a></li>
  <li><a href="StaffGroupDetailsEditorComponentControl.cs">StaffGroupDetailsEditorComponentControl.cs</a></li>
  <li><a href="StaffGroupDetailsEditorComponentControl.resx">StaffGroupDetailsEditorComponentControl.resx</a></li>
  <li><a href="StaffGroupDetailsEditorComponentView.cs">StaffGroupDetailsEditorComponentView.cs</a></li>
  <li><a href="StaffOrStaffGroupSummaryComponentControl.Designer.cs">StaffOrStaffGroupSummaryComponentControl.Designer.cs</a></li>
  <li><a href="StaffOrStaffGroupSummaryComponentControl.cs">StaffOrStaffGroupSummaryComponentControl.cs</a></li>
  <li><a href="StaffOrStaffGroupSummaryComponentControl.resx">StaffOrStaffGroupSummaryComponentControl.resx</a></li>
  <li><a href="StaffOrStaffGroupSummaryComponentView.cs">StaffOrStaffGroupSummaryComponentView.cs</a></li>
  <li><a href="StaffStaffGroupEditorComponentControl.Designer.cs">StaffStaffGroupEditorComponentControl.Designer.cs</a></li>
  <li><a href="StaffStaffGroupEditorComponentControl.cs">StaffStaffGroupEditorComponentControl.cs</a></li>
  <li><a href="StaffStaffGroupEditorComponentControl.resx">StaffStaffGroupEditorComponentControl.resx</a></li>
  <li><a href="StaffStaffGroupEditorComponentView.cs">StaffStaffGroupEditorComponentView.cs</a></li>
  <li><a href="StaffSummaryComponentControl.Designer.cs">StaffSummaryComponentControl.Designer.cs</a></li>
  <li><a href="StaffSummaryComponentControl.cs">StaffSummaryComponentControl.cs</a></li>
  <li><a href="StaffSummaryComponentControl.resx">StaffSummaryComponentControl.resx</a></li>
  <li><a href="StaffSummaryComponentView.cs">StaffSummaryComponentView.cs</a></li>
  <li><a href="WorkflowHistoryComponentControl.Designer.cs">WorkflowHistoryComponentControl.Designer.cs</a></li>
  <li><a href="WorkflowHistoryComponentControl.cs">WorkflowHistoryComponentControl.cs</a></li>
  <li><a href="WorkflowHistoryComponentControl.resx">WorkflowHistoryComponentControl.resx</a></li>
  <li><a href="WorkflowHistoryComponentView.cs">WorkflowHistoryComponentView.cs</a></li>
  <li><a href="WorklistDetailEditorComponentControl.Designer.cs">WorklistDetailEditorComponentControl.Designer.cs</a></li>
  <li><a href="WorklistDetailEditorComponentControl.cs">WorklistDetailEditorComponentControl.cs</a></li>
  <li><a href="WorklistDetailEditorComponentControl.resx">WorklistDetailEditorComponentControl.resx</a></li>
  <li><a href="WorklistDetailEditorComponentView.cs">WorklistDetailEditorComponentView.cs</a></li>
  <li><a href="WorklistFilterEditorComponentControl.Designer.cs">WorklistFilterEditorComponentControl.Designer.cs</a></li>
  <li><a href="WorklistFilterEditorComponentControl.cs">WorklistFilterEditorComponentControl.cs</a></li>
  <li><a href="WorklistFilterEditorComponentControl.resx">WorklistFilterEditorComponentControl.resx</a></li>
  <li><a href="WorklistFilterEditorComponentView.cs">WorklistFilterEditorComponentView.cs</a></li>
  <li><a href="WorklistMultiDetailEditorComponentControl.Designer.cs">WorklistMultiDetailEditorComponentControl.Designer.cs</a></li>
  <li><a href="WorklistMultiDetailEditorComponentControl.cs">WorklistMultiDetailEditorComponentControl.cs</a></li>
  <li><a href="WorklistMultiDetailEditorComponentControl.resx">WorklistMultiDetailEditorComponentControl.resx</a></li>
  <li><a href="WorklistMultiDetailEditorComponentView.cs">WorklistMultiDetailEditorComponentView.cs</a></li>
  <li><a href="WorklistTimeWindowEditorComponentControl.Designer.cs">WorklistTimeWindowEditorComponentControl.Designer.cs</a></li>
  <li><a href="WorklistTimeWindowEditorComponentControl.cs">WorklistTimeWindowEditorComponentControl.cs</a></li>
  <li><a href="WorklistTimeWindowEditorComponentControl.resx">WorklistTimeWindowEditorComponentControl.resx</a></li>
  <li><a href="WorklistTimeWindowEditorComponentView.cs">WorklistTimeWindowEditorComponentView.cs</a></li>
  <li><a href="app.config">app.config</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.apache.org/">Apache Subversion</a> version 1.7.1 (r1186859).</em>
</body></html>