<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Client.SpeechMagic.SupervisorSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Client.SpeechMagic.ReportEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.Ris.Client.SpeechMagic.SupervisorSettings>
            <setting name="SupervisorID" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Ris.Client.SpeechMagic.SupervisorSettings>
    </userSettings>
    <applicationSettings>
        <ClearCanvas.Ris.Client.SpeechMagic.ReportEditorComponentSettings>
            <setting name="ReportPreviewPageUrl" serializeAs="String">
                <value>http://localhost/RIS/reportpreview.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.SpeechMagic.ReportEditorComponentSettings>
    </applicationSettings>
</configuration>