<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ShredHostServiceSettings" type="ClearCanvas.Server.ShredHost.ShredHostServiceSettings, ClearCanvas.Server.ShredHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
		
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ClearCanvas.ImageServer.Services.Dicom.ImageServerServicesDicomSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.ImageServer.Services.Shreds.ImageServerServicesShredSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.ImageServer.Services.WorkQueue.ImageServerServicesWorkQueueSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>		
	</configSections>
	
	<connectionStrings>
      <clear/>
      <add name="ImageServerConnectString" 
        connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=ImageServer"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
	
	<applicationSettings>

		<ClearCanvas.ImageServer.Services.Dicom.ImageServerServicesDicomSettings>
			<setting name="DefaultRemotePort" serializeAs="String">
				<value>4006</value>
			</setting>
			<setting name="AcceptAnyDevice" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AutoInsertDevices" serializeAs="String">
				<value>True</value>
			</setting>
		</ClearCanvas.ImageServer.Services.Dicom.ImageServerServicesDicomSettings>
		<ClearCanvas.ImageServer.Services.Shreds.ImageServerServicesShredSettings>
			<setting name="WorkQueueThreadCount" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="ListenIPV6" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ListenIPV4" serializeAs="String">
				<value>True</value>
			</setting>
		</ClearCanvas.ImageServer.Services.Shreds.ImageServerServicesShredSettings>
		<ClearCanvas.ImageServer.Services.WorkQueue.ImageServerServicesWorkQueueSettings>
			<setting name="WorkQueueQueryDelay" serializeAs="String">
				<value>10000</value>
			</setting>
			<setting name="WorkQueueMaxFailureCount" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="WorkQueueFailureDelayMinutes" serializeAs="String">
				<value>3</value>
			</setting>
		</ClearCanvas.ImageServer.Services.WorkQueue.ImageServerServicesWorkQueueSettings>

	</applicationSettings>

	<ShredHostServiceSettings ShredHostHttpPort="50220" SharedHttpPort="50221"
	  SharedTcpPort="50222" />
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="common;plugins" />
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<netNamedPipeBinding>
			
			</netNamedPipeBinding>
		</bindings>
		<client>

		</client>
	</system.serviceModel>
</configuration>

