<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Dicom.Services.LocalAESettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ClearCanvas.Dicom.Services.LocalAESettings>
      <setting name="AETitle" serializeAs="String">
        <value>AETITLE</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>4006</value>
      </setting>
    </ClearCanvas.Dicom.Services.LocalAESettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="common;plugins" />
    </assemblyBinding>
  </runtime>
</configuration>
