<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ClearCanvas.Desktop.FormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ClearCanvas.Dicom.Services.LocalAESettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    </configSections>
  <userSettings>
    <ClearCanvas.Desktop.FormatSettings>
      <setting name="DateFormat" serializeAs="String">
        <value>dd-MMM-yyyy</value>
      </setting>
      <setting name="TimeFormat" serializeAs="String">
        <value>hh:mm tt</value>
      </setting>
      <setting name="DateTimeFormat" serializeAs="String">
        <value>dd-MMM-yyyy hh:mm tt</value>
      </setting>
    </ClearCanvas.Desktop.FormatSettings>
  </userSettings>
  <applicationSettings>
    <ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings>
      <setting name="AvailableCustomFormatsXml" serializeAs="String">
        <value>CustomDateFormatSettings.xml</value>
      </setting>
    </ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings>
    <ClearCanvas.Dicom.Services.LocalAESettings>
      <setting name="AETitle" serializeAs="String">
        <value>AETITLE</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>4006</value>
      </setting>
      <setting name="DicomStoragePath" serializeAs="String">
        <value>.\dicom</value>
      </setting>
    </ClearCanvas.Dicom.Services.LocalAESettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="common;plugins" />
    </assemblyBinding>
  </runtime>
</configuration>
