.ContentPanel
{
	padding:2px;
	font-size:12pt;
}

.StudyListingHeaderRow
{
	padding: 8px 4px 8px 4px; 
    color: #205F87;
    text-align: center; 
    font-weight:bold;
    background: #dddddd url(../../../../PersistantImage.ashx?key=HeadingBackground) repeat-x top;
}