<html><head><title>AC3 - Revision 21: /Code/Enterprise/Desktop/View/WinForms</title></head>
<body>
 <h2>AC3 - Revision 21: /Code/Enterprise/Desktop/View/WinForms</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="AuthorityGroupEditorComponentControl.Designer.cs">AuthorityGroupEditorComponentControl.Designer.cs</a></li>
  <li><a href="AuthorityGroupEditorComponentControl.cs">AuthorityGroupEditorComponentControl.cs</a></li>
  <li><a href="AuthorityGroupEditorComponentControl.resx">AuthorityGroupEditorComponentControl.resx</a></li>
  <li><a href="AuthorityGroupEditorComponentView.cs">AuthorityGroupEditorComponentView.cs</a></li>
  <li><a href="ClearCanvas.Enterprise.Desktop.View.WinForms.csproj">ClearCanvas.Enterprise.Desktop.View.WinForms.csproj</a></li>
  <li><a href="Properties/">Properties/</a></li>
  <li><a href="Resources/">Resources/</a></li>
  <li><a href="SR.Designer.cs">SR.Designer.cs</a></li>
  <li><a href="SR.resx">SR.resx</a></li>
  <li><a href="SummaryComponentBaseControl.Designer.cs">SummaryComponentBaseControl.Designer.cs</a></li>
  <li><a href="SummaryComponentBaseControl.cs">SummaryComponentBaseControl.cs</a></li>
  <li><a href="SummaryComponentBaseControl.resx">SummaryComponentBaseControl.resx</a></li>
  <li><a href="SummaryComponentBaseView.cs">SummaryComponentBaseView.cs</a></li>
  <li><a href="UserEditorComponentControl.Designer.cs">UserEditorComponentControl.Designer.cs</a></li>
  <li><a href="UserEditorComponentControl.cs">UserEditorComponentControl.cs</a></li>
  <li><a href="UserEditorComponentControl.resx">UserEditorComponentControl.resx</a></li>
  <li><a href="UserEditorComponentView.cs">UserEditorComponentView.cs</a></li>
  <li><a href="UserSummaryComponentControl.cs">UserSummaryComponentControl.cs</a></li>
  <li><a href="UserSummaryComponentControl.designer.cs">UserSummaryComponentControl.designer.cs</a></li>
  <li><a href="UserSummaryComponentControl.resx">UserSummaryComponentControl.resx</a></li>
  <li><a href="UserSummaryComponentView.cs">UserSummaryComponentView.cs</a></li>
  <li><a href="bin/">bin/</a></li>
  <li><a href="obj/">obj/</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.apache.org/">Apache Subversion</a> version 1.7.1 (r1186859).</em>
</body></html>