<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClickOncePublisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClickOnce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClickOncePublisher.Properties.Settings>
            <setting name="PublishDirectory" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="CertificateFile" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="CertificatePassword" serializeAs="String">
                <value />
            </setting>
        </ClickOncePublisher.Properties.Settings>
    </userSettings>
</configuration>