<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Shreds.ImageAvailability.ImageAvailabilitySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Shreds.ImageAvailability.ImageAvailabilitySettings>
            <setting name="DefaultStrategyExpirationTimeInHours" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DefaultStrategyNextScheduledTimeForUnknownAvailabilityInMinutes"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultStrategyNextScheduledTimeForZeroAvailabilityInMinutes"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultStrategyNextScheduledTimeForPartialAvailabilityInMinutes"
                serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CallingAETitle" serializeAs="String">
                <value>ImageAvailabilityScu</value>
            </setting>
            <setting name="DicomServerAETitle" serializeAs="String">
                <value>serverAE</value>
            </setting>
            <setting name="DicomServerHost" serializeAs="String">
                <value>serverHost</value>
            </setting>
            <setting name="DicomServerPort" serializeAs="String">
                <value>4006</value>
            </setting>
            <setting name="BatchSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SleepDurationInSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NextScheduledTimeForErrorInMinutes" serializeAs="String">
                <value>10</value>
            </setting>
        </ClearCanvas.Ris.Shreds.ImageAvailability.ImageAvailabilitySettings>
    </applicationSettings>
</configuration>