<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Client.Common.FormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Common.AddressSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Client.Common.FormatSettings>
            <setting name="HealthcardNumberMask" serializeAs="String">
                <value>0000 000 000</value>
            </setting>
            <setting name="HealthcardVersionCodeMask" serializeAs="String">
                <value>LL</value>
            </setting>
            <setting name="TelephoneNumberLocalMask" serializeAs="String">
                <value>000-0000</value>
            </setting>
            <setting name="TelephoneNumberFullMask" serializeAs="String">
                <value>(000) 000-0000</value>
            </setting>
        </ClearCanvas.Ris.Client.Common.FormatSettings>
        <ClearCanvas.Ris.Client.Common.AddressSettings>
            <setting name="Countries" serializeAs="String">
                <value>Canada</value>
            </setting>
            <setting name="Provinces" serializeAs="String">
                <value>ON, AB, BC, MB, NB, NL, NS, PE, QC, SK, NT, NU, YT</value>
            </setting>
        </ClearCanvas.Ris.Client.Common.AddressSettings>
    </applicationSettings>
</configuration>