<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageViewer.Services.Tools.ServiceControlSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.ImageViewer.Services.Tools.ServiceControlSettings>
            <setting name="TimeoutSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>ClearCanvas Shred Host Service</value>
            </setting>
        </ClearCanvas.ImageViewer.Services.Tools.ServiceControlSettings>
    </applicationSettings>
</configuration>