<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageServer.Common.Diagnostics.DiagnosticSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.ImageServer.Common.Debug" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.ImageServer.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>

  <ClearCanvas.ImageServer.Common.Diagnostics.DiagnosticSettings>
      <setting name="SimulateEditError" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="SimulateFileIOError" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="SimulateTierMigrationError" serializeAs="String">
          <value>False</value>
      </setting>
  </ClearCanvas.ImageServer.Common.Diagnostics.DiagnosticSettings>
  <ClearCanvas.ImageServer.Common.Settings>
      <setting name="StudyHeaderIncludePrivateTags" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="StudyHeaderIncludeUNTags" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="StudyHeaderMaxValueLength" serializeAs="String">
          <value>16384</value>
      </setting>
      <setting name="DefaultStudyRootFolder" serializeAs="String">
          <value>Unknown</value>
      </setting>
      <setting name="FilesystemCheckDelaySeconds" serializeAs="String">
          <value>120</value>
      </setting>
      <setting name="DbChangeDelaySeconds" serializeAs="String">
          <value>180</value>
      </setting>
      <setting name="UseReceiveDateAsFolder" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="TooManyStudyMoveWarningThreshold" serializeAs="String">
          <value>15</value>
      </setting>
      <setting name="DeviceConfig_MaxConnections" serializeAs="String">
          <value>15</value>
      </setting>
      <setting name="EnablePatientsNameAutoCorrection" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="TemporaryPath" serializeAs="String">
		  <value>C:\FS\TEMP</value>
      </setting>
  </ClearCanvas.ImageServer.Common.Settings>
    </applicationSettings>
</configuration>