.GlobalGridView
{
    font-family: Sans-Serif;
    font-size: 12px;
    background: #ffffff;
    border: solid 1px #3d98d1; 
}

.GlobalGridViewHeader
{
    background: #ffffff url(../../images/Controls/GridView/GridViewHeaderBackground.png) repeat-x;
    height: 23px;
	text-align: left;
	padding-bottom: 2px;
	padding-left: 3px;
	color: #205F87;
}

.GlobalGridViewRow
{
}

.GlobalGridViewRow td
{
    border-bottom: solid 2px #eeeeee;
    padding-left: 3px;
    height: 18px;
}

.GlobalGridViewAlternatingRow td
{
    padding-left: 3px;
    border-bottom: solid 2px #eeeeee;
    height: 18px;
}

.GlobalGridViewSelectedRow
{
    
}

.GlobalGridViewSelectedRow td
{
    Height: 18px;
    background: #eeeeee url(../../images/Controls/GridView/GridViewSelectedBackground.png) repeat-x;
    border-bottom: solid 2px #eeeeee;
    color: Black;
    padding-left: 3px;
}

/*==========================================
 * Grid Pager
 *==========================================*/

.GlobalGridPager
{
    background: url(../../images/Controls/GridView/GridViewPagerTopBackground.png) repeat-x;
    height: 18px;
}

.GlobalGridPagerLabel
{
    font-family: Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    color: #D13D4D; 
    padding-left: 5px;
    padding-bottom: 2px;
    vertical-align: middle;
}

.GlobalGridPagerLink
{
    font-family: Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #D13D4D; 
    vertical-align: middle;
}

.GlobalGridPagerLinkDisabled
{
    font-family: Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #B8D8EE; 
    vertical-align: middle;
}