.GlobalGridView
{
    font-family: Sans-Serif;
    font-size: 12px;
    background: #ffffff;
    border: solid 1px #3D98D1;
}

.GlobalGridViewHeader
{
    background: #ffffff url(../../../../PersistantImage.ashx?key=GridViewHeaderBackground) repeat-x;
    height: 23px;
	text-align: left;
	padding-left: 8px;
	color: #205F87;
}

.GlobalGridViewRow
{
    border-bottom: solid 2px #eeeeee;
    padding: 0px 0px 0px 8px;
    height: 20px;
}

.GlobalGridViewRow td
{
    border-bottom: solid 2px #eeeeee;
    padding: 0px 0px 0px 8px;
    height: 20px;
}

.GlobalGridViewAlternatingRow
{
    padding: 0px 0px 0px 8px;
    border-bottom: solid 2px #eeeeee;
    height: 20px;
}

.GlobalGridViewAlternatingRow td
{
    padding: 0px 0px 0px 8px;
    border-bottom: solid 2px #eeeeee;
    height: 20px;
}

.GlobalGridViewSelectedRow
{
    background-color: #dddddd;
    border-bottom: solid 2px #eeeeee;
    padding: 0px 0px 0px 8px;
    height: 20px;    
}

.GlobalGridViewSelectedRow td
{
    background-color: #D5FFCA;
    border-bottom: solid 2px #eeeeee;
    color: Black;
    height: 20px;
    padding: 0px 0px 0px 8px;
}

.GlobalGridViewEmptyText
{
    color: #205F87;
    font-weight: bold;
    font-size: 12px;
}

/*==========================================
 * Grid Pager
 *==========================================*/

.GlobalGridPager
{
    background: #e1eff7 url(../../../../PersistantImage.ashx?key=GridViewPagerTopBackground) repeat-x bottom;
    height: 24px;
}

.GlobalGridPagerLabel
{
    font-family: Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    color:  #55be50;
    padding-left: 0px;
    vertical-align: middle;
    top: 
}

.GlobalGridPagerLink
{
    font-family: Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #55be50; 
    vertical-align: middle;
}

.GlobalGridPagerLinkDisabled
{
    font-family: Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #dddddd; 
    vertical-align: middle;
}

.GridViewTextBox
{
    font-family: Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    padding-left: 2px;
    padding-right: 2px;
    width: 100px;
	margin-left: 1px;
	margin-right: 1px;
	border: solid 1px #3D98D1;
    background: #ffffff url(../../../../PersistantImage.ashx?key=SearchTextBoxBackground) repeat-x ;
}

.GridViewTextBox.hover {
	background: #fff;
	border: solid 1px #99CCFF;
	font-weight: bold;
	color: #333333;
}

.GridViewTextBox.focus {
	background: #fff;
	border: solid 1px #99CCFF;
	font-weight: bold;
	color: #333333;
}
