<html><head><title>AC3 - Revision 21: /Code/Ris/Client/Workflow/View/WinForms</title></head>
<body>
 <h2>AC3 - Revision 21: /Code/Ris/Client/Workflow/View/WinForms</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="CancelOrderComponentControl.Designer.cs">CancelOrderComponentControl.Designer.cs</a></li>
  <li><a href="CancelOrderComponentControl.cs">CancelOrderComponentControl.cs</a></li>
  <li><a href="CancelOrderComponentControl.resx">CancelOrderComponentControl.resx</a></li>
  <li><a href="CancelOrderComponentView.cs">CancelOrderComponentView.cs</a></li>
  <li><a href="CheckInOrderComponentControl.Designer.cs">CheckInOrderComponentControl.Designer.cs</a></li>
  <li><a href="CheckInOrderComponentControl.cs">CheckInOrderComponentControl.cs</a></li>
  <li><a href="CheckInOrderComponentControl.resx">CheckInOrderComponentControl.resx</a></li>
  <li><a href="CheckInOrderComponentView.cs">CheckInOrderComponentView.cs</a></li>
  <li><a href="ClearCanvas.Ris.Client.Workflow.View.WinForms.csproj">ClearCanvas.Ris.Client.Workflow.View.WinForms.csproj</a></li>
  <li><a href="DicomSeriesEditorComponentControl.Designer.cs">DicomSeriesEditorComponentControl.Designer.cs</a></li>
  <li><a href="DicomSeriesEditorComponentControl.cs">DicomSeriesEditorComponentControl.cs</a></li>
  <li><a href="DicomSeriesEditorComponentControl.resx">DicomSeriesEditorComponentControl.resx</a></li>
  <li><a href="DicomSeriesEditorComponentView.cs">DicomSeriesEditorComponentView.cs</a></li>
  <li><a href="DowntimePrintFormsComponentControl.Designer.cs">DowntimePrintFormsComponentControl.Designer.cs</a></li>
  <li><a href="DowntimePrintFormsComponentControl.cs">DowntimePrintFormsComponentControl.cs</a></li>
  <li><a href="DowntimePrintFormsComponentControl.resx">DowntimePrintFormsComponentControl.resx</a></li>
  <li><a href="DowntimePrintFormsComponentView.cs">DowntimePrintFormsComponentView.cs</a></li>
  <li><a href="DowntimeReportEntryComponentControl.Designer.cs">DowntimeReportEntryComponentControl.Designer.cs</a></li>
  <li><a href="DowntimeReportEntryComponentControl.cs">DowntimeReportEntryComponentControl.cs</a></li>
  <li><a href="DowntimeReportEntryComponentControl.resx">DowntimeReportEntryComponentControl.resx</a></li>
  <li><a href="DowntimeReportEntryComponentView.cs">DowntimeReportEntryComponentView.cs</a></li>
  <li><a href="Folders/">Folders/</a></li>
  <li><a href="FoldersComponentControl.Designer.cs">FoldersComponentControl.Designer.cs</a></li>
  <li><a href="FoldersComponentControl.cs">FoldersComponentControl.cs</a></li>
  <li><a href="FoldersComponentControl.resx">FoldersComponentControl.resx</a></li>
  <li><a href="FoldersComponentView.cs">FoldersComponentView.cs</a></li>
  <li><a href="LinkProceduresComponentControl.Designer.cs">LinkProceduresComponentControl.Designer.cs</a></li>
  <li><a href="LinkProceduresComponentControl.cs">LinkProceduresComponentControl.cs</a></li>
  <li><a href="LinkProceduresComponentControl.resx">LinkProceduresComponentControl.resx</a></li>
  <li><a href="LinkProceduresComponentView.cs">LinkProceduresComponentView.cs</a></li>
  <li><a href="MergeOrdersComponentControl.Designer.cs">MergeOrdersComponentControl.Designer.cs</a></li>
  <li><a href="MergeOrdersComponentControl.cs">MergeOrdersComponentControl.cs</a></li>
  <li><a href="MergeOrdersComponentControl.resx">MergeOrdersComponentControl.resx</a></li>
  <li><a href="MergeOrdersComponentView.cs">MergeOrdersComponentView.cs</a></li>
  <li><a href="OrderEditorComponentControl.Designer.cs">OrderEditorComponentControl.Designer.cs</a></li>
  <li><a href="OrderEditorComponentControl.cs">OrderEditorComponentControl.cs</a></li>
  <li><a href="OrderEditorComponentControl.resx">OrderEditorComponentControl.resx</a></li>
  <li><a href="OrderEditorComponentView.cs">OrderEditorComponentView.cs</a></li>
  <li><a href="PatientProfilePreviewComponentView.cs">PatientProfilePreviewComponentView.cs</a></li>
  <li><a href="PerformedProcedureComponentControl.Designer.cs">PerformedProcedureComponentControl.Designer.cs</a></li>
  <li><a href="PerformedProcedureComponentControl.cs">PerformedProcedureComponentControl.cs</a></li>
  <li><a href="PerformedProcedureComponentControl.resx">PerformedProcedureComponentControl.resx</a></li>
  <li><a href="PerformedProcedureComponentView.cs">PerformedProcedureComponentView.cs</a></li>
  <li><a href="PerformingDocumentationComponentControl.Designer.cs">PerformingDocumentationComponentControl.Designer.cs</a></li>
  <li><a href="PerformingDocumentationComponentControl.cs">PerformingDocumentationComponentControl.cs</a></li>
  <li><a href="PerformingDocumentationComponentControl.resx">PerformingDocumentationComponentControl.resx</a></li>
  <li><a href="PerformingDocumentationComponentView.cs">PerformingDocumentationComponentView.cs</a></li>
  <li><a href="PerformingDocumentationOrderDetailsComponentControl.Designer.cs">PerformingDocumentationOrderDetailsComponentControl.Designer.cs</a></li>
  <li><a href="PerformingDocumentationOrderDetailsComponentControl.cs">PerformingDocumentationOrderDetailsComponentControl.cs</a></li>
  <li><a href="PerformingDocumentationOrderDetailsComponentControl.resx">PerformingDocumentationOrderDetailsComponentControl.resx</a></li>
  <li><a href="PerformingDocumentationOrderDetailsComponentView.cs">PerformingDocumentationOrderDetailsComponentView.cs</a></li>
  <li><a href="PriorReportComponentControl.Designer.cs">PriorReportComponentControl.Designer.cs</a></li>
  <li><a href="PriorReportComponentControl.cs">PriorReportComponentControl.cs</a></li>
  <li><a href="PriorReportComponentControl.resx">PriorReportComponentControl.resx</a></li>
  <li><a href="PriorReportComponentView.cs">PriorReportComponentView.cs</a></li>
  <li><a href="Properties/">Properties/</a></li>
  <li><a href="ProtocolEditorComponentControl.Designer.cs">ProtocolEditorComponentControl.Designer.cs</a></li>
  <li><a href="ProtocolEditorComponentControl.cs">ProtocolEditorComponentControl.cs</a></li>
  <li><a href="ProtocolEditorComponentControl.resx">ProtocolEditorComponentControl.resx</a></li>
  <li><a href="ProtocolEditorComponentView.cs">ProtocolEditorComponentView.cs</a></li>
  <li><a href="ProtocollingComponentControl.Designer.cs">ProtocollingComponentControl.Designer.cs</a></li>
  <li><a href="ProtocollingComponentControl.cs">ProtocollingComponentControl.cs</a></li>
  <li><a href="ProtocollingComponentControl.resx">ProtocollingComponentControl.resx</a></li>
  <li><a href="ProtocollingComponentView.cs">ProtocollingComponentView.cs</a></li>
  <li><a href="ReasonSelectionComponentControl.Designer.cs">ReasonSelectionComponentControl.Designer.cs</a></li>
  <li><a href="ReasonSelectionComponentControl.cs">ReasonSelectionComponentControl.cs</a></li>
  <li><a href="ReasonSelectionComponentControl.resx">ReasonSelectionComponentControl.resx</a></li>
  <li><a href="ReasonSelectionComponentView.cs">ReasonSelectionComponentView.cs</a></li>
  <li><a href="ReassignComponentControl.Designer.cs">ReassignComponentControl.Designer.cs</a></li>
  <li><a href="ReassignComponentControl.cs">ReassignComponentControl.cs</a></li>
  <li><a href="ReassignComponentControl.resx">ReassignComponentControl.resx</a></li>
  <li><a href="ReassignComponentView.cs">ReassignComponentView.cs</a></li>
  <li><a href="ReconciliationComponentControl.Designer.cs">ReconciliationComponentControl.Designer.cs</a></li>
  <li><a href="ReconciliationComponentControl.cs">ReconciliationComponentControl.cs</a></li>
  <li><a href="ReconciliationComponentControl.resx">ReconciliationComponentControl.resx</a></li>
  <li><a href="ReconciliationComponentView.cs">ReconciliationComponentView.cs</a></li>
  <li><a href="ReconciliationConfirmComponentControl.Designer.cs">ReconciliationConfirmComponentControl.Designer.cs</a></li>
  <li><a href="ReconciliationConfirmComponentControl.cs">ReconciliationConfirmComponentControl.cs</a></li>
  <li><a href="ReconciliationConfirmComponentControl.resx">ReconciliationConfirmComponentControl.resx</a></li>
  <li><a href="ReconciliationConfirmComponentView.cs">ReconciliationConfirmComponentView.cs</a></li>
  <li><a href="ReportEditorComponentView.cs">ReportEditorComponentView.cs</a></li>
  <li><a href="ReportEditorComponentViewBase.cs">ReportEditorComponentViewBase.cs</a></li>
  <li><a href="ReportingComponentControl.Designer.cs">ReportingComponentControl.Designer.cs</a></li>
  <li><a href="ReportingComponentControl.cs">ReportingComponentControl.cs</a></li>
  <li><a href="ReportingComponentControl.resx">ReportingComponentControl.resx</a></li>
  <li><a href="ReportingComponentView.cs">ReportingComponentView.cs</a></li>
  <li><a href="Resources/">Resources/</a></li>
  <li><a href="RichTextReportEditorComponentControl.Designer.cs">RichTextReportEditorComponentControl.Designer.cs</a></li>
  <li><a href="RichTextReportEditorComponentControl.cs">RichTextReportEditorComponentControl.cs</a></li>
  <li><a href="RichTextReportEditorComponentControl.resx">RichTextReportEditorComponentControl.resx</a></li>
  <li><a href="SR.Designer.cs">SR.Designer.cs</a></li>
  <li><a href="SR.resx">SR.resx</a></li>
  <li><a href="StaffSelectionComponentControl.Designer.cs">StaffSelectionComponentControl.Designer.cs</a></li>
  <li><a href="StaffSelectionComponentControl.cs">StaffSelectionComponentControl.cs</a></li>
  <li><a href="StaffSelectionComponentControl.resx">StaffSelectionComponentControl.resx</a></li>
  <li><a href="StaffSelectionComponentView.cs">StaffSelectionComponentView.cs</a></li>
  <li><a href="TranscriptionComponentControl.Designer.cs">TranscriptionComponentControl.Designer.cs</a></li>
  <li><a href="TranscriptionComponentControl.cs">TranscriptionComponentControl.cs</a></li>
  <li><a href="TranscriptionComponentControl.resx">TranscriptionComponentControl.resx</a></li>
  <li><a href="TranscriptionComponentView.cs">TranscriptionComponentView.cs</a></li>
  <li><a href="TranscriptionEditorComponentView.cs">TranscriptionEditorComponentView.cs</a></li>
  <li><a href="VisitDetailsEditorComponentControl.Designer.cs">VisitDetailsEditorComponentControl.Designer.cs</a></li>
  <li><a href="VisitDetailsEditorComponentControl.cs">VisitDetailsEditorComponentControl.cs</a></li>
  <li><a href="VisitDetailsEditorComponentControl.resx">VisitDetailsEditorComponentControl.resx</a></li>
  <li><a href="VisitDetailsEditorComponentView.cs">VisitDetailsEditorComponentView.cs</a></li>
  <li><a href="VisitLocationsSummaryComponentControl.Designer.cs">VisitLocationsSummaryComponentControl.Designer.cs</a></li>
  <li><a href="VisitLocationsSummaryComponentControl.cs">VisitLocationsSummaryComponentControl.cs</a></li>
  <li><a href="VisitLocationsSummaryComponentControl.resx">VisitLocationsSummaryComponentControl.resx</a></li>
  <li><a href="VisitLocationsSummaryComponentView.cs">VisitLocationsSummaryComponentView.cs</a></li>
  <li><a href="VisitPractitionersSummaryComponentControl.Designer.cs">VisitPractitionersSummaryComponentControl.Designer.cs</a></li>
  <li><a href="VisitPractitionersSummaryComponentControl.cs">VisitPractitionersSummaryComponentControl.cs</a></li>
  <li><a href="VisitPractitionersSummaryComponentControl.resx">VisitPractitionersSummaryComponentControl.resx</a></li>
  <li><a href="VisitPractitionersSummaryComponentView.cs">VisitPractitionersSummaryComponentView.cs</a></li>
  <li><a href="WorklistPrintComponentControl.Designer.cs">WorklistPrintComponentControl.Designer.cs</a></li>
  <li><a href="WorklistPrintComponentControl.cs">WorklistPrintComponentControl.cs</a></li>
  <li><a href="WorklistPrintComponentControl.resx">WorklistPrintComponentControl.resx</a></li>
  <li><a href="WorklistPrintComponentView.cs">WorklistPrintComponentView.cs</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.apache.org/">Apache Subversion</a> version 1.7.1 (r1186859).</em>
</body></html>