<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Client.Reporting.ReportEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Reporting.ReportingPreviewComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Client.Reporting.SupervisorSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Client.Reporting.ReportEditorComponentSettings>
            <setting name="ReportEditorPageUrl" serializeAs="String">
                <value>http://localhost/RIS/reporteditor.htm</value>
            </setting>
            <setting name="ReportPreviewPageUrl" serializeAs="String">
                <value>http://localhost/RIS/reportpreview.htm</value>
            </setting>
            <setting name="AddendumEditorPageUrl" serializeAs="String">
                <value>http://localhost/RIS/addendumeditor.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.Reporting.ReportEditorComponentSettings>
        <ClearCanvas.Ris.Client.Reporting.ReportingPreviewComponentSettings>
            <setting name="DetailsPageUrl" serializeAs="String">
                <value>http://localhost/RIS/radiologistpreview.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.Reporting.ReportingPreviewComponentSettings>
    </applicationSettings>
    <userSettings>
        <ClearCanvas.Ris.Client.Reporting.SupervisorSettings>
            <setting name="SupervisorID" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Ris.Client.Reporting.SupervisorSettings>
    </userSettings>
</configuration>