<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings">
	  <section name="ClearCanvas.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>
  </configSections>
  <applicationSettings>
	<ClearCanvas.Common.ExtensionSettings>
	  <setting name="ExtensionConfigurationXml" serializeAs="Xml">
		<value>
		  <extensions>
			<extension class="ClearCanvas.Enterprise.Core.InProcessCoreServiceProvider, ClearCanvas.Enterprise.Core" enabled="true"/>
			<extension class="ClearCanvas.Enterprise.Common.RemoteCoreServiceProvider, ClearCanvas.Enterprise.Common" enabled="false"/>
			<extension class="ClearCanvas.Enterprise.Common.Audit.AuditSink, ClearCanvas.Enterprise.Common" enabled="false"/>
		  </extensions>
		</value>
	  </setting>
	</ClearCanvas.Common.ExtensionSettings>
  </applicationSettings>
  <connectionStrings>
		<clear/>
		<add name="ImageServerConnectString"
		  connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=ImageServer"
		  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

