<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings">
			<section name="ClearCanvas.ImageServer.Common.WebServicesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.ImageServer.Common.RemoteImageServerServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<ClearCanvas.ImageServer.Common.WebServicesSettings>
			<setting name="BaseUri" serializeAs="String">
				<value>http://localhost:9998</value>
			</setting>
			<setting name="SecurityMode" serializeAs="String">
				<value>None</value>
			</setting>
		</ClearCanvas.ImageServer.Common.WebServicesSettings>
		
		<ClearCanvas.Common.ExtensionSettings>
			<setting name="ExtensionConfigurationXml" serializeAs="Xml">
				<value>
					<extensions>
						<!-- provide access to core enterprise services locally -->
						<extension class="ClearCanvas.Enterprise.Core.InProcessCoreServiceProvider, ClearCanvas.Enterprise.Core" enabled="false" />
						<!-- provide access to core enterprise services remotely -->
						<extension class="ClearCanvas.Enterprise.Common.RemoteCoreServiceProvider, ClearCanvas.Enterprise.Common" enabled="false" />

						<!-- provide access to Image Server services locally -->
						<extension class="ClearCanvas.ImageServer.Common.InProcessImageServerApplicationServiceProvider, ClearCanvas.ImageServer.Common" enabled="true" />
						<!-- provide access to Image Server services remotely -->
						<extension class="ClearCanvas.ImageServer.Common.RemoteImageServerServiceProvider, ClearCanvas.ImageServer.Common" enabled="false" />

						<!-- provide access to the Enterprise Time service -->
						<extension class="ClearCanvas.Enterprise.Common.EnterpriseTimeProvider, ClearCanvas.Enterprise.Common" enabled="false" />

						<!-- provide access to the Enterprise Audit service -->
						<extension class="ClearCanvas.Enterprise.Common.Audit.AuditSink, ClearCanvas.Enterprise.Common" enabled="false" />

						<!-- Image Server stand-alone authentication service -->
						<extension class="ClearCanvas.ImageServer.Services.Common.Authentication.DefaultAuthenticationService, ClearCanvas.ImageServer.Services.Common" enabled="false" />
						<!-- Image Server alert service -->
						<extension class="ClearCanvas.ImageServer.Services.Common.Alert.AlertService, ClearCanvas.ImageServer.Services.Common" enabled="true" />
						<!-- Image Server filesystem info service -->
						<extension class="ClearCanvas.ImageServer.Services.Common.Misc.FilesystemInfoService, ClearCanvas.ImageServer.Services.Common" enabled="true" />
					</extensions>
				</value>
			</setting>
		</ClearCanvas.Common.ExtensionSettings>
		
		<ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings>
			<setting name="BaseUrl" serializeAs="String">
				<value>net.tcp://localhost:9999/</value>
			</setting>
			<setting name="ConfigurationClass" serializeAs="String">
				<value>ClearCanvas.Enterprise.Common.ServiceConfiguration.Client.NetTcpConfiguration, ClearCanvas.Enterprise.Common</value>
			</setting>
			<setting name="MaxReceivedMessageSize" serializeAs="String">
				<value>2000000</value>
			</setting>
			<setting name="CertificateValidationMode" serializeAs="String">
				<value>PeerOrChainTrust</value>
			</setting>
			<setting name="RevocationMode" serializeAs="String">
				<value>NoCheck</value>
			</setting>
			<setting name="UserCredentialsProviderClass" serializeAs="String">
				<value></value>
			</setting>
			<setting name="FailoverBaseUrl" serializeAs="String">
				<value />
			</setting>
		</ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings>

		<ClearCanvas.ImageServer.Common.RemoteImageServerServiceSettings>
			<setting name="BaseUrl" serializeAs="String">
				<value>http://localhost:9998/</value>
			</setting>
			<setting name="FailoverBaseUrl" serializeAs="String">
				<value />
			</setting>
			<setting name="ConfigurationClass" serializeAs="String">
				<value>ClearCanvas.ImageServer.Common.ClientWsHttpConfiguration, ClearCanvas.ImageServer.Common</value>
			</setting>
			<setting name="MaxReceivedMessageSize" serializeAs="String">
				<value>2000000</value>
			</setting>
			<setting name="CertificateValidationMode" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="RevocationMode" serializeAs="String">
				<value>NoCheck</value>
			</setting>
			<setting name="UserCredentialsProviderClass" serializeAs="String">
				<value />
			</setting>
		</ClearCanvas.ImageServer.Common.RemoteImageServerServiceSettings>

	</applicationSettings>
	<connectionStrings>
		<clear/>
		<add name="ImageServerConnectString"
			connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=ImageServerTrial"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHeaderStreamingService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom"
				 textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</basicHttpBinding>
			
		</bindings>
	</system.serviceModel>
</configuration>

