<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings">
	  <section name="ClearCanvas.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>
  </configSections>
  <applicationSettings>
	<ClearCanvas.Common.ExtensionSettings>
	  <setting name="ExtensionConfigurationXml" serializeAs="Xml">
		<value>
		  <extensions>
			  <extension class="ClearCanvas.Enterprise.Core.InProcessCoreServiceProvider, ClearCanvas.Enterprise.Core" enabled="false" />
			  <extension class="ClearCanvas.Enterprise.Common.RemoteCoreServiceProvider, ClearCanvas.Enterprise.Common" enabled="false" />
			  <extension class="ClearCanvas.ImageServer.Enterprise.InProcessApplicationServiceProvider, ClearCanvas.ImageServer.Enterprise" enabled="true" />
			  <extension class="ClearCanvas.ImageServer.Enterprise.RemoteServiceProvider, ClearCanvas.ImageServer.Enterprise" enabled="true" />

			  <!-- These are enterprise plugins -->
			  <extension class="ClearCanvas.Enterprise.Common.EnterpriseTimeProvider, ClearCanvas.Enterprise.Common" enabled="false" />
			  <extension class="ClearCanvas.Enterprise.Authentication.AuthenticationService, ClearCanvas.Enterprise.Authentication" enabled="false" />
			  <extension class="ClearCanvas.Enterprise.Authentication.Admin.UserAdminService, ClearCanvas.Enterprise.Authentication" enabled="false" />
			  <extension class="ClearCanvas.Enterprise.Authentication.Admin.AuthorityGroupAdminService, ClearCanvas.Enterprise.Authentication" enabled="false" />
			  <extension class="ClearCanvas.Enterprise.Common.Audit.AuditSink, ClearCanvas.Enterprise.Common" enabled="true" />
			  <!-- these are local plugins -->
			  <extension class="ClearCanvas.ImageServer.Services.Common.Authentication.DefaultAuthenticationService, ClearCanvas.ImageServer.Services.Common" enabled="true" />
			  <extension class="ClearCanvas.ImageServer.Services.Common.Audit.DefaultAuditService, ClearCanvas.ImageServer.Services.Common" enabled="true" />
		  </extensions>
	  </value>
  </setting>
	</ClearCanvas.Common.ExtensionSettings>
  </applicationSettings>
  <connectionStrings>
		<clear/>
		<add name="ImageServerConnectString"
		  connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=ImageServer"
		  providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="NetTcpAuthenticationServiceBehavior">
					<clientCredentials>
						<serviceCertificate>
							<authentication certificateValidationMode="None" revocationMode="NoCheck" />
						</serviceCertificate>
					</clientCredentials>
				</behavior>
				<behavior name="NetTcpAdminServiceBehavior">
					<clientCredentials>
						<clientCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
						<serviceCertificate>
							<authentication certificateValidationMode="None" revocationMode="NoCheck" />
						</serviceCertificate>
					</clientCredentials>
				</behavior>
				<behavior name="NetTcpAuthorityAdminServiceBehavior">
					<clientCredentials>
						<clientCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
						<serviceCertificate>
							<authentication certificateValidationMode="None" revocationMode="NoCheck" />
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="AuthenticatinServiceBinding">
					<security mode="Transport">
						<transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="None" />
					</security>
				</binding>
				<binding name="AdminServiceBinding">
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="UserName" />
					</security>
				</binding>
				<binding name="AuthorityAdminServiceBinding">
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</netTcpBinding>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHeaderStreamingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" transferMode="Streamed" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			  <endpoint address="net.tcp://localhost:8000/ClearCanvas.Enterprise.Common.Authentication.IAuthenticationService" behaviorConfiguration="NetTcpAuthenticationServiceBehavior" binding="netTcpBinding" bindingConfiguration="AuthenticatinServiceBinding" contract="ClearCanvas.Enterprise.Common.Authentication.IAuthenticationService" name="AuthenticationEndPoint" />
			  <endpoint address="net.tcp://localhost:8000/ClearCanvas.Enterprise.Common.Admin.UserAdmin.IUserAdminService" behaviorConfiguration="NetTcpAdminServiceBehavior" binding="netTcpBinding" bindingConfiguration="AdminServiceBinding" contract="ClearCanvas.Enterprise.Common.Admin.UserAdmin.IUserAdminService" name="AdminServiceEndPoint" />
			  <endpoint address="net.tcp://localhost:8000/ClearCanvas.Enterprise.Common.Admin.AuthorityGroupAdmin.IAuthorityGroupAdminService" behaviorConfiguration="NetTcpAuthorityAdminServiceBehavior" binding="netTcpBinding" bindingConfiguration="AuthorityAdminServiceBinding" contract="ClearCanvas.Enterprise.Common.Admin.AuthorityGroupAdmin.IAuthorityGroupAdminService" name="AuthorityAdminServiceEndPoint" />
		</client>
	   </system.serviceModel>
</configuration>

