<?xml version="1.0"?>
<configuration>
	<applicationSettings>
		<ClearCanvas.Common.ExtensionSettings>
			<setting name="ExtensionConfigurationXml" serializeAs="Xml">
				<value>
					<extensions>
						<!-- DO NOT CHANGE THESE SETTINGS -->
						
						<extension class="ClearCanvas.ImageServer.Services.Common.Authentication.DefaultAuthenticationService, ClearCanvas.ImageServer.Services.Common" enabled="true" />
						<!-- provide access to core enterprise services locally -->
						<extension class="ClearCanvas.Enterprise.Core.InProcessCoreServiceProvider, ClearCanvas.Enterprise.Core" enabled="false" />
						<!-- provide access to core enterprise services remotely -->
						<extension class="ClearCanvas.Enterprise.Common.RemoteCoreServiceProvider, ClearCanvas.Enterprise.Common" enabled="false" />
						<!-- provide access to Image Server services locally -->
						<extension class="ClearCanvas.ImageServer.Common.InProcessImageServerServiceProvider, ClearCanvas.ImageServer.Common" enabled="true" />
						<!-- provide access to Image Server services remotely -->
						<extension class="ClearCanvas.ImageServer.Common.RemoteImageServerServiceProvider, ClearCanvas.ImageServer.Common" enabled="true" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Alert.AlertService, ClearCanvas.ImageServer.Services.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Misc.FilesystemInfoService, ClearCanvas.ImageServer.Services.Common" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.EnterpriseTimeProvider, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.Audit.AuditSink, ClearCanvas.Enterprise.Common" enabled="false" />

					</extensions>
				</value>
			</setting>
		</ClearCanvas.Common.ExtensionSettings>
	</applicationSettings>
</configuration>