<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ShredHostServiceSettings" type="ClearCanvas.Server.ShredHost.ShredHostServiceSettings, ClearCanvas.Server.ShredHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
		<sectionGroup name="applicationSettings">
			<section name="ClearCanvas.Common.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<ClearCanvas.Common.ProductSettings>
			<setting name="Component" serializeAs="String">
				<value>jL55pMp+3yM7A6LSOywdX1oRfRZd9RvJ</value>
			</setting>
			<setting name="Version" serializeAs="String">
				<value />
			</setting>
			<setting name="VersionSuffix" serializeAs="String">
				<value>vKfTr+ue1fm9jaIYbfkY5g==</value>
			</setting>
			<setting name="Copyright" serializeAs="String">
				<value>SQpazixeCBBvq0bzF3/Un/1Jj+VVYb1ASJnvtW5wOq0MkD6q0e5fsBbTSf/1f3YmOupFw9rtXbA=</value>
			</setting>
			<setting name="License" serializeAs="String">
				<value>SQpazixeCBD4G1zRA+eXWoOkhHpv4j+3ZFb8u6nTqdHUCrHs03TmjVNqz3nFBQnQrGTwhxAjmuQ0DBhC2+vHA6CI2jCC4pwsA7DitYNJDilFVMvNsJTitOPvZ2WpmJfjCs/uCmaoBw0lqA7NrCVKZJaGgaD8XIudDqkFPU4OsL/wgjqVOo83xyCs3b9xcBItyeTUFHNppcNj4NqIyv8guNYRwXNheWprF18wtLHeYjrMUurLJkcNhtzMnVh8kJtrAEiaCpZ9X54u1rB6IDHH+tyC+2I5GiVXtcoJy7TDWO0=</value>
			</setting>
			<setting name="Product" serializeAs="String">
				<value>jL55pMp+3yM9uLAdmMqy1EZCbfkuN9/i</value>
			</setting>
			<setting name="Edition" serializeAs="String">
				<value />
			</setting>
			<setting name="AllowDiagnosticUse" serializeAs="String">
				<value />
			</setting>
		</ClearCanvas.Common.ProductSettings>
		
		<ClearCanvas.Common.ExtensionSettings>

			<setting name="ExtensionConfigurationXml" serializeAs="Xml">

				<value>

					<extensions>
						<extension class="ClearCanvas.ImageServer.Services.Common.Misc.ProductVerificationService, ClearCanvas.ImageServer.Services.Common" enabled="true" />						
						<extension class="ClearCanvas.Enterprise.Core.InProcessCoreServiceProvider, ClearCanvas.Enterprise.Core" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.RemoteCoreServiceProvider, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Common.InProcessImageServerServiceProvider, ClearCanvas.ImageServer.Common" enabled="true" />
						<extension class="ClearCanvas.ImageServer.Common.RemoteImageServerServiceProvider, ClearCanvas.ImageServer.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Authentication.DefaultAuthenticationService, ClearCanvas.ImageServer.Services.Common" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.EnterpriseTimeProvider, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.Audit.AuditSink, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Alert.AlertService, ClearCanvas.ImageServer.Services.Common" enabled="true" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Misc.FilesystemInfoService, ClearCanvas.ImageServer.Services.Common" enabled="true" />
						<extension class="ClearCanvas.Enterprise.Common.EnterpriseConfigurationStore, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.EnterpriseSettingsStore, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Measurement.CalibrationTool, ClearCanvas.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Measurement.RectangularRoiTool, ClearCanvas.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Measurement.PolygonalRoiTool, ClearCanvas.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.ClearCustomShuttersTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.EditHistoryTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.CineTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.DrawShutterTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Layout.Basic.LayoutTool, ClearCanvas.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.ImageProperties.ImagePropertiesTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.TextCalloutTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.MagnificationTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Layout.Basic.PriorStudyFinder, ClearCanvas.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Layout.Basic.PriorStudyLoaderExceptionPolicy, ClearCanvas.ImageViewer.Layout.Basic" enabled="false" />
					</extensions>

				</value>

			</setting>

		</ClearCanvas.Common.ExtensionSettings>
	</applicationSettings>
</configuration>

