<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Shreds.ShredsSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <ClearCanvas.Ris.Shreds.ShredsSettings>
        <setting name="DefaultImageAvailabilityUpdateStrategyExpirationTimeInHours"
          serializeAs="String">
          <value>24</value>
        </setting>
        <setting name="DefaultImageAvailabilityUpdateStrategyNextScheduledTimeForUnknownAvailabilityInMinutes"
          serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="DefaultImageAvailabilityUpdateStrategyNextScheduledTimeForZeroAvailabilityInMinutes"
          serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="DefaultImageAvailabilityUpdateStrategyNextScheduledTimeForPartialAvailabilityInMinutes"
          serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="ImageAvailabilityDicomCallingAETitle" serializeAs="String">
          <value>ImageAvailabilityScu</value>
        </setting>
        <setting name="ImageAvailabilityDicomServerAETitle" serializeAs="String">
          <value>serverAE</value>
        </setting>
        <setting name="ImageAvailabilityDicomServerHost" serializeAs="String">
          <value>serverHost</value>
        </setting>
        <setting name="ImageAvailabilityDicomServerPort" serializeAs="String">
          <value>4006</value>
        </setting>
        <setting name="BatchSize" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="SleepDurationInSeconds" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="ImageAvailabilityNextScheduledTimeForErrorInMinutes"
          serializeAs="String">
          <value>10</value>
        </setting>
      </ClearCanvas.Ris.Shreds.ShredsSettings>
    </applicationSettings>
</configuration>