<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.View.WinForms.SplashScreenSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.View.WinForms.DesktopViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.View.WinForms.TableViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.View.WinForms.DesktopViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Desktop.View.WinForms.SplashScreenSettings>
            <setting name="UseSplashScreenSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundImageAssemblyName" serializeAs="String">
                <value>ClearCanvas.Desktop.View.WinForms</value>
            </setting>
            <setting name="BackgroundImageResourceName" serializeAs="String">
                <value>Resources.Splash.png</value>
            </setting>
            <setting name="StatusVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusLocation" serializeAs="String">
                <value>295, 61</value>
            </setting>
            <setting name="StatusSize" serializeAs="String">
                <value>354, 13</value>
            </setting>
            <setting name="StatusAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StatusFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="CopyrightVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyrightLocation" serializeAs="String">
                <value>375, 340</value>
            </setting>
            <setting name="CopyrightSize" serializeAs="String">
                <value>286, 13</value>
            </setting>
            <setting name="CopyrightAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyrightForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CopyrightFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyrightTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="CopyrightText" serializeAs="String">
                <value>Copyright 2009 ClearCanvas Inc. All rights reserved.</value>
            </setting>
            <setting name="VersionVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VersionLocation" serializeAs="String">
                <value>447, 292</value>
            </setting>
            <setting name="VersionSize" serializeAs="String">
                <value>214, 13</value>
            </setting>
            <setting name="VersionAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="VersionFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="VersionTextFormat" serializeAs="String">
                <value>Version {0} Alpha</value>
            </setting>
            <setting name="VersionAssemblyName" serializeAs="String">
                <value>ClearCanvas.Desktop.View.WinForms</value>
            </setting>
            <setting name="LicenseVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseLocation" serializeAs="String">
                <value>617, 9</value>
            </setting>
            <setting name="LicenseSize" serializeAs="String">
                <value>44, 13</value>
            </setting>
            <setting name="LicenseAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LicenseFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="LicenseText" serializeAs="String">
                <value />
            </setting>
            <setting name="PluginIconsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PluginIconsRectangle" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
        </ClearCanvas.Desktop.View.WinForms.SplashScreenSettings>
        <ClearCanvas.Desktop.View.WinForms.DesktopViewSettings>
            <setting name="LocalToolStripItemAlignment" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="LocalToolStripItemTextImageRelation" serializeAs="String">
                <value>ImageBeforeText</value>
            </setting>
            <setting name="ShowNonPermissibleActions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableNonPermissibleActions" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Desktop.View.WinForms.DesktopViewSettings>
        <ClearCanvas.Desktop.View.WinForms.TableViewSettings>
            <setting name="ToolStripItemTextImageRelation" serializeAs="String">
                <value>ImageBeforeText</value>
            </setting>
            <setting name="ToolStripItemAlignment" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Desktop.View.WinForms.TableViewSettings>
    </applicationSettings>
    <userSettings>
        <ClearCanvas.Desktop.View.WinForms.DesktopViewSettings>
            <setting name="DesktopViewSettingsXml" serializeAs="Xml">
                <value>
                    <desktops />
                </value>
            </setting>
        </ClearCanvas.Desktop.View.WinForms.DesktopViewSettings>
    </userSettings>
</configuration>