<html><head><title>AC3 - Revision 21: /Code/Desktop/View/WinForms</title></head>
<body>
 <h2>AC3 - Revision 21: /Code/Desktop/View/WinForms</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="ActiveMenuItem.cs">ActiveMenuItem.cs</a></li>
  <li><a href="ActiveToolbarButton.cs">ActiveToolbarButton.cs</a></li>
  <li><a href="ApplicationComponentUserControl.Designer.cs">ApplicationComponentUserControl.Designer.cs</a></li>
  <li><a href="ApplicationComponentUserControl.cs">ApplicationComponentUserControl.cs</a></li>
  <li><a href="ApplicationComponentUserControl.resx">ApplicationComponentUserControl.resx</a></li>
  <li><a href="ApplicationView.cs">ApplicationView.cs</a></li>
  <li><a href="BindingTreeLevelManager.cs">BindingTreeLevelManager.cs</a></li>
  <li><a href="BindingTreeNode.cs">BindingTreeNode.cs</a></li>
  <li><a href="BindingTreeView.Designer.cs">BindingTreeView.Designer.cs</a></li>
  <li><a href="BindingTreeView.cs">BindingTreeView.cs</a></li>
  <li><a href="BindingTreeView.resx">BindingTreeView.resx</a></li>
  <li><a href="BitmapOverlayForm.cs">BitmapOverlayForm.cs</a></li>
  <li><a href="BlockingOperationView.cs">BlockingOperationView.cs</a></li>
  <li><a href="CheckBoxStyle.cs">CheckBoxStyle.cs</a></li>
  <li><a href="ClearCanvas.Desktop.View.WinForms.csproj">ClearCanvas.Desktop.View.WinForms.csproj</a></li>
  <li><a href="ClearCanvasStyle.cs">ClearCanvasStyle.cs</a></li>
  <li><a href="CloseHelperComponentControl.Designer.cs">CloseHelperComponentControl.Designer.cs</a></li>
  <li><a href="CloseHelperComponentControl.cs">CloseHelperComponentControl.cs</a></li>
  <li><a href="CloseHelperComponentControl.resx">CloseHelperComponentControl.resx</a></li>
  <li><a href="CloseHelperComponentView.cs">CloseHelperComponentView.cs</a></li>
  <li><a href="ComboBoxField.Designer.cs">ComboBoxField.Designer.cs</a></li>
  <li><a href="ComboBoxField.cs">ComboBoxField.cs</a></li>
  <li><a href="ComboBoxField.resx">ComboBoxField.resx</a></li>
  <li><a href="Configuration/">Configuration/</a></li>
  <li><a href="ConvertEnum.cs">ConvertEnum.cs</a></li>
  <li><a href="CursorFactory.cs">CursorFactory.cs</a></li>
  <li><a href="CursorManager.cs">CursorManager.cs</a></li>
  <li><a href="CustomTableCellEditControl.cs">CustomTableCellEditControl.cs</a></li>
  <li><a href="CustomUserControl.cs">CustomUserControl.cs</a></li>
  <li><a href="DataGridViewWithDragSupport.cs">DataGridViewWithDragSupport.cs</a></li>
  <li><a href="DateTimeField.Designer.cs">DateTimeField.Designer.cs</a></li>
  <li><a href="DateTimeField.cs">DateTimeField.cs</a></li>
  <li><a href="DateTimeField.resx">DateTimeField.resx</a></li>
  <li><a href="DefaultCodeEditorComponentControl.Designer.cs">DefaultCodeEditorComponentControl.Designer.cs</a></li>
  <li><a href="DefaultCodeEditorComponentControl.cs">DefaultCodeEditorComponentControl.cs</a></li>
  <li><a href="DefaultCodeEditorComponentControl.resx">DefaultCodeEditorComponentControl.resx</a></li>
  <li><a href="DefaultCodeEditorComponentView.cs">DefaultCodeEditorComponentView.cs</a></li>
  <li><a href="DelayedEventDispatcher.cs">DelayedEventDispatcher.cs</a></li>
  <li><a href="Delegates.cs">Delegates.cs</a></li>
  <li><a href="DesktopForm.cs">DesktopForm.cs</a></li>
  <li><a href="DesktopForm.designer.cs">DesktopForm.designer.cs</a></li>
  <li><a href="DesktopForm.resx">DesktopForm.resx</a></li>
  <li><a href="DesktopMonitorComponentControl.Designer.cs">DesktopMonitorComponentControl.Designer.cs</a></li>
  <li><a href="DesktopMonitorComponentControl.cs">DesktopMonitorComponentControl.cs</a></li>
  <li><a href="DesktopMonitorComponentControl.resx">DesktopMonitorComponentControl.resx</a></li>
  <li><a href="DesktopMonitorComponentView.cs">DesktopMonitorComponentView.cs</a></li>
  <li><a href="DesktopObjectView.cs">DesktopObjectView.cs</a></li>
  <li><a href="DesktopViewSettings.Designer.cs">DesktopViewSettings.Designer.cs</a></li>
  <li><a href="DesktopViewSettings.cs">DesktopViewSettings.cs</a></li>
  <li><a href="DesktopViewSettings.settings">DesktopViewSettings.settings</a></li>
  <li><a href="DesktopWindowView.cs">DesktopWindowView.cs</a></li>
  <li><a href="DialogBoxForm.Designer.cs">DialogBoxForm.Designer.cs</a></li>
  <li><a href="DialogBoxForm.cs">DialogBoxForm.cs</a></li>
  <li><a href="DialogBoxForm.resx">DialogBoxForm.resx</a></li>
  <li><a href="DialogBoxView.cs">DialogBoxView.cs</a></li>
  <li><a href="DragDropObject.cs">DragDropObject.cs</a></li>
  <li><a href="DropDownButtonToolbarItem.cs">DropDownButtonToolbarItem.cs</a></li>
  <li><a href="DropDownToolbarItem.cs">DropDownToolbarItem.cs</a></li>
  <li><a href="DropListPickerField.cs">DropListPickerField.cs</a></li>
  <li><a href="DropListPickerField.designer.cs">DropListPickerField.designer.cs</a></li>
  <li><a href="DropListPickerField.resx">DropListPickerField.resx</a></li>
  <li><a href="ExceptionDialog.cs">ExceptionDialog.cs</a></li>
  <li><a href="ExceptionDialogControl.Designer.cs">ExceptionDialogControl.Designer.cs</a></li>
  <li><a href="ExceptionDialogControl.cs">ExceptionDialogControl.cs</a></li>
  <li><a href="GalleryComponentControl.Designer.cs">GalleryComponentControl.Designer.cs</a></li>
  <li><a href="GalleryComponentControl.cs">GalleryComponentControl.cs</a></li>
  <li><a href="GalleryComponentControl.resx">GalleryComponentControl.resx</a></li>
  <li><a href="GalleryComponentListViewControl.cs">GalleryComponentListViewControl.cs</a></li>
  <li><a href="GalleryComponentView.cs">GalleryComponentView.cs</a></li>
  <li><a href="GalleryView.Designer.cs">GalleryView.Designer.cs</a></li>
  <li><a href="GalleryView.cs">GalleryView.cs</a></li>
  <li><a href="GalleryView.resx">GalleryView.resx</a></li>
  <li><a href="GuiToolkit.cs">GuiToolkit.cs</a></li>
  <li><a href="HtmlComponentControl.Designer.cs">HtmlComponentControl.Designer.cs</a></li>
  <li><a href="HtmlComponentControl.cs">HtmlComponentControl.cs</a></li>
  <li><a href="HtmlComponentControl.resx">HtmlComponentControl.resx</a></li>
  <li><a href="HtmlComponentView.cs">HtmlComponentView.cs</a></li>
  <li><a href="IconFactory.cs">IconFactory.cs</a></li>
  <li><a href="Icons/">Icons/</a></li>
  <li><a href="KeyModifiersPicker.cs">KeyModifiersPicker.cs</a></li>
  <li><a href="KeyStrokeCaptureBox.cs">KeyStrokeCaptureBox.cs</a></li>
  <li><a href="ListItemSelector.Designer.cs">ListItemSelector.Designer.cs</a></li>
  <li><a href="ListItemSelector.cs">ListItemSelector.cs</a></li>
  <li><a href="ListItemSelector.resx">ListItemSelector.resx</a></li>
  <li><a href="MessageBox.cs">MessageBox.cs</a></li>
  <li><a href="NavigatorComponentContainerControl.Designer.cs">NavigatorComponentContainerControl.Designer.cs</a></li>
  <li><a href="NavigatorComponentContainerControl.cs">NavigatorComponentContainerControl.cs</a></li>
  <li><a href="NavigatorComponentContainerControl.resx">NavigatorComponentContainerControl.resx</a></li>
  <li><a href="NavigatorComponentContainerView.cs">NavigatorComponentContainerView.cs</a></li>
  <li><a href="NonEmptyNumericUpDown.cs">NonEmptyNumericUpDown.cs</a></li>
  <li><a href="NullableMaskedEdit.cs">NullableMaskedEdit.cs</a></li>
  <li><a href="OrderedSet.cs">OrderedSet.cs</a></li>
  <li><a href="PopupForm.Designer.cs">PopupForm.Designer.cs</a></li>
  <li><a href="PopupForm.cs">PopupForm.cs</a></li>
  <li><a href="PopupForm.resx">PopupForm.resx</a></li>
  <li><a href="PopupWindowHelper.cs">PopupWindowHelper.cs</a></li>
  <li><a href="ProgressDialogComponentControl.Designer.cs">ProgressDialogComponentControl.Designer.cs</a></li>
  <li><a href="ProgressDialogComponentControl.cs">ProgressDialogComponentControl.cs</a></li>
  <li><a href="ProgressDialogComponentControl.resx">ProgressDialogComponentControl.resx</a></li>
  <li><a href="ProgressDialogComponentView.cs">ProgressDialogComponentView.cs</a></li>
  <li><a href="Properties/">Properties/</a></li>
  <li><a href="Resources/">Resources/</a></li>
  <li><a href="RichTextField.Designer.cs">RichTextField.Designer.cs</a></li>
  <li><a href="RichTextField.cs">RichTextField.cs</a></li>
  <li><a href="RichTextField.resx">RichTextField.resx</a></li>
  <li><a href="SR.Designer.cs">SR.Designer.cs</a></li>
  <li><a href="SR.resx">SR.resx</a></li>
  <li><a href="ScreenInfoProvider.cs">ScreenInfoProvider.cs</a></li>
  <li><a href="ShelfView.cs">ShelfView.cs</a></li>
  <li><a href="SimpleComponentContainerControl.Designer.cs">SimpleComponentContainerControl.Designer.cs</a></li>
  <li><a href="SimpleComponentContainerControl.cs">SimpleComponentContainerControl.cs</a></li>
  <li><a href="SimpleComponentContainerControl.resx">SimpleComponentContainerControl.resx</a></li>
  <li><a href="SimpleComponentContainerView.cs">SimpleComponentContainerView.cs</a></li>
  <li><a href="SizeHintHelper.cs">SizeHintHelper.cs</a></li>
  <li><a href="SplashScreen.cs">SplashScreen.cs</a></li>
  <li><a href="SplashScreen.designer.cs">SplashScreen.designer.cs</a></li>
  <li><a href="SplashScreen.resx">SplashScreen.resx</a></li>
  <li><a href="SplashScreenManager.cs">SplashScreenManager.cs</a></li>
  <li><a href="SplashScreenSettings.Designer.cs">SplashScreenSettings.Designer.cs</a></li>
  <li><a href="SplashScreenSettings.cs">SplashScreenSettings.cs</a></li>
  <li><a href="SplashScreenSettings.settings">SplashScreenSettings.settings</a></li>
  <li><a href="SplitComponentContainerControl.Designer.cs">SplitComponentContainerControl.Designer.cs</a></li>
  <li><a href="SplitComponentContainerControl.cs">SplitComponentContainerControl.cs</a></li>
  <li><a href="SplitComponentContainerControl.resx">SplitComponentContainerControl.resx</a></li>
  <li><a href="SplitComponentContainerView.cs">SplitComponentContainerView.cs</a></li>
  <li><a href="StackTab.cs">StackTab.cs</a></li>
  <li><a href="StackTab.resx">StackTab.resx</a></li>
  <li><a href="StackTabComponentContainerControl.Designer.cs">StackTabComponentContainerControl.Designer.cs</a></li>
  <li><a href="StackTabComponentContainerControl.cs">StackTabComponentContainerControl.cs</a></li>
  <li><a href="StackTabComponentContainerControl.resx">StackTabComponentContainerControl.resx</a></li>
  <li><a href="StackTabComponentContainerView.cs">StackTabComponentContainerView.cs</a></li>
  <li><a href="StandardIconSizes.cs">StandardIconSizes.cs</a></li>
  <li><a href="SuggestComboBox.cs">SuggestComboBox.cs</a></li>
  <li><a href="SuggestComboBox.resx">SuggestComboBox.resx</a></li>
  <li><a href="SuggestComboField.Designer.cs">SuggestComboField.Designer.cs</a></li>
  <li><a href="SuggestComboField.cs">SuggestComboField.cs</a></li>
  <li><a href="SuggestComboField.resx">SuggestComboField.resx</a></li>
  <li><a href="TabComponentContainerControl.Designer.cs">TabComponentContainerControl.Designer.cs</a></li>
  <li><a href="TabComponentContainerControl.cs">TabComponentContainerControl.cs</a></li>
  <li><a href="TabComponentContainerControl.resx">TabComponentContainerControl.resx</a></li>
  <li><a href="TabComponentContainerView.cs">TabComponentContainerView.cs</a></li>
  <li><a href="TabGroupComponentContainerControl.Designer.cs">TabGroupComponentContainerControl.Designer.cs</a></li>
  <li><a href="TabGroupComponentContainerControl.cs">TabGroupComponentContainerControl.cs</a></li>
  <li><a href="TabGroupComponentContainerControl.resx">TabGroupComponentContainerControl.resx</a></li>
  <li><a href="TabGroupComponentContainerView.cs">TabGroupComponentContainerView.cs</a></li>
  <li><a href="TableAdapter.cs">TableAdapter.cs</a></li>
  <li><a href="TableDimensionsPicker.cs">TableDimensionsPicker.cs</a></li>
  <li><a href="TableView.Designer.cs">TableView.Designer.cs</a></li>
  <li><a href="TableView.cs">TableView.cs</a></li>
  <li><a href="TableView.resx">TableView.resx</a></li>
  <li><a href="TestComponentControl.Designer.cs">TestComponentControl.Designer.cs</a></li>
  <li><a href="TestComponentControl.cs">TestComponentControl.cs</a></li>
  <li><a href="TestComponentControl.resx">TestComponentControl.resx</a></li>
  <li><a href="TestComponentView.cs">TestComponentView.cs</a></li>
  <li><a href="TextAreaField.Designer.cs">TextAreaField.Designer.cs</a></li>
  <li><a href="TextAreaField.cs">TextAreaField.cs</a></li>
  <li><a href="TextAreaField.resx">TextAreaField.resx</a></li>
  <li><a href="TextField.Designer.cs">TextField.Designer.cs</a></li>
  <li><a href="TextField.cs">TextField.cs</a></li>
  <li><a href="TextField.resx">TextField.resx</a></li>
  <li><a href="TimestampField.Designer.cs">TimestampField.Designer.cs</a></li>
  <li><a href="TimestampField.cs">TimestampField.cs</a></li>
  <li><a href="TimestampField.resx">TimestampField.resx</a></li>
  <li><a href="ToolStripBuilder.cs">ToolStripBuilder.cs</a></li>
  <li><a href="TrackBarUpDown.Designer.cs">TrackBarUpDown.Designer.cs</a></li>
  <li><a href="TrackBarUpDown.cs">TrackBarUpDown.cs</a></li>
  <li><a href="TrackBarUpDown.resx">TrackBarUpDown.resx</a></li>
  <li><a href="UserUpgradeProgressDialogView.cs">UserUpgradeProgressDialogView.cs</a></li>
  <li><a href="UserUpgradeProgressForm.Designer.cs">UserUpgradeProgressForm.Designer.cs</a></li>
  <li><a href="UserUpgradeProgressForm.cs">UserUpgradeProgressForm.cs</a></li>
  <li><a href="UserUpgradeProgressForm.resx">UserUpgradeProgressForm.resx</a></li>
  <li><a href="Win32Constants.cs">Win32Constants.cs</a></li>
  <li><a href="WinFormsActionView.cs">WinFormsActionView.cs</a></li>
  <li><a href="WinFormsView.cs">WinFormsView.cs</a></li>
  <li><a href="WorkspaceDialogBoxForm.Designer.cs">WorkspaceDialogBoxForm.Designer.cs</a></li>
  <li><a href="WorkspaceDialogBoxForm.cs">WorkspaceDialogBoxForm.cs</a></li>
  <li><a href="WorkspaceDialogBoxForm.resx">WorkspaceDialogBoxForm.resx</a></li>
  <li><a href="WorkspaceDialogBoxView.cs">WorkspaceDialogBoxView.cs</a></li>
  <li><a href="WorkspaceDialogBoxViewManager.cs">WorkspaceDialogBoxViewManager.cs</a></li>
  <li><a href="WorkspaceView.cs">WorkspaceView.cs</a></li>
  <li><a href="app.config">app.config</a></li>
  <li><a href="bin/">bin/</a></li>
  <li><a href="ccwrkstn.ico">ccwrkstn.ico</a></li>
  <li><a href="obj/">obj/</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.apache.org/">Apache Subversion</a> version 1.7.1 (r1186859).</em>
</body></html>