<html><head><title>AC3 - Revision 21: /Code/Ris/Client/Admin/View/WinForms</title></head>
<body>
 <h2>AC3 - Revision 21: /Code/Ris/Client/Admin/View/WinForms</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="ClearCanvas.Ris.Client.Admin.View.WinForms.csproj">ClearCanvas.Ris.Client.Admin.View.WinForms.csproj</a></li>
  <li><a href="DataImportComponentControl.cs">DataImportComponentControl.cs</a></li>
  <li><a href="DataImportComponentControl.designer.cs">DataImportComponentControl.designer.cs</a></li>
  <li><a href="DataImportComponentControl.resx">DataImportComponentControl.resx</a></li>
  <li><a href="DataImportComponentView.cs">DataImportComponentView.cs</a></li>
  <li><a href="DepartmentEditorComponentControl.Designer.cs">DepartmentEditorComponentControl.Designer.cs</a></li>
  <li><a href="DepartmentEditorComponentControl.cs">DepartmentEditorComponentControl.cs</a></li>
  <li><a href="DepartmentEditorComponentControl.resx">DepartmentEditorComponentControl.resx</a></li>
  <li><a href="DepartmentEditorComponentView.cs">DepartmentEditorComponentView.cs</a></li>
  <li><a href="EnumerationEditorComponentControl.Designer.cs">EnumerationEditorComponentControl.Designer.cs</a></li>
  <li><a href="EnumerationEditorComponentControl.cs">EnumerationEditorComponentControl.cs</a></li>
  <li><a href="EnumerationEditorComponentControl.resx">EnumerationEditorComponentControl.resx</a></li>
  <li><a href="EnumerationEditorComponentView.cs">EnumerationEditorComponentView.cs</a></li>
  <li><a href="EnumerationSummaryComponentControl.Designer.cs">EnumerationSummaryComponentControl.Designer.cs</a></li>
  <li><a href="EnumerationSummaryComponentControl.cs">EnumerationSummaryComponentControl.cs</a></li>
  <li><a href="EnumerationSummaryComponentControl.resx">EnumerationSummaryComponentControl.resx</a></li>
  <li><a href="EnumerationSummaryComponentView.cs">EnumerationSummaryComponentView.cs</a></li>
  <li><a href="FacilityEditorComponentControl.Designer.cs">FacilityEditorComponentControl.Designer.cs</a></li>
  <li><a href="FacilityEditorComponentControl.cs">FacilityEditorComponentControl.cs</a></li>
  <li><a href="FacilityEditorComponentControl.resx">FacilityEditorComponentControl.resx</a></li>
  <li><a href="FacilityEditorComponentView.cs">FacilityEditorComponentView.cs</a></li>
  <li><a href="LocationEditorComponentControl.Designer.cs">LocationEditorComponentControl.Designer.cs</a></li>
  <li><a href="LocationEditorComponentControl.cs">LocationEditorComponentControl.cs</a></li>
  <li><a href="LocationEditorComponentControl.resx">LocationEditorComponentControl.resx</a></li>
  <li><a href="LocationEditorComponentView.cs">LocationEditorComponentView.cs</a></li>
  <li><a href="LocationSummaryComponentControl.Designer.cs">LocationSummaryComponentControl.Designer.cs</a></li>
  <li><a href="LocationSummaryComponentControl.cs">LocationSummaryComponentControl.cs</a></li>
  <li><a href="LocationSummaryComponentControl.resx">LocationSummaryComponentControl.resx</a></li>
  <li><a href="LocationSummaryComponentView.cs">LocationSummaryComponentView.cs</a></li>
  <li><a href="ModalityEditorComponentControl.Designer.cs">ModalityEditorComponentControl.Designer.cs</a></li>
  <li><a href="ModalityEditorComponentControl.cs">ModalityEditorComponentControl.cs</a></li>
  <li><a href="ModalityEditorComponentControl.resx">ModalityEditorComponentControl.resx</a></li>
  <li><a href="ModalityEditorComponentView.cs">ModalityEditorComponentView.cs</a></li>
  <li><a href="NoteCategoryEditorComponentControl.Designer.cs">NoteCategoryEditorComponentControl.Designer.cs</a></li>
  <li><a href="NoteCategoryEditorComponentControl.cs">NoteCategoryEditorComponentControl.cs</a></li>
  <li><a href="NoteCategoryEditorComponentControl.resx">NoteCategoryEditorComponentControl.resx</a></li>
  <li><a href="NoteCategoryEditorComponentView.cs">NoteCategoryEditorComponentView.cs</a></li>
  <li><a href="NoteCategorySummaryComponentControl.Designer.cs">NoteCategorySummaryComponentControl.Designer.cs</a></li>
  <li><a href="PractitionerSummaryComponentControl.Designer.cs">PractitionerSummaryComponentControl.Designer.cs</a></li>
  <li><a href="ProcedureTypeGroupEditorComponentControl.Designer.cs">ProcedureTypeGroupEditorComponentControl.Designer.cs</a></li>
  <li><a href="ProcedureTypeGroupEditorComponentControl.cs">ProcedureTypeGroupEditorComponentControl.cs</a></li>
  <li><a href="ProcedureTypeGroupEditorComponentControl.resx">ProcedureTypeGroupEditorComponentControl.resx</a></li>
  <li><a href="ProcedureTypeGroupEditorComponentView.cs">ProcedureTypeGroupEditorComponentView.cs</a></li>
  <li><a href="ProcedureTypeGroupSummaryComponentControl.Designer.cs">ProcedureTypeGroupSummaryComponentControl.Designer.cs</a></li>
  <li><a href="ProcedureTypeGroupSummaryComponentControl.cs">ProcedureTypeGroupSummaryComponentControl.cs</a></li>
  <li><a href="ProcedureTypeGroupSummaryComponentControl.resx">ProcedureTypeGroupSummaryComponentControl.resx</a></li>
  <li><a href="ProcedureTypeGroupSummaryComponentView.cs">ProcedureTypeGroupSummaryComponentView.cs</a></li>
  <li><a href="ProcedureTypeSummaryComponentControl.Designer.cs">ProcedureTypeSummaryComponentControl.Designer.cs</a></li>
  <li><a href="ProcedureTypeSummaryComponentControl.cs">ProcedureTypeSummaryComponentControl.cs</a></li>
  <li><a href="ProcedureTypeSummaryComponentControl.resx">ProcedureTypeSummaryComponentControl.resx</a></li>
  <li><a href="ProcedureTypeSummaryComponentView.cs">ProcedureTypeSummaryComponentView.cs</a></li>
  <li><a href="Properties/">Properties/</a></li>
  <li><a href="ProtocolCodeEditorComponentControl.Designer.cs">ProtocolCodeEditorComponentControl.Designer.cs</a></li>
  <li><a href="ProtocolCodeEditorComponentControl.cs">ProtocolCodeEditorComponentControl.cs</a></li>
  <li><a href="ProtocolCodeEditorComponentControl.resx">ProtocolCodeEditorComponentControl.resx</a></li>
  <li><a href="ProtocolCodeEditorComponentView.cs">ProtocolCodeEditorComponentView.cs</a></li>
  <li><a href="ProtocolGroupEditorComponentControl.Designer.cs">ProtocolGroupEditorComponentControl.Designer.cs</a></li>
  <li><a href="ProtocolGroupEditorComponentControl.cs">ProtocolGroupEditorComponentControl.cs</a></li>
  <li><a href="ProtocolGroupEditorComponentControl.resx">ProtocolGroupEditorComponentControl.resx</a></li>
  <li><a href="ProtocolGroupEditorComponentView.cs">ProtocolGroupEditorComponentView.cs</a></li>
  <li><a href="Resources/">Resources/</a></li>
  <li><a href="SR.Designer.cs">SR.Designer.cs</a></li>
  <li><a href="SR.resx">SR.resx</a></li>
  <li><a href="ValidationEditorComponentControl.Designer.cs">ValidationEditorComponentControl.Designer.cs</a></li>
  <li><a href="ValidationEditorComponentControl.cs">ValidationEditorComponentControl.cs</a></li>
  <li><a href="ValidationEditorComponentControl.resx">ValidationEditorComponentControl.resx</a></li>
  <li><a href="ValidationEditorComponentView.cs">ValidationEditorComponentView.cs</a></li>
  <li><a href="ValidationManagementComponentControl.Designer.cs">ValidationManagementComponentControl.Designer.cs</a></li>
  <li><a href="ValidationManagementComponentControl.cs">ValidationManagementComponentControl.cs</a></li>
  <li><a href="ValidationManagementComponentControl.resx">ValidationManagementComponentControl.resx</a></li>
  <li><a href="ValidationManagementComponentView.cs">ValidationManagementComponentView.cs</a></li>
  <li><a href="WorkQueueAdminComponentControl.Designer.cs">WorkQueueAdminComponentControl.Designer.cs</a></li>
  <li><a href="WorkQueueAdminComponentControl.cs">WorkQueueAdminComponentControl.cs</a></li>
  <li><a href="WorkQueueAdminComponentControl.resx">WorkQueueAdminComponentControl.resx</a></li>
  <li><a href="WorkQueueAdminComponentView.cs">WorkQueueAdminComponentView.cs</a></li>
  <li><a href="WorklistSummaryComponentControl.Designer.cs">WorklistSummaryComponentControl.Designer.cs</a></li>
  <li><a href="WorklistSummaryComponentControl.cs">WorklistSummaryComponentControl.cs</a></li>
  <li><a href="WorklistSummaryComponentControl.resx">WorklistSummaryComponentControl.resx</a></li>
  <li><a href="WorklistSummaryComponentView.cs">WorklistSummaryComponentView.cs</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.apache.org/">Apache Subversion</a> version 1.7.1 (r1186859).</em>
</body></html>