<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageServer.Services.Streaming.ImageStreaming.WADOServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.ImageServer.Services.Streaming.HeaderRetrieval.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
			<netNamedPipeBinding>
				<binding name="NetNamedPipeBinding_IHeaderRetrievalService" closeTimeout="00:01:00"
       openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions"
         hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
         maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport protectionLevel="EncryptAndSign" />
					</security>
				</binding>
			</netNamedPipeBinding>
        </bindings>
		<services>
			
		</services>
			  
    </system.serviceModel>
    <applicationSettings>
        <ClearCanvas.ImageServer.Services.Streaming.ImageStreaming.WADOServerSettings>
            <setting name="Address" serializeAs="String">
                <value>http://+:1000/wado/</value>
            </setting>
            <setting name="MaxBufferSize" serializeAs="String">
                <value>0</value>
            </setting>
        </ClearCanvas.ImageServer.Services.Streaming.ImageStreaming.WADOServerSettings>
        <ClearCanvas.ImageServer.Services.Streaming.HeaderRetrieval.Settings>
            <setting name="LogStatistics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadBufferSize" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="Binding" serializeAs="String">
                <value>wshttp</value>
            </setting>
        </ClearCanvas.ImageServer.Services.Streaming.HeaderRetrieval.Settings>
    </applicationSettings>
</configuration>