<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Utilities.ProductSettingsGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Utilities.ProductSettingsGenerator.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Utilities.ProductSettingsGenerator.Properties.Settings>
            <setting name="StandardSuffixes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string>RC1</string>
                        <string>RC2</string>
                        <string>RC3</string>
                        <string>SP1</string>
                        <string>SP2</string>
                        <string>SP3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TextEditorCommand" serializeAs="String">
                <value>%WINDIR%\notepad.exe</value>
            </setting>
            <setting name="TextEditorArgs" serializeAs="String">
                <value>{0}</value>
            </setting>
            <setting name="StandardReleases" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string>Alpha</string>
                        <string>Beta</string>
                        <string>Development</string>
                        <string>Pre-Release</string>
                        <string>Daily Build</string>
                        <string>Experimental</string>
                        <string>Source</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ClearCanvas.Utilities.ProductSettingsGenerator.Properties.Settings>
        <ClearCanvas.Utilities.ProductSettingsGenerator.ProductSettings>
            <setting name="Component" serializeAs="String">
                <value>ClearCanvas Workstation</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionSuffix" serializeAs="String">
                <value />
            </setting>
            <setting name="Copyright" serializeAs="String">
                <value>Copyright 2011 ClearCanvas Inc. All rights reserved.</value>
            </setting>
            <setting name="Product" serializeAs="String">
                <value>ClearCanvas RIS/PACS</value>
            </setting>
            <setting name="License" serializeAs="String">
                <value>Copyright (c) 2011, ClearCanvas Inc.
All rights reserved.
http://www.clearcanvas.ca

This software is licensed under the Open Software License v3.0.
For the complete license, see http://www.clearcanvas.ca/OSLv3.0</value>
            </setting>
            <setting name="Edition" serializeAs="String">
                <value />
            </setting>
            <setting name="Release" serializeAs="String">
                <value>Development</value>
            </setting>
        </ClearCanvas.Utilities.ProductSettingsGenerator.ProductSettings>
    </applicationSettings>
</configuration>