/*================================================================================
Global.css - Defines the global styles for the entire web application relating  
             primarily to the elements defined in GlobalMasterPage.master.
==================================================================================*/

/* Global styles for the body */
.GlobalBody
{
	background-color: #c5dee7;
	margin-left:10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	z-index: -1;
	font-family: Sans-Serif;
	font-size: small;
}

/* Panel containing the contents of entire page */
.GlobalContentPanel
{
    background-color: Transparent;
}

/*=======================================================
 * Main Content Panel Items 
 *=====================================================*/

.MainContentPanel 
{
	background-color: White;
	padding: 25px 10px 10px 10px;
}

.MainContentLeftEdge
{
	background: white url(../images/MainContent/MainContentLeftEdge.png) repeat-y;
	width: 14px;
	height: 1px;
}


.MainContentRightEdge
{
	background: white url(../images/MainContent/MainContentRightEdge.png) repeat-y;
	width: 14px;
	height: 1px;
}

.MainContentBottom
{
	background: url(../images/MainContent/MainContentBottom.png) repeat-x;
	height: 14px;   
}

/*************************************************************************************************
	Popup Dialog
*************************************************************************************************/

.CSSPopupWindow
{
	background-color: white;
	
}


.CSSPopupWindowBody 
{ 
	
}

.CSSDialogTabPanelContent
{
	
}
        
.CSSPopupWindowTitleBar
{
	background-color: #3D98D1;
	
	
}

/*****************************************************************************************
	Invalid input indicator styles
*****************************************************************************************/
.CSSInvalidInputIndicatorContainer
{
}

.CSSInvalidIndicatorTooltipPanel
{
	background-color: #ffffcc;
}

.CSSInvalidIndicatorTooltip
{
}


/*****************************************************************************************
	Study Details view styles
*****************************************************************************************/
.CSSStudyDetailsView
{
}

.CSSStudyDetailsViewRowStyle
{

}

.CSSStudyDetailsViewRowStyle td
{

}


.CSSStudyDetailsViewAlternatingRowStyle
{
	background-color:#F7F6F3;
}


.CSSStudyDetailsViewAlternatingRowStyle td
{
	background-color:#F7F6F3;
}


/*****************************************************************************************
	Series grid view styles
*****************************************************************************************/

.CSSSeriesGridView
{
}

.CSSSeriesGridViewHeaderStyle
{
	background-image: url(images/gridheaderbackground.png);
	background-repeat: repeat-x;
}

/* gridview control selected row */
.CSSSeriesGridViewRowStyle
{

}

/* gridview control cell */
.CSSSeriesGridViewRowStyle td
{
	background-color:#F7F6F3;
}

/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle
{

}


/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle td
{
	background-color:Transparent;
}

/* gridview control selected row */
.CSSSeriesGridSelectedRowStyle
{
	background-color:#316AC5;
}


/* gridview cell of the selected row */
.CSSSeriesGridSelectedRowStyle td
{
}


/*************************************************************************************************
	About Page 
*************************************************************************************************/


/* Container for the gridview */
.CSSAboutPanelContainer
{
	
}

/* border of the gridview */
.CSSAboutPanelBorder
{
	border-right: darkgray 1px solid;
	border-top: darkgray 1px solid;
	border-left: darkgray 1px solid;
	border-bottom:darkgray 1px solid;
}

/* gridview content panel */
.CSSAboutPanelContent
{
	
}





/*************************************************************************************************
	Popup Dialog
*************************************************************************************************/


.CSSPopupWindow
{
	border-right: 1px outset;
	border-top: 1px outset;
	border-left: 1px outset;
	border-bottom: 1px outset;
}


.CSSPopupWindowBody 
{ 
	
}

.CSSDialogTabPanelContent
{
	
}

        
.CSSPopupWindowTitleBar
{
	border-bottom: gray 1px ridge;
	
}

/*****************************************************************************************
	Invalid input indicator styles
*****************************************************************************************/
.CSSInvalidInputIndicatorContainer
{
}

.CSSInvalidIndicatorTooltipPanel
{
	border-right: #990000 1px solid;
	border-top: #990000 1px solid;
	border-left: #990000 1px solid;
	border-bottom: #990000 1px solid;
}

.CSSInvalidIndicatorTooltip
{
}


/*****************************************************************************************
	Study Details view styles
*****************************************************************************************/
.CSSStudyDetailsView
{
	border-right: #b0c4de 1px solid;
	border-top: #b0c4de 1px solid;
	border-left: #b0c4de 1px solid;
	border-bottom: #b0c4de 1px solid;
}

.CSSStudyDetailsViewRowStyle
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}

.CSSStudyDetailsViewRowStyle td
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


.CSSStudyDetailsViewAlternatingRowStyle
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


.CSSStudyDetailsViewAlternatingRowStyle td
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


/*****************************************************************************************
	Series grid view styles
*****************************************************************************************/

.CSSSeriesGridView
{
	border-right: #b0c4de 1px solid;
	border-top: #b0c4de 1px solid;
	border-left: #b0c4de 1px solid;
	border-bottom: #b0c4de 1px solid;
}

.CSSSeriesGridViewHeaderStyle
{
	border-right: #eeeeee 1px solid;
	border-top: #eeeeee 1px solid;
	border-left: #eeeeee 1px solid;
	border-bottom: #eeeeee 1px solid;
	
}

/* gridview control selected row */
.CSSSeriesGridViewRowStyle
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}

/* gridview control cell */
.CSSSeriesGridViewRowStyle td
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}

/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle td
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}

/* gridview control selected row */
.CSSSeriesGridSelectedRowStyle
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


/* gridview cell of the selected row */
.CSSSeriesGridSelectedRowStyle td
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


/*************************************************************************************************
	Popup dialog font
*************************************************************************************************/

.CSSPopupWindow
{
	
}


.CSSPopupWindowBody 
{ 
	
}

.CSSDialogTabPanelContent
{
	
}
        
.CSSPopupWindowTitleBar
{
	font-weight: bold;
	font-size: larger;
	text-transform: capitalize;
	color:White;
}

/*****************************************************************************************
	Invalid input indicator styles
*****************************************************************************************/
.CSSInvalidInputIndicatorContainer
{
}

.CSSInvalidIndicatorTooltipPanel
{
	color: #ff6600;
	
}

.CSSInvalidIndicatorTooltip
{
}


/*****************************************************************************************
	Study Details view styles
*****************************************************************************************/
.CSSStudyDetailsView
{
}

.CSSStudyDetailsViewRowStyle
{

}

.CSSStudyDetailsViewRowStyle td
{

}


.CSSStudyDetailsViewAlternatingRowStyle
{

}


.CSSStudyDetailsViewAlternatingRowStyle td
{

}

/*****************************************************************************************
	Series grid view styles
*****************************************************************************************/
.CSSSeriesGridView
{
}


.CSSSeriesGridViewHeaderStyle
{
	
}

.CSSSeriesGridViewHeaderStyle th
{
	font-weight:normal;
	text-align:left;
}

/* gridview control selected row */
.CSSSeriesGridViewRowStyle
{

}

/* gridview control cell */
.CSSSeriesGridViewRowStyle td
{
	color:#333333;
}

/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle
{

}


/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle td
{
	color:#333333;
}

/* gridview control selected row */
.CSSSeriesGridSelectedRowStyle
{
	color:White;
}


/* gridview cell of the selected row */
.CSSSeriesGridSelectedRowStyle td
{
}

/*************************************************************************************************
	About layout
*************************************************************************************************/


/* Container for the gridview */
.CSSAboutPanelContainer
{
	margin-top:3px;
}

/* border of the gridview */
.CSSAboutPanelBorder
{
}

/* gridview content panel */
.CSSAboutPanelContent
{
	height:600px;
	padding:1px;
}




/*************************************************************************************************
	Popup dialog
*************************************************************************************************/


.CSSPopupWindow
{
	
}


.CSSPopupWindowBody 
{ 
	vertical-align: top;
	margin:15px;
}

.CSSDialogTabPanelContent
{
	padding:10px;
}
        
.CSSPopupWindowTitleBar
{
	cursor: move;
	width: 100%;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	
}

/*****************************************************************************************
	Invalid input indicator styles
*****************************************************************************************/
.CSSInvalidInputIndicatorContainer
{
}

.CSSInvalidIndicatorTooltipPanel
{
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	
}

.CSSInvalidIndicatorTooltip
{
}


/*****************************************************************************************
	Study Details view styles
*****************************************************************************************/
.CSSStudyDetailsView
{
}

.CSSStudyDetailsViewHeaderStyle
{

}

.CSSStudyDetailsViewHeaderStyle
{


}



.CSSStudyDetailsViewRowStyle
{

}

.CSSStudyDetailsViewRowStyle td
{

}

.CSSStudyDetailsAlternatingRowStyle
{
}


/*****************************************************************************************
	Series grid view styles
*****************************************************************************************/
.CSSSeriesGridView
{
}


.CSSSeriesGridViewHeaderStyle
{
	
/*	text-wrap: suppress; */
	overflow: visible;

}

/* gridview control selected row */
.CSSSeriesGridViewRowStyle
{

}

/* gridview control cell */
.CSSSeriesGridViewRowStyle td
{
	
}

/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle
{

}


/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle td
{
	
}

/* gridview control selected row */
.CSSSeriesGridSelectedRowStyle
{

}


/* gridview cell of the selected row */
.CSSSeriesGridSelectedRowStyle td
{

}



.InvalidInputHilight
{
	background-color:Yellow;
}


/*************************************************************************************************
	About Page 
*************************************************************************************************/


/* Container for the gridview */
.CSSAboutPanelContainer
{
	
}

/* border of the gridview */
.CSSAboutPanelBorder
{
	border-right: darkgray 1px solid;
	border-top: darkgray 1px solid;
	border-left: darkgray 1px solid;
	border-bottom:darkgray 1px solid;
}

/* gridview content panel */
.CSSAboutPanelContent
{
	
}

/*************************************************************************************************
	Popup Dialog
*************************************************************************************************/


.CSSPopupWindow
{
	border-right: 1px outset;
	border-top: 1px outset;
	border-left: 1px outset;
	border-bottom: 1px outset;
}


.CSSPopupWindowBody 
{ 
	
}

.CSSDialogTabPanelContent
{
	
}

        
.CSSPopupWindowTitleBar
{
	border-bottom: gray 1px ridge;
	
}

/*****************************************************************************************
	Invalid input indicator styles
*****************************************************************************************/
.CSSInvalidInputIndicatorContainer
{
}

.CSSInvalidIndicatorTooltipPanel
{
	border-right: #990000 1px solid;
	border-top: #990000 1px solid;
	border-left: #990000 1px solid;
	border-bottom: #990000 1px solid;
}

.CSSInvalidIndicatorTooltip
{
}


/*****************************************************************************************
	Study Details view styles
*****************************************************************************************/
.CSSStudyDetailsView
{
	border-right: #b0c4de 1px solid;
	border-top: #b0c4de 1px solid;
	border-left: #b0c4de 1px solid;
	border-bottom: #b0c4de 1px solid;
}

.CSSStudyDetailsViewRowStyle
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}

.CSSStudyDetailsViewRowStyle td
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


.CSSStudyDetailsViewAlternatingRowStyle
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


.CSSStudyDetailsViewAlternatingRowStyle td
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


/*****************************************************************************************
	Series grid view styles
*****************************************************************************************/

.CSSSeriesGridView
{
	border-right: #b0c4de 1px solid;
	border-top: #b0c4de 1px solid;
	border-left: #b0c4de 1px solid;
	border-bottom: #b0c4de 1px solid;
}

.CSSSeriesGridViewHeaderStyle
{
	border-right: #eeeeee 1px solid;
	border-top: #eeeeee 1px solid;
	border-left: #eeeeee 1px solid;
	border-bottom: #eeeeee 1px solid;
	
}

/* gridview control selected row */
.CSSSeriesGridViewRowStyle
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}

/* gridview control cell */
.CSSSeriesGridViewRowStyle td
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}

/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


/* gridview control cell */
.CSSSeriesGridViewAlternatingRowStyle td
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}

/* gridview control selected row */
.CSSSeriesGridSelectedRowStyle
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}


/* gridview cell of the selected row */
.CSSSeriesGridSelectedRowStyle td
{
	border-right: #d2d2d2 1px solid;
	border-top: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
}