
.StudyDetailsErrorMessage
{
    text-align:center; 
    font-size: 16px; 
    font-weight: bold; 
    background-color: #FFFFCC;
    padding: 3px 3px 3px 3px;
    margin: 4px 4px 4px 4px;
    color: #FF0000;
    border: solid 1px #ff0000;
}

.StudyDetailsContent
{
    padding: 0px 3px 0px 3px;
}

.SeriesContent
{
    padding: 1px 3px 0px 3px;
}

.PatientName
{
    font-size: 24px;
    font-weight: bold;
    color: #205F87
}

.PatientInfo
{
    color: #205F87;
    white-space: nowrap;
    font-size: 18px;
    padding: 3px 3px 3px 3px;
}

.PatientSummaryTable
{
    background-color: #eeeeee;
}

.SeriesTitle
{
    color: #205F87; 
    font-family: Sans-serif; 
    font-weight: bold; 
    font-size: 20px;
    padding-left: 5px;
}

.StudyDetailsView
{
    font-family: Sans-Serif;
    font-size: 16px;
    background-color: White;
    padding: 1px 1px 1px 1px;
}

.StudyDetailsViewRow
{
}

.StudyDetailsViewRow td
{
    border-bottom: solid 2px #eeeeee;
    border-top: solid 2px #eeeeee;
    border-left: none 1px white;
    border-right: none 1px white;
}


.StudyDetailsViewHeader
{
    font-weight: bold;
    color: #336699;
    border-right: dashed 1px White;
    
    width: 200px;
}

.StudyDetailsViewHeader td
{
    border: solid 1px #cccccc;
}

.StudyDetailsViewAlternatingRow
{
    
}

.StudyDetailsViewAlternatingRow td
{
}

/*****************************************************************************************
	Series gridview styles
*****************************************************************************************/

.SeriesGridView
{
    border: solid 1px #3d98d1;
    font-size: 16px;
}

.SeriesGridViewHeader
{
	background-color: #eeeeee;
	text-align: left;
	color: #205F87;
}

/* gridview control selected row */
.SeriesGridViewRow
{
    
}

/* gridview control cell */
.SeriesGridViewRow td
{
    border-bottom: solid 2px #eeeeee;
    border-top: solid 2px #eeeeee;
}

/* gridview control cell */
.SeriesGridViewAlternatingRow
{

}

/* gridview control cell */
.SeriesGridViewAlternatingRow td
{

}

/* gridview control selected row */
.SeriesGridSelectedRow
{
    background-color: #dddddd;
    border-bottom: solid 2px #dddddd;
    border-top: solid 2px #dddddd;
    color: Black;
}


/* gridview cell of the selected row */
.SeriesGridSelectedRow td
{
    background-color: #dddddd;
    border-bottom: solid 2px #dddddd;
    border-top: solid 2px #dddddd;
    color: Black;
}