
.StudyDetailsErrorMessage
{
    text-align:center; 
    font-size: 16px; 
    font-weight: bold; 
    background-color: #FFFFCC;
    padding: 3px 3px 3px 3px;
    margin: 4px 4px 4px 4px;
    color: #FF0000;
    border: solid 1px #ff0000;
}

.StudyDetailsContent
{
    padding: 0px 2px 0px 2px;
}

.SeriesContent
{
    padding: 1px 3px 0px 3px;
}

.PatientName
{
    font-size: 24px;
    font-weight: bold;
    color: #205F87
}

.PatientInfo
{
    color: #205F87;
    white-space: nowrap;
    font-size: 18px;
    padding: 3px 3px 3px 3px;
}

.PatientSummaryTable
{
    background-color: #eeeeee;
}

.StudyDetailsView
{
    font-family: Sans-Serif;
    font-size: 16px;
    background-color: White;
    padding: 1px 1px 1px 1px;
}

.StudyDetailsViewHeader
{
    font-weight: bold;
    color: #336699;
    border-right: dashed 1px White;
    
    width: 200px;
}

.StudyDetailsViewHeader td
{
    border: solid 1px #cccccc;
}