/*************************************************************************************************

	AJAX Tab control CSS

*************************************************************************************************/


/* .ajax__tab_header - A container element that wraps all of the tabs at the top of the TabContainer. Child CSS classes:.ajax__tab_outer. */
/* .ajax__tab_outer - An outer element of a tab, often used to set the left-side background image of the tab.Child CSS classes: .ajax__tab_inner. */
/* .ajax__tab_inner	 - An inner element of a tab, often used to set the right-side image of the tab. Child CSS classes:.ajax__tab_tab. */
/* .ajax__tab_tab - An element of the tab that contains the text content. Child CSS classes:none. */
/* .ajax__tab_body - A container element that wraps the area where a TabPanel is displayed. Child CSS classes: none. */
/* .ajax__tab_hover - This is applied to a tab when the mouse is hovering over. Child CSS classes:.ajax__tab_outer. */
/* .ajax__tab_active - This is applied to a tab when it is the currently selected tab. Child CSS classes:.ajax__tab_outer. */   


/*************************************************************************************************
	Background styles
*************************************************************************************************/

.TabControl .ajax__tab_header					
{
	background: url(../images/Controls/Tabs/tab-line.gif) repeat-x bottom;
}
.TabControl .ajax__tab_outer
{
	background: url(../images/Controls/Tabs/tab-right.gif) no-repeat right;
}
.TabControl .ajax__tab_inner
{
	background: url(../images/Controls/Tabs/tab-left.gif) no-repeat;
}
.TabControl .ajax__tab_tab
{
	background: url(../images/Controls/Tabs/tab.gif) repeat-x;
}
.TabControl .ajax__tab_hover .ajax__tab_outer
{
	background: url(../images/Controls/Tabs/tab-right.gif) no-repeat right;
}
.TabControl .ajax__tab_hover .ajax__tab_inner
{
	background: url(../images/Controls/Tabs/tab-left.gif) no-repeat;
}
.TabControl .ajax__tab_hover .ajax__tab_tab
{
	background: url(../images/Controls/Tabs/tab-hover.gif) repeat-x;
}
.TabControl .ajax__tab_active .ajax__tab_outer
{
	background: url(../images/tab-active-right.gif) no-repeat right;
}
.TabControl .ajax__tab_active .ajax__tab_inner
{
	background: url(../images/Controls/Tabs/tab-active-left.gif) no-repeat;
}
.TabControl .ajax__tab_active .ajax__tab_tab
{
	background: url(../images/Controls/Tabs/tab-active.gif) repeat-x;
}

/*************************************************************************************************
	Other styles
*************************************************************************************************/

.TabControl .ajax__tab_header
{
	margin:0px;
	
}
	
.TabControl .ajax__tab_outer
{
	height: 25px;
}
.TabControl .ajax__tab_inner
{
	padding-left: 3px;
}
.TabControl .ajax__tab_tab
{
	padding: 6px 6px;
	margin: 0;
	font-family: Sans-Serif;
	font-size:12px;
	
}
.TabControl .ajax__tab_body
{
	margin: 0px;
	padding: 5px;
	border-right: #6699CC 1px solid;
	border-top: #6699CC 1px solid;
	border-left: #6699CC 1px solid;
	border-bottom: #6699CC 1px solid;
}

.TabControl .ajax__tab_active .ajax__tab_tab
{
	font-weight: bold;
	font-size:12px;
	font-family: Sans-Serif;
}

/* tab control content panel */
.CSSTabPanel
{

}



