/*================================================================================
Global.css - Defines the global styles for the entire web application relating  
             primarily to the elements defined in GlobalMasterPage.master.
==================================================================================*/

/* Global styles for the body */
.GlobalBody
{
	background-color: #c5dee7;
	margin:5px 5px 5px 5px;
	z-index: -1;
	font-family: Sans-Serif;
	font-size: 14px;
}

/* Panel containing the contents of entire page */
.GlobalContentPanel
{
    background-color: Transparent;
}

/*=======================================================
 * Main Content Panel Items 
 *=====================================================*/

.MainContentPanel 
{
	background-color: white;
	padding: 7px 5px 5px 5px;
}

.MainContentTable
{
    background: #EFEFEF url(../images/MainContent/Loading.gif) no-repeat center;
}

.MainContentBorder
{
    border-left: solid 3px #3D98D1; 
    border-right: solid 3px #3D98D1;
}

.MainContentLeftEdge
{
	background: white url(../images/MainContent/MainContentLeftEdge.png) repeat-y;
	width: 7px;
	height: 1px;
}

.MainContentRightEdge
{
	background: white url(../images/MainContent/MainContentRightEdge.png) repeat-y;
	width: 7px;
	height: 1px;
}

.MainContentBottom
{
	background: url(../images/MainContent/MainContentBottom.png) repeat-x;
	height: 14px;   
}

.MainContentTitle
{
    color: White; 
    font-family: Sans-serif; 
    font-weight: bold; 
    font-size: 20px;
    padding-left: 8px;
    padding-bottom: 2px;
    background: #3d98d1 url(../images/MainContent/MainContentTitleBackground.png) repeat-x;
}

.MainContentSubTitle
{
    color: #205F87; 
    font-family: Sans-serif; 
    font-weight: bold; 
    font-size: 18px;
    padding-left: 5px;
}

.MainContentTitleButtonPanel
{
    text-align: right;
    background: url(../images/MainContent/MainContentTitleBackground.png) repeat-x;
    padding-right: 4px; 
}

.MainContentCorners{display:block}
.MainContentCorners *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#3d98d1}
.MainContentCorners1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #abd2eb;
  border-right:1px solid #abd2eb;
  background:#6db1dc}
.MainContentCorners2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #ebf4fa;
  border-right:1px solid #ebf4fa;
  background:#61abd9}
.MainContentCorners3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #61abd9;
  border-right:1px solid #61abd9;}
.MainContentCorners4{
  border-left:1px solid #abd2eb;
  border-right:1px solid #abd2eb}
.MainContentCorners5{
  border-left:1px solid #6db1dc;
  border-right:1px solid #6db1dc}
.MainContentCornersFG{
  background:#3d98d1}

.ButtonPanel
{
    text-align: right;
}

/*================================
 * About 
 *================================*/

.AboutPanel
{
    padding-left: 10px;
    padding-right: 10px;
    font-family: Sans-Serif;
    font-size: 14px;
}