/*==================================================
 * Header Items (Main Menu and Location Panel)
 *==================================================*/

.MainMenuPanel
{
	background: url(/PersistantImage.ashx?key=MenuBackground) repeat-x;
	height: 40px;
	text-align: left;
	font-family: Sans-Serif;
	color: #205F87;
}

.MainMenuContent
{
	padding: 11px 0px 0px 0px;
}

.StaticMenu
{
    color: white;
    font-family: Sans-Serif;
    font-size: 16px;
}

.StaticMenuItem
{
    color: white;
    margin: 0px 3px 0px 3px;
    padding: 0px 1px 0px 1px;
    font-family: Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-top: solid 1px #3D98D1;
    border-left: solid 1px #3D98D1;
    border-right: solid 1px #3D98D1;
    border-bottom: solid 1px #3D98D1;
}

.StaticHover
{
    color: white;
    background: #3482b2 url(/PersistantImage.ashx?key=MenuHoverBackground) repeat-x;
    margin: 0px 3px 0px 3px;
    padding: 0px 1px 0px 1px;
    font-family: Sans-Serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-top: solid 1px #2371a1;
    border-left: solid 1px #2371a1;
    border-right: solid 1px #2371a1;
    border-bottom: solid 1px #2371a1;
}

.StaticSelected
{
    color: white;
}

.DynamicMenu
{
    padding: 0px 1px 0px 0px;
    border-left: solid 1px #2371a1;
    border-right: solid 1px #2371a1;
    border-top: solid 1px #2371a1;
    border-bottom: solid 1px #2371a1;
}

.DynamicMenuItem
{
    color: White;
    background: #3482b2;
    font-weight: bold;
    font-size: 14px;
    border-top: solid 1px #3482b2;
    border-bottom: solid 1px #3482b2;
    border-left: solid 1px #3482b2;
    border-right: solid 1px #3482b2;
    padding: 1px 1px 1px 1px;
    margin: 1px;
}

.DynamicHover
{
    color: white;
    background:  url(/PersistantImage.ashx?key=MenuHoverBackground) repeat-x;
    padding: 1px 1px 1px 1px;
    border-top: solid 1px #2371a1;
    border-bottom: solid 1px #2371a1;
    border-left: solid 1px #2371a1;
    border-right: solid 1px #2371a1;
}

.DynamicSelected
{
    color: White;
}