
.StudyDetailsMessage
{
    text-align:center; 
    font-size: 16px; 
    font-weight: bold; 
    background: #FFFFCC url(../../../PersistantImage.ashx?key=ErrorMessageBackground) repeat-x;
    padding: 3px;
    margin: 4px;
    color: #FF0000;
    border: solid 1px #ff0000;
}

.EditStudyDialogErrorMessage
{
    text-align:center; 
    font-size: 12px; 
    font-weight: bold; 
    background: #FFFFCC url(../../../PersistantImage.ashx?key=ErrorMessageBackground) repeat-x;
    padding: 3px;
    margin: 4px;
    color: #FF0000;
    border: solid 1px #ff0000;
}

.PatientName
{
    font-size: 24px;
    font-weight: bold;
    color: #205F87
}

.PatientInfo
{
    color: #205F87;
    white-space: nowrap;
    font-size: 18px;   
}

.PatientSummaryTable
{
    background: #eeeeee url(../../../PersistantImage.ashx?key=PatientSummaryBackground) repeat-x;
    padding: 2px 1px 2px 1px;
    border: solid 1px #999999;
}

.StudyDetailsView
{
    font-family: Sans-Serif;
    font-size: 16px;
    background-color: White;
    padding: 1px 1px 1px 1px;
}

.StudyDetailsViewHeader
{
    font-weight: bold;
    color: #336699;
    border-right: dashed 1px White;
    width: 200px;
}

.StudyDetailsViewHeader td
{
    border: solid 1px #cccccc;
    padding-left: 10px;
}

.StudyDetailsSubTitle
{
    font-size: 14;
    font-weight: bold;
    color: #205F87;
    padding-left: 2px;
    padding-bottom: 3px;
}

.CloseButton
{
    color: White;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.Spacer
{
    background-color: #3D98D1;
}