<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.FormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.Desktop.FormatSettings>
            <setting name="DateFormat" serializeAs="String">
                <value>dd-MMM-yyyy</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>hh:mm tt</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>dd-MMM-yyyy hh:mm tt</value>
            </setting>
        </ClearCanvas.Desktop.FormatSettings>
    </userSettings>
</configuration>