<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="ClearCanvas.Desktop.ToolStripSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          <section name="ClearCanvas.Desktop.FormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          <section name="ClearCanvas.Desktop.Actions.ActionModelSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.DesktopSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.ExceptionHandlerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.Desktop.ToolStripSettings>
            <setting name="WrapLongToolstrips" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Desktop.ToolStripSettings>
        <ClearCanvas.Desktop.Actions.ActionModelSettings>
            <setting name="ActionModelsXml" serializeAs="Xml">
                <value>
                    <action-models />
                </value>
            </setting>
        </ClearCanvas.Desktop.Actions.ActionModelSettings>
        <ClearCanvas.Desktop.FormatSettings>
            <setting name="DateFormat" serializeAs="String">
                <value>dd-MMM-yyyy</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>HH:mm</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>dd-MMM-yyyy HH:mm</value>
            </setting>
        </ClearCanvas.Desktop.FormatSettings>
    </userSettings>
    <applicationSettings>
        <ClearCanvas.Desktop.DesktopSettings>
            <setting name="ApplicationName" serializeAs="String">
                <value>ClearCanvas Workstation</value>
            </setting>
        </ClearCanvas.Desktop.DesktopSettings>
        <ClearCanvas.Desktop.ExceptionHandlerSettings>
            <setting name="ShowStackTraceInDialog" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Desktop.ExceptionHandlerSettings>
    </applicationSettings>
</configuration>